.page-bg-color{
    padding: 1.625rem 0; background-color: #f4f5f7;
}
.breadCrumb{
    margin-bottom: 1.5rem;
    ul{
        list-style: none; padding: 0; margin: 0; display: flex; align-items: center;
        li{
            .route-name{
                font-family: "BSP-Regular";
                font-size: 0.875rem;
                line-height: 1.3;
                text-decoration: none;
                color: var(--text-color);
            }
            &:not(:last-child){margin-right: 0.625rem;}
        }
    }
}

.route-name.activeLink{
    color: var(--color-primary) !important;
}

.backBtn{
    border: 1px solid #0062E1;
    border-radius: 30px;
    padding: 3px 14px;
    text-decoration: none;
    display: inline-flex;
    align-items: center;
    justify-content: center;
    gap: 4px; cursor: pointer;
    span{
        font-family: "BSP-Medium";
    font-size: 0.875rem;
    line-height: normal;
    text-align: center;

    }
}
