@use 'custom-breakpoints' as bp;

.explore-banner {
  background-image: linear-gradient(
      180deg,
      rgba(4, 3, 3, 0.58) 0%,
      rgba(0, 0, 0, 0.32) 53.65%,
      rgba(0, 0, 0, 0.57) 100%
    ),
    url("../../assets/images/banners/explore-banner.jpg");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  .content {
    max-width: 400px;
    padding: 6.25rem 0 8.75rem;
    @include bp.respond-below('mobile-sm') {
      padding: 8rem 0 5.625rem;
    }
    .primary-btn {
      min-width: 280px;
    }
  }
}
