<div class="article-page">
  <div class="article-page-wrapper">
    <div class="article-page-container">
      <!-- Article Banner -->
      <div class="article-banner">
        <img
          class="img-fluid"
          src="assets/images/articles/startup.jpg"
          alt="article image"
        />
      </div>
      <!-- Article Banner End-->

      <!-- Article Breadcrumb -->
      <nav class="breadCrumb">
        <ul>
          <li>
            <a class="route-name" [routerLink]="['/']"><span>Home</span></a>
          </li>
          <li>
            <img
              class="img-fluid"
              src="assets/images/icons/breadcrumb-rt.png"
              alt="breadcrumb-rt"
            />
          </li>
          <li>
            <a class="route-name" [routerLink]="['/articles']"
              ><span>Help me start my business</span></a
            >
          </li>
          <li>
            <img
              class="img-fluid"
              src="assets/images/icons/breadcrumb-rt.png"
              alt="breadcrumb-rt"
            />
          </li>
          <li>
            <a class="route-name" [routerLink]="['/articles']"
              ><span>Articles</span></a
            >
          </li>
          <li>
            <img
              class="img-fluid"
              src="assets/images/icons/breadcrumb-rt.png"
              alt="breadcrumb-rt"
            />
          </li>
        </ul>
      </nav>
      <!-- Article Breadcrumb End -->

      <!-- Article Tagline and Date -->
      <div class="article-tagline">
        <p>Start your business</p>
        <p></p>
      </div>
      <!-- Article Tagline and Date End -->

      <div>
        <h1 class="article-title">
          3 Characteristics of successful start-up founders
        </h1>
        <p class="article-title-description">
          Focus on these traits for a successful start-up business positioned for growth, no matter how tough the markets become. <br/>Nic Simmonds
        </p>
        <p class="text-normal">
          There are as many recipes for start-up success as there are entrepreneurs out there, and although it would be a mistake to assume that one approach can be seamlessly adopted by organisations of all sizes and sectors, certain pillars of entrepreneurship are indispensable, no matter the business you’re in.
        </p>
      </div>

    </div>
    
    <div class="bg-gray-light pt-5 pb-3">
        <div class="article-page-container">
            <h3 class="heading-sm">1. Focus - with energy, consistency and intent</h3>
            <p class="text-normal">While it seems basic, there are lots of entrepreneurs who try to control too many elements and feel like failures if they aren’t in control of everything simultaneously. But there is something powerful about mono-tasking, and not just at the operational level.</p>
            <p class="text-normal">Focus is the essential sidekick to grit and determination, and with enough of it, not even distraction and defeat can slow you down. Instead, it will spur you on to new levels of commitment during your most challenging times – just when you need it most.</p>
        </div>
    </div>

    <div class="article-page-container pt-5 pb-3">
        <h3 class="heading-sm">2. Maintain a positive temperament</h3>
        <p class="text-normal">Nothing kills a business as quickly as resentment from its founder. Any entrepreneur knows that being your own boss isn’t quite the ticket to freedom that many believe it will be. You’ll have two jobs, not one. You’ll work longer and harder than you’ve ever worked before.</p>
        <p class="text-normal">You’ll be bombarded with failures and overwhelming obstacles. Sounds tempting, right? Positivity and self-confidence in your vision are skills that can be learned like any other, but always make sure your confidence is backed up by competence.</p>
    </div>
    
    <div class="bg-gray-light pt-5 pb-3">
        <div class="article-page-container">
            <h3 class="heading-sm">3. Strive to work smarter, not harder</h3>
            <p class="text-normal">Good entrepreneurs are known to break their backs day in and day out, and any failure of their business must be their fault.</p>
            <p class="text-normal"><strong>Here’s the truth:</strong> if you have to sacrifice your nights, your health, your relationships and your happiness just to get your work done, you’re not doing it right. Successful entrepreneurship is about knowing what to devote energy to and when, as well as knowing when to take control and when to relinquish it.</p>
            <p class="text-normal">Your staff is the lifeblood of your business, and they should be quality employees that free your time up to be the leader you need to be. As a business owner, it can be tempting to micromanage, but the adage of “Work on your business, not in it” still rings true today. The big picture is 100% yours, but the daily grind shouldn’t be.</p>
            <p class="text-normal">Entrepreneurs today face tough competition and truly terrifying odds of success. Being talented and hardworking can only take you so far in a game when every yes is preceded by a hundred nos. It is the will to succeed and the determination to never quit that makes all the difference.</p>
        </div>
    </div>

    </div>
  </div>
