@use '../../styles/custom-breakpoints' as bp;

.list-table-container{
    border: 1px solid #CED3D9; border-radius: 0.75rem; overflow: hidden;
    padding: 10px 0;margin-bottom: 2.5rem;background-color: #FFFFFF;
}
.responsive-table{
    width: 100%; overflow-x: auto;
}

.controls{
    display: flex; align-items: center; gap: 1.5rem; padding: 0.5rem 1rem 1rem;
}
.custom-search{
    display: flex; align-items: center; gap: .5rem;
    border: 1px solid #5C6C80; background-color: #FFFFFF; border-radius: 0.5rem;
    padding:0.5rem 1.125rem; height: 3rem; width: 100%; max-width: 400px;
    input{
        border: none; width: 100%;
        font-family: "BSP-Regular"; font-size: 1rem; line-height: normal; color: var(--text-color);
        &::placeholder{
            color: #5C6C80;
        }
        &:focus{
            outline: none; background-color: transparent;
        }
    }
}
.filter-btn{
    border: 1px solid #0051FF; height: 48px; padding: 0.5rem 1.375rem; background-color: #FFFFFF;
    font-family: "BSP-Bold"; font-size: 1rem; line-height: normal; color: #0051FF; text-transform: uppercase;
    display: inline-flex; gap: 8px; align-items: center; justify-content: center;border-radius: 0.5rem;
    @include bp.respond-below('tablet') {
        font-size: .875rem;
    }
}

// Tabs
.custom-tabs{
    display: flex; align-items: center; width: 100%;
    border-bottom: 1px solid #CED3D9; margin-bottom: 0.5rem;
    button{
        position: relative;
        padding: 1rem 2.5rem;
        font-family: "BSP-Medium";
        font-size: 1rem;
        line-height: 1.3;
        text-align: center;
        color: var(--text-medium-gray);
        border: none; background-color: transparent;
        @include bp.respond-below('mobile-xs') {
            font-size: 0.875rem; padding: 1rem 1.5rem;
        }
        &.activetab{
            color: #0051FF !important;
            &::after{
                content: ""; display: block; width: 100%; height: 2px; position: absolute; bottom: 0; left: 0; right: 0;
                background-color: #0051FF;
            }
        }
    }
}
// Tabs End

.custom-table{
    table{
        width: 100%;
        th{
            background-color: #E3E6EA; padding: 1.1875rem 1rem; font-weight: 500;
            span{
                font-family: "BSP-Medium"; font-size: 0.875rem; color: var(--text-color);
            }
            &:last-child{
                text-align: end;
            }
        }
        tbody{
            tr{
                td{
                    padding: 1rem;
                    .text{
                        font-family: "BSP-Regular"; font-size: 0.875rem; color: var(--text-color); margin: 0;
                    }
                    p.text{
                        max-width: 450px;
                        overflow: hidden;
                        text-overflow: ellipsis;
                        white-space: nowrap;
                    }
                    &:last-child{
                       text-align: end;
                    }
                    border-bottom: 1px solid #CED3D9;
                    &:nth-child(2){
                        min-width: 208px;
                        span.text{
                            display: -webkit-box;
                            line-clamp: 2;
                            -webkit-line-clamp: 2; 
                            -webkit-box-orient: vertical;
                            overflow: hidden;
                            text-overflow: ellipsis;
                        }
                    }
                }
                &:last-child{
                    td{
                        border-bottom: 0;
                    }
                }
            }
        }
    }
}

.status-chip{
    display: inline-flex; align-items: center; justify-content: center;
    padding: 4px 8px; white-space: nowrap;
    border: 1px solid transparent;
    border-radius: 1rem;
    background-color: #ffffff;
    .status-text{
        position: relative;
        display: inline-block;
        font-family: "BSP-Regular";
        font-size: 0.75rem;
        line-height: normal;
        color: var(--text-medium-gray);
       }
    .dot{
        width: 7px; height: 7px; background-color: var(--text-medium-gray); display: inline-block; border-radius: 50%;margin-right: 4px;
    }
    &.in-progress{
        border-color: #FFE9C7 !important; background-color: rgba(255, 138, 0, 0.03) !important;
        .dot{
            background-color: #FF8A00 !important;
        }
    }
    &.assigned{
        border-color: #BFDCFC !important; background-color: rgba(0, 81, 255, 0.05) !important;
        .dot{
            background-color: #0051FF !important;
        }
    }
}    


.custom-pagination{
    display: flex; align-items: center; justify-content: center; margin: 0.5rem 0;
    button{
        background-color: transparent; border: none;
        &[disabled], &.disabled {
            opacity: 0.5;
            cursor: not-allowed;
            
            .disabled-arrow {
                opacity: 0.5;
            }
        }
        &:not([disabled]):hover {
            background-color: #f0f0f0;
        }
        img.disabled-arrow {
            filter: grayscale(100%);
        }
    }
    ul{
        list-style: none; padding: 0 1rem;margin: 0;display: flex; align-items: center;
        li{
            &:not(:last-child){margin-right: 0.625rem;}
            button{
                width: 30px; height: 30px; border-radius: 0.5rem; background-color: #FFFFFF;
                font-family: "BSP-Regular";
                font-size: 1rem;
                line-height: normal;
                text-align: center;
                color: var(--text-color);
            }
            &.selected{
                button{
                    background-color: #0062E1 !important; color: #FFFFFF !important;
                }
            }
        }
    }
}