<div>
    <div class="list-table-container">
        <div class="custom-tabs">
            <button type="button" class="activetab">In Progress</button>
            <button type="button">Resolved</button>
        </div>
        <div class="controls">
            <div class="custom-search">
                <img
                    src="assets/images/icons/search-icon.png"
                    class="img-fluid"
                    alt="search"
                />
                <input type="text" placeholder="Search">
            </div>
            <button type="button" class="filter-btn">
                <span>FILTER</span>
                <img
                    src="assets/images/icons/filter-icon.png"
                    class="img-fluid"
                    alt="filter"
                />
            </button>
        </div>
        <div class="custom-table">
            <div class="responsive-table">
                <table>
                    <thead>
                        <tr>
                            <th><span>Type</span></th>
                            <th><span>Subject</span></th>
                            <th><span>Description</span></th>
                            <th><span>Date created</span></th>
                            <th><span>Status</span></th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr>
                            <td>
                                <span class="text">Query</span>
                            </td>
                            <td>
                                <span class="text">Failed bank statement</span>
                            </td>
                            <td>
                                <p class="text">I have not been able to access my bank statements for the past 3</p>
                            </td>
                            <td>
                                <span class="text">27/07/2024</span>
                            </td>
                            <td>
                                <div class="status-chip assigned">
                                    <span class="dot"></span>
                                    <span class="status-text">New</span>
                                </div>
                            </td>
                        </tr>
                        <tr>
                            <td>
                                <span class="text">Query</span>
                            </td>
                            <td>
                                <span class="text">Failed bank statement</span>
                            </td>
                            <td>
                                <p class="text">I have not been able to access my bank statements for the past 3</p>
                            </td>
                            <td>
                                <span class="text">27/07/2024</span>
                            </td>
                            <td>
                                <div class="status-chip assigned">
                                    <span class="dot"></span>
                                    <span class="status-text">New</span>
                                </div>
                            </td>
                        </tr>
                        <tr>
                            <td>
                                <span class="text">Query</span>
                            </td>
                            <td>
                                <span class="text">Failed bank statement</span>
                            </td>
                            <td>
                                <p class="text">I have not been able to access my bank statements for the past 3</p>
                            </td>
                            <td>
                                <span class="text">27/07/2024</span>
                            </td>
                            <td>
                                <div class="status-chip in-progress">
                                    <span class="dot"></span>
                                    <span class="status-text">In progress</span>
                                </div>
                            </td>
                        </tr>
                        <tr>
                            <td>
                                <span class="text">Query</span>
                            </td>
                            <td>
                                <span class="text">Failed bank statement</span>
                            </td>
                            <td>
                                <p class="text">I have not been able to access my bank statements for the past 3</p>
                            </td>
                            <td>
                                <span class="text">27/07/2024</span>
                            </td>
                            <td>
                                <div class="status-chip in-progress">
                                    <span class="dot"></span>
                                    <span class="status-text">In progress</span>
                                </div>
                            </td>
                        </tr>
                        <tr>
                            <td>
                                <span class="text">Query</span>
                            </td>
                            <td>
                                <span class="text">Failed bank statement</span>
                            </td>
                            <td>
                                <p class="text">I have not been able to access my bank statements for the past 3</p>
                            </td>
                            <td>
                                <span class="text">27/07/2024</span>
                            </td>
                            <td>
                                <div class="status-chip assigned">
                                    <span class="dot"></span>
                                    <span class="status-text">Assigned</span>
                                </div>
                            </td>
                        </tr>
                        <tr>
                            <td>
                                <span class="text">Query</span>
                            </td>
                            <td>
                                <span class="text">Failed bank statement</span>
                            </td>
                            <td>
                                <p class="text">I have not been able to access my bank statements for the past 3</p>
                            </td>
                            <td>
                                <span class="text">27/07/2024</span>
                            </td>
                            <td>
                                <div class="status-chip assigned">
                                    <span class="dot"></span>
                                    <span class="status-text">Assigned</span>
                                </div>
                            </td>
                        </tr>
                        <tr>
                            <td>
                                <span class="text">Query</span>
                            </td>
                            <td>
                                <span class="text">Failed bank statement</span>
                            </td>
                            <td>
                                <p class="text">I have not been able to access my bank statements for the past 3</p>
                            </td>
                            <td>
                                <span class="text">27/07/2024</span>
                            </td>
                            <td>
                                <div class="status-chip in-progress">
                                    <span class="dot"></span>
                                    <span class="status-text">In progress</span>
                                </div>
                            </td>
                        </tr>
                        <tr>
                            <td>
                                <span class="text">Query</span>
                            </td>
                            <td>
                                <span class="text">Failed bank statement</span>
                            </td>
                            <td>
                                <p class="text">I have not been able to access my bank statements for the past 3</p>
                            </td>
                            <td>
                                <span class="text">27/07/2024</span>
                            </td>
                            <td>
                                <div class="status-chip in-progress">
                                    <span class="dot"></span>
                                    <span class="status-text">In progress</span>
                                </div>
                            </td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>
    </div>
    <!-- Pagination -->
    <div class="custom-pagination">
        <button type="button">
            <img src="assets/images/icons/carousel-arrow-lt.png" alt="arrow" class="img-fluid" />
        </button>
        <ul>
            <li class="selected">
                <button type="button">1</button>
            </li>
            <li>
                <button type="button">2</button>
            </li>
            <li>
                <button type="button">3</button>
            </li>
            <li>
                <button type="button">4</button>
            </li>
            <li>
                <button type="button">5</button>
            </li>
        </ul>
        <button type="button">
            <img src="assets/images/icons/carousel-arrow-rt.png" alt="arrow" class="img-fluid" />
        </button>
    </div>
    <!-- Pagination End-->

</div>