    <!-- Banner with edge-to-edge image -->
    <section class="banner">
        <div class="banner-content-wrapper">
            <div class="banner-content">
                <h1 class="banner-title">Our solutions</h1>
                <p class="banner-text">Access a variety of tailor-made financial solutions that will help make your business a success</p>
            </div>
        </div>
        <div class="banner-image" style="background-image: url('assets/images/banners/solutions-banner.png');"></div>
    </section>