<app-page-banner
  [title]="'Its time to make the switch'"
  [text]="'Bank with people who are serious about where your business is going'"
  [imageUrl]="'assets/images/banners/solutions-banner.png'"
  [buttonText]="'CALL ME BACK'"
>
</app-page-banner>

<div class="page-bg py-5">
  <div class="custom-container">
    <!-- Breadcrumb -->
    <app-breadcrumb
      customClass="h-center mb-4"
      [breadcrumbs]="[
        { label: 'Home', url: '/' },
        { label: 'Products and Services', url: '/' },
        { label: 'Bank with us', url: '' }
      ]"
      [showBackButton]="true"
      backLink="/"
    >
    </app-breadcrumb>
    <!-- ./Breadcrumb -->

    <app-page-intro
      [title]="'Switch your business bank account to Standard Bank'"
      [description]="
        'Need a business bank account that offers numerous banking benefits? Switch to Standard Bank and find out why more and more businesses choose us as their trusted bank.'
      "
    >
    </app-page-intro>

    <div class="sec-b-space">
      <h3 class="heading-sm mb-4">
        Why switch your business account to us?
      </h3>
      <app-image-heading-card
        [imageHeaduingCards]="imageHeadingCardsData"
      ></app-image-heading-card>
    </div>

    <div class="switch-bank-steps">
      <h3 class="title-md">
        Switch your Business bank account in three easy steps
      </h3>
      <ol class="switch-bank-steps-list">
        <li>
          <p>Complete a <a href="#">Call me back</a> form.</p>
        </li>
        <li>
          <p>
            A consultant will call you and open your account for you. A card
            will be delivered to you or can be collected at a branch.
          </p>
        </li>
        <li>
          <p>
            After you have collected your card, you can register for
            <a href="#">Internet banking</a> and transact immediately.
          </p>
        </li>
      </ol>
      <p class="text-guide">
        Due to rules and regulations we do not have authorisation to switch all
        debit orders, however we will assist with the debit orders we are able
        to, for the remaining debit orders you will be required to contact your
        current financial institution.
      </p>
    </div>
  </div>

  <div class="bg-white py-5">
    <div class="custom-container">
      <app-call-and-explore
        [heading]="'Ready to switch your business account to Standard Bank?'"
        [subHeading]="
          'Start your business banking journey the way you imagined it'
        "
        [callBackIcon]="'assets/images/icons/call-option.png'"
        [callBackAlt]="'icon call'"
        [callBackText]="'Call me back'"
        [callBackUrl]="'/contact-us'"
        [exploreIcon]="'assets/images/icons/explore-accounts.png'"
        [exploreAlt]="'icon explore'"
        [exploreText]="'Explore all bank accounts'"
        [exploreUrl]="'/accounts'"
      >
      </app-call-and-explore>
    </div>
  </div>

  <div class="custom-container pt-5">
    <div class="sec-b-space">
      <h3 class="heading-sm mb-4">
        Switch your Business bank account in three easy steps
      </h3>
      <app-dynamic-swiper
        [slides]="cardLinks"
        [itemTemplate]="slideTemplate"
        [breakpoints]="customBreakpoints"
      ></app-dynamic-swiper>
      <ng-template #slideTemplate let-carddata>
        <app-card-with-links
          [title]="carddata.title"
          [description]="carddata.description"
          [links]="carddata.links"
          class="w-100"
        >
        </app-card-with-links>
      </ng-template>
    </div>
    <app-ucount-sec
      [imageUrl]="'/assets/images/media/ucount-badge.png'"
      [description]="
        'Get rewarded for your everyday business purchases by joining our UCount Rewards for Business programme...'
      "
      [buttonText]="'TELL ME MORE'"
      [buttonLink]="'/rewards'"
      [steps]="ucountSteps"
    >
    </app-ucount-sec>
  </div>
</div>
