.switch-bank-steps {
  padding: 4rem 0;
  .switch-bank-steps-list {
    li {
      color: var(--color-text);
      margin-bottom: 1rem;
      p {
        font-family: "BSP-Regular";
        font-size: 1rem;
        line-height: 1.5;
        margin-bottom: 0.625rem;
        color: inherit;
        margin: 0;
        a {
          font-family: "BSP-Medium";
          color: var(--color-primary);
          text-decoration: none;
          &:hover {
            text-decoration: underline;
            text-underline-offset: 4px;
          }
        }
      }
    }
  }
  .text-guide {
    font-family: "BSP-Regular";
    font-size: 0.875rem;
    line-height: 1.5;
    color: var(--color-gray-medium);
  }
}
