<div class="bank-with-us-page">
<!-- Banner with edge-to-edge image -->
<app-page-banner
    [title]="'Its time to make the switch'"
    [text]="'Bank with people who are serious about where your business is going'"
    [imageUrl]="'assets/images/banners/solutions-banner.png'"
    [buttonText]="'CALL ME BACK'">
</app-page-banner>

<div>
    <div class="custom-container">
        <div>
            <nav class="breadCrumb">
                <ul>
                    <li>
                        <a [routerLink]="['/']" class="backBtn">
                            <img class="img-fluid" src="assets/images/icons/back-left-icon.png" alt="back button">
                            <span>Back</span>
                        </a> 
                    </li>
                    <li>
                        <img class="img-fluid" src="assets/images/icons/breadcrumb-rt.png" alt="breadcrumb-rt">
                    </li>
                    <li>
                        <a class="route-name" [routerLink]="['/']"><span>Home</span></a>
                    </li>
                    <li>
                        <img class="img-fluid" src="assets/images/icons/breadcrumb-rt.png" alt="breadcrumb-rt">
                    </li>
                    <li>
                        <a class="route-name" [routerLink]="['/']"><span>Products and Services</span></a>
                    </li>
                    <li>
                        <img class="img-fluid" src="assets/images/icons/breadcrumb-rt.png" alt="breadcrumb-rt">
                    </li>
                    <li>
                        <a class="route-name"><span>Bank with us</span></a>
                    </li>
                    <li>
                        <img class="img-fluid" src="assets/images/icons/breadcrumb-rt.png" alt="breadcrumb-rt">
                    </li>
                </ul>
                </nav>
            <!-- Article Breadcrumb End -->
    
            <div class="page-info">
                <h1 class="page-title">Switch your business bank account to Standard Bank</h1>
                <p class="page-description">Need a business bank account that offers numerous banking benefits? Switch to Standard Bank and find out why more and more businesses choose us as their trusted bank.</p>
            </div>
        </div>
    </div>

    <div class="custom-container">
        <h3 class="text-heading-md">Why switch your business account to us?</h3>
        <div class="container-fluid px-0 py-3 goal-card-container">
            <div class="row gx-lg-0 gy-5">
                <div class="col-lg-3 col-md-6 col-sm-12 column">
                    <div class="goal-card-wrapper">
                        <img class="img-fluid goal-img" src="assets/images/icons/dummy-shield.png" alt="goal-img">
                        <div class="goal-card">
                            <div class="goal-card-content">
                                <h2 class="goal-card-title">Smooth and simplified switch</h2>
                                <p class="goal-card-text">Experience a smooth bank switch and let us close your old business account, move your balances and switch your payment and debit orders</p>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-lg-3 col-md-6 col-sm-12 column">
                    <div class="goal-card-wrapper">
                        <img class="img-fluid goal-img" src="assets/images/icons/dummy-shield.png" alt="goal-img">
                        <div class="goal-card">
                            <div class="goal-card-content">
                                <h2 class="goal-card-title">Smooth and simplified switch</h2>
                                <p class="goal-card-text">Experience a smooth bank switch and let us close your old business account, move your balances and switch your payment and debit orders</p>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-lg-3 col-md-6 col-sm-12 column">
                    <div class="goal-card-wrapper">
                        <img class="img-fluid goal-img" src="assets/images/icons/dummy-shield.png" alt="goal-img">
                        <div class="goal-card">
                            <div class="goal-card-content">
                                <h2 class="goal-card-title">Smooth and simplified switch</h2>
                                <p class="goal-card-text">Experience a smooth bank switch and let us close your old business account, move your balances and switch your payment and debit orders</p>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-lg-3 col-md-6 col-sm-12 column">
                    <div class="goal-card-wrapper">
                        <img class="img-fluid goal-img" src="assets/images/icons/dummy-shield.png" alt="goal-img">
                        <div class="goal-card">
                            <div class="goal-card-content">
                                <h2 class="goal-card-title">Smooth and simplified switch</h2>
                                <p class="goal-card-text">Experience a smooth bank switch and let us close your old business account, move your balances and switch your payment and debit orders</p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <div class="switch-bank-steps">
            <h3 class="title-md">Switch your Business bank account in three easy steps</h3>
            <ol class="switch-bank-steps-list">
                <li>
                    <p>Complete a <a href="#">Call me back</a> form.</p>
                </li>
                <li>
                    <p>A consultant will call you and open your account for you. A card will be delivered to you or can be collected at a branch.</p>
                </li>
                <li>
                    <p>After you have collected your card, you can register for <a href="#">Internet banking</a> and transact immediately.</p>
                </li>
            </ol>
            <p class="text-guide">Due to rules and regulations we do not have authorisation to switch all debit orders, however we will assist with the debit orders we are able to, for the remaining debit orders you will be required to contact your current financial institution.</p>
        </div>

    </div>

    <div class="call-and-explore">
        <div class="custom-container">
            <div class="container-fluid px-0">
                <div class="row align-items-stretch gy-lg-4">
                    <div class="col-lg-6 col-md-12 mb-lg-0 mb-md-4 mb-sm-4">
                        <div class="title-sec">
                            <h3 class="title-md">Ready to switch your business account to Standard Bank?</h3>
                            <p>Start your business banking journey the way you imagined it</p>
                        </div>
                    </div>
                    <div class="col-lg-auto col-md-12 mb-lg-0 mb-4 d-flex align-items-center ms-lg-auto">
                        <a href="#" class="text-icon-box">
                            <div class="icon">
                                <img class="img-fluid" src="assets/images/icons/call-option.png" alt="icon call">
                            </div>
                            <span>Call me back</span>
                        </a>
                    </div>
                    <div class="col-lg-auto col-md-12 mb-lg-0 mb-4 d-flex align-items-center">
                        <a href="#" class="text-icon-box">
                            <div class="icon">
                                <img class="img-fluid" src="assets/images/icons/explore-accounts.png" alt="icon explore">
                            </div>
                            <span>Explore all bank accounts</span>
                        </a>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="custom-container">
        
    <div class="guidance-swiper-sec">
        <h3 class="title-md">Switch your Business bank account in three easy steps</h3>
        <div *ngIf="isBrowser">
        <swiper-container
            #guidanceswiperContainer
            init="false"
            class="guidance-swiper"
          >
            <swiper-slide class="swiperslide">
                <div class="guidance-card">
                    <h4>Getting Started</h4>
                    <p>Learn to make the most of your new card.</p>
                    <ul>
                        <li>
                            <a href="#"><span>My Updates</span> <img class="img-fluid arrow" src="assets/images/icons/col-icon-right.png" alt="arrow"></a>
                        </li>
                        <li>
                            <a href="#"><span>Link your card to your online banking profile</span> <img class="img-fluid arrow" src="assets/images/icons/col-icon-right.png" alt="arrow"></a>
                        </li>
                        <li>
                            <a href="#"><span>Get or change your PIN</span> <img class="img-fluid arrow" src="assets/images/icons/col-icon-right.png" alt="arrow"></a>
                        </li>
                    </ul>
                </div>
            </swiper-slide>
            <swiper-slide class="swiperslide">
                <div class="guidance-card">
                    <h4>Registering for chat services</h4>
                    <p>Speak to your banker anytime through
                        social media.</p>
                    <ul>
                        <li>
                            <a href="#"><span>Facebook Messenger service</span> <img class="img-fluid arrow" src="assets/images/icons/col-icon-right.png" alt="arrow"></a>
                        </li>
                        <li>
                            <a href="#"><span>WeChat service</span> <img class="img-fluid arrow" src="assets/images/icons/col-icon-right.png" alt="arrow"></a>
                        </li>
                    </ul>
                </div>
            </swiper-slide>
            <swiper-slide class="swiperslide">
                <div class="guidance-card">
                    <h4>Ways to pay by card</h4>
                    <p>Using a credit or debit card gives you various payment options.</p>
                    <ul>
                        <li>
                            <a href="#"><span>Shopping online </span> <img class="img-fluid arrow" src="assets/images/icons/col-icon-right.png" alt="arrow"></a>
                        </li>
                        <li>
                            <a href="#"><span>Using your budget facility </span> <img class="img-fluid arrow" src="assets/images/icons/col-icon-right.png" alt="arrow"></a>
                        </li>
                        <li>
                            <a href="#"><span>Paying by card at till points</span> <img class="img-fluid arrow" src="assets/images/icons/col-icon-right.png" alt="arrow"></a>
                        </li>
                    </ul>
                </div>
            </swiper-slide>
            <swiper-slide class="swiperslide">
                <div class="guidance-card">
                    <h4>Getting Started</h4>
                    <p>Learn to make the most of your new card.</p>
                    <ul>
                        <li>
                            <a href="#"><span>My Updates</span> <img class="img-fluid arrow" src="assets/images/icons/col-icon-right.png" alt="arrow"></a>
                        </li>
                        <li>
                            <a href="#"><span>Link your card to your online banking profile</span> <img class="img-fluid arrow" src="assets/images/icons/col-icon-right.png" alt="arrow"></a>
                        </li>
                        <li>
                            <a href="#"><span>Get or change your PIN</span> <img class="img-fluid arrow" src="assets/images/icons/col-icon-right.png" alt="arrow"></a>
                        </li>
                    </ul>
                </div>
            </swiper-slide>

            <!-- <swiper-slide class="swiperslide" *ngFor="let slide of featuredSlides">
              <div class="slide"
                [style.backgroundImage]="'url(' + slide.background + ')'">
                <img [src]="slide.img" [alt]="slide.alt" class="img-fluid" />
                <h3>{{ slide.title }}</h3>
                <p>{{ slide.description }}</p>
              </div>
            </swiper-slide> -->
          </swiper-container>
          <div class="custom-control">
            <div class="custom-navigation">
              <button class="guide-prev">
                <img
                  src="assets/images/icons/carousel-arrow-lt.png"
                  alt="left arrow"
                />
              </button>
              <div class="guide-pagination"></div>
              <button class="guide-next">
                <img
                  src="assets/images/icons/carousel-arrow-rt.png"
                  alt="left arrow"
                />
              </button>
            </div>
          </div>
        </div>

    </div>
    </div>

    <div class="custom-container">
       <div class="ucount">
            <div class="title-sec">
                <img class="img-fluid" src="/assets/images/media/ucount-badge.png" alt="ucount">
                <p>Get rewarded for your everyday business purchases by joining our UCount Rewards for business programme. Earn Rewards Points every time you use your Business Credit, Cheque or Debit card to pay for your purchases - no need to swipe your Rewards Card to earn. </p>
            </div>
            <div class="container-fluid px-0 count-block">
                <div class="row">
                    <div class="col-lg-4">
                        <div class="ucount-block">
                            <h4>1</h4>
                            <span>JOIN</span>
                            <p>Sign up for R 365 a year to collect Rewards Points, and activate your Business Rewards card to redeem them</p>
                        </div>
                    </div>
                    <div class="col-lg-4">
                        <div class="ucount-block">
                        <h4>2</h4>
                        <span>EARN</span>
                        <p>Collect Rewards Points whenever you pay by credit, cheque or debit card</p>
                    </div>
                    </div>
                    <div class="col-lg-4">
                        <div class="ucount-block">
                        <h4>3</h4>
                        <span>SPEND</span>
                        <p>Use your Business Rewards card to redeem points for fuel, office supplies or travel deals</p>
                    </div>
                    </div>
                </div>
            </div>
            <button type="button" class="primaryBtn">TELL ME MORE</button>
        </div>
    </div>
</div>
</div>