@use 'custom-breakpoints' as bp;

.download-app-content{
    max-width: 570px;
}
.download-app{
    background-image: url("../../assets/images/background/download-bg.svg");
    background-repeat: no-repeat; background-size: cover; background-position: center;
    @include bp.respond-below('tablet') {
        padding: 2.5rem 0 3.125rem;
    }
}
.colLeft{
    display: flex; align-items: center; justify-content: flex-end;
    @include bp.respond-below('sm') {
        justify-content: center; 
    }
    @include bp.respond-below('tablet') {
        padding-bottom: 1.875rem;
    }
}
.colRight{
    display: flex; flex-direction: column; justify-content: center; align-items: center;
}

.app-dowmload-btn{
    display: flex; flex-direction: column; gap: 0.5rem;
}