<div class="download-app">
    <div class="custom-container">
        <div class="container-fluid px-0">
            <div class="row">
                <div class="col-lg-6 colLeft">
                    <img src="assets/images/media/mobile-in-hand.png" alt="Mobile App" class="img-fluid" />
                </div>
                <div class="col-lg-6 colRight">
                    <div class="download-app-content">
                        <h2 class="heading-xl text-white mb-3">Download our Online Banking for Business app</h2>
                        <p class="text-normal text-white mb-4">Manage your banking, make payments and access your information and solutions anytime, anywhere.</p>
                        <div class="d-flex align-baseline justify-content-start gap-2">
                            <div class="app-dowmload-btn">
                                <a href="#" target="_blank" rel="button">
                                    <img src="assets/images/media/google-play.png" alt="Google Play" class="img-fluid" />
                                </a>
                                <img src="assets/images/media/google-play-qr.png" alt="Google Play Qr" class="img-fluid" />
                            </div>
                            <div class="app-dowmload-btn">
                                <a href="#" target="_blank" rel="button">
                                    <img src="assets/images/media/app-store.png" alt="Google Play" class="img-fluid" />
                                </a>
                                <img src="assets/images/media/google-play-qr.png" alt="Google Play Qr" class="img-fluid" />
                            </div>
                            <div class="app-dowmload-btn">
                                <a href="#" target="_blank" rel="button">
                                    <img src="assets/images/media/app-gallery.png" alt="Google Play" class="img-fluid" />
                                </a>
                                <img src="assets/images/media/google-play-qr.png" alt="Google Play Qr" class="img-fluid" />
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>