<div class="bnr-carousel swiper-carousel">
  <swiper-container #swiperContainer init="false" class="swiperContainer">
    <swiper-slide *ngFor="let slide of slides">
      <div class="bnr-content" [ngClass]="slide.class">
        <div class="custom-container">
          <div class="bnr-inner">
            <h1 class="bnr-title">{{slide.title}}</h1>
            <p class="bnr-desc">{{slide.description}}</p>
            <a href="#" class="bnr-btn primaryBtn">Get Started</a>
          </div>
        </div>
      </div>
    </swiper-slide>
  </swiper-container>
  <div class="custom-controls">
      <div class="custom-container custom-navigation">
        <div class="custom-pagination"></div>
      </div>
  </div>
</div>