@use "../../styles/custom-breakpoints" as bp;

.bnr-carousel{
  position:relative;
  width: 100%;
}
.bnr-content{
  padding: 185px 0 140px;
  @include bp.respond-below('tablet') {
    padding: 6.25rem 0;
  }
}
.bnr-inner{
  width: 100%; max-width: 546px;
  .bnr-title{
    font-family: "BSP-Regular";font-size: 3rem; line-height: 1.3; color: var(--color-text);margin-bottom: 0.5rem;
    @include bp.respond-below('sm') {
      font-size: 2.375rem;
    }
    @include bp.respond-below('xs') {
      font-size: 2rem; margin-bottom: 1rem;
    }
    @include bp.respond-below('mobile-xs') {
      font-size: 1.75rem;
    }
  }
  .bnr-desc{
    margin-bottom: 1.5rem;
  }
  .bnr-btn{
    padding: 1rem 2.875rem;
  }
}

  .banner-one, .banner-two, .banner-three{
    background-image: url("../../assets/images/banners/landing-banner-one.png");
    background-repeat: no-repeat; background-size: cover; background-position: center;
  }
  
  .custom-controls{
    width: 100%;position: absolute; bottom: 104px; left: 0;z-index: 9;
    @include bp.respond-below('tablet') {
      bottom: 64px;
    }
  }
  .custom-navigation {
    display: flex; align-items: center;gap: 15px; margin-top: 30px;
  }
  .custom-pagination {
    display: flex; align-items: center; gap: 5px;

    span{
      display: inline-block; width: 30px;height: 3px;
      background-color: var(--color-gray-lightest);border-radius: 4px;
      transition: background-color 0.3s ease;
    }
  }
  
  .custom-prev,
  .custom-next {
    background: none;border: none;cursor: pointer;
  }
  
  
  @media screen and (max-width:680px) {
    .custom-prev, .custom-next { display: none;}
  }
  // Custom Carousel Controls End


  .slide-pagination {
    display: flex;
    gap: 8px;
    margin-top: 1rem;
    position: absolute;
    bottom: 0;
  }

  .slide-pagination span {
    width: 30px;
    height: 3px;
    background-color: var(--color-gray-lightest);
    border-radius: 4px;
    cursor: pointer;
    transition: all 0.3s ease;
  }

  .slide-pagination span.active {
    background-color: #0066ff;
    width: 45px;
  }

