<div class="tradesuite-page">
<div class="custom-container">
    <nav class="breadCrumb">
        <ul>
            <li>
                <a class="route-name" routerLink="/"><span>Home</span></a>
            </li>
            <li>
                <img class="img-fluid" src="assets/images/icons/breadcrumb-rt.png" alt="breadcrumb-rt">
            </li>
            <li>
                <a class="route-name" routerLink="/"><span>Products and Services</span></a>
            </li>
            <li>
                <img class="img-fluid" src="assets/images/icons/breadcrumb-rt.png" alt="breadcrumb-rt">
            </li>
            <li>
                <a class="route-name" routerLink="/"><span>Business Solutions</span></a>
            </li>
            <li>
                <img class="img-fluid" src="assets/images/icons/breadcrumb-rt.png" alt="breadcrumb-rt">
            </li>
            <li>
                <a class="route-name" routerLink="/"><span>Tradepoint</span></a>
            </li>
            <li>
                <img class="img-fluid" src="assets/images/icons/breadcrumb-rt.png" alt="breadcrumb-rt">
            </li>
        </ul>
        </nav>


<h1 class="main-title">Simplify your import journey</h1>

<div class="container-fluid px-0 img-card-text">
<div class="row">
    <div class="col-lg-5 colLeft">
        <img src="assets/images/cards/go-to-new-platform.jpg" alt="import journey" class="img-fluid">
    </div>
    <div class="col-lg-7">
        <div class="content">
            <div>
                <h4>Go to the new platform and transform your business banking on our new platform</h4>
                <p>Make payments and manage access and more with our new platform.</p>
                <p>You’re only a few clicks away from streamlining your business.</p>
            </div>
            <div class="btn-pair">
                <button class="primaryBtn" type="button">GO TO NEW PLATFORM</button>
            </div>
        </div>
    </div>
</div>
</div>

          
<!-- Benifit Cards -->
<h3 class="title-md">Why switch your business account to us?</h3>
<div class="container-fluid px-0 pt-3 goal-card-container">
    <div class="row gx-lg-0 gy-5">
        <div class="col-lg-3 col-md-6 col-sm-12 column">
            <div class="goal-card-wrapper">
                <img class="img-fluid goal-img" src="assets/images/icons/dummy-shield.png" alt="benifit icon badge">
                <div class="goal-card">
                    <div class="goal-card-content">
                        <h2 class="goal-card-title">Updated dashboard</h2>
                        <p class="goal-card-text">View your business accounts at a glance, and manage your finances easily</p>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-lg-3 col-md-6 col-sm-12 column">
            <div class="goal-card-wrapper">
                <img class="img-fluid goal-img" src="assets/images/icons/dummy-shield.png" alt="benifit icon badge">
                <div class="goal-card">
                    <div class="goal-card-content">
                        <h2 class="goal-card-title">Add employees</h2>
                        <p class="goal-card-text">Streamline your business by adding your employees to your business profile</p>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-lg-3 col-md-6 col-sm-12 column">
            <div class="goal-card-wrapper">
                <img class="img-fluid goal-img" src="assets/images/icons/dummy-shield.png" alt="benifit icon badge">
                <div class="goal-card">
                    <div class="goal-card-content">
                        <h2 class="goal-card-title">Access control</h2>
                        <p class="goal-card-text">Manage what access you give each employee on your business profile</p>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-lg-3 col-md-6 col-sm-12 column">
            <div class="goal-card-wrapper">
                <img class="img-fluid goal-img" src="assets/images/icons/dummy-shield.png" alt="benifit icon badge">
                <div class="goal-card">
                    <div class="goal-card-content">
                        <h2 class="goal-card-title">Spending safety</h2>
                        <p class="goal-card-text">Control spend by setting limits and approvals</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>


<!-- Tabs With List -->
<div class="tabs-with-list">
<ul class="nav nav-tabs" id="myTab" role="tablist">
    <li class="nav-item" role="presentation">
    <button class="nav-link active" id="tab-one-tab" data-bs-toggle="tab" data-bs-target="#tab-one-pane" type="button" role="tab" aria-controls="tab-one-pane" aria-selected="true">WHAT YOU NEED</button>
    </li>
    <li class="nav-item" role="presentation">
    <button class="nav-link" id="tab-two-tab" data-bs-toggle="tab" data-bs-target="#tab-two-pane" type="button" role="tab" aria-controls="tab-two-pane" aria-selected="false">COMING SOON</button>
    </li>
    <li class="nav-item" role="presentation">
    <button class="nav-link" id="tab-three-tab" data-bs-toggle="tab" data-bs-target="#tab-three-pane" type="button" role="tab" aria-controls="tab-three-pane" aria-selected="false">HOW TO START USING THE NEW PLATFORM</button>
    </li>
</ul>

<div class="tab-content" id="myTabContent">
    <div class="tab-pane fade show active" id="tab-one-pane" role="tabpanel" aria-labelledby="tab-one-tab">
    <ul class="list-with-icon">
        <li><p>An Android, Huawei or iOS mobile device to download the app</p></li>
        <li><p>A South African ID number</p></li>
        <li><p>At least one of Standard Bank’s business products</p></li>
    </ul>
    </div>

    <div class="tab-pane fade" id="tab-two-pane" role="tabpanel" aria-labelledby="tab-two-tab">
        <h5 class="list-name">You'll be able to do more with new and exciting features</h5>
    <ul class="list-with-icon">
        <li><p>Make PayShap payments with the click of a button</p></li>
        <li><p>Schedule future-dated payments</p></li>
        <li><p>Access your personal profile or accounts</p></li>
        <li><p>As the new platform grows, more features will be available</p></li>
    </ul>
    </div>

    <div class="tab-pane fade" id="tab-three-pane" role="tabpanel" aria-labelledby="tab-three-tab">
    <h5 class="list-name">How to get on the platform</h5>
    <ul class="list-with-icon">
        <li><p>If you don’t already have a username and password for Internet Banking (the old platform), select <a href="https://digital.standardbank.co.za/sbsa/landing" target="_blank">Register</a> to create your online profile</p></li>
        <li><p>If you do have a username and password for Internet Banking (the old platform), <a href="https://digital.standardbank.co.za/sbsa/landing" target="_blank">Sign</a> in using those credentials</p></li>
        <li><p>Download the Online Banking for Business App from <a href="https://play.google.com/store/apps/details?id=com.sbsa.mobile.sme&pli=1" target="_blank">Google Play</a>, <a href="https://appgallery.huawei.com/app/C107233551" target="_blank">App Gallery</a> or the <a href="https://apps.apple.com/za/app/standard-bank-business-banking/id1609250113" target="_blank">App Store</a></p></li>
    </ul>
    </div>

    <div class="tab-pane fade" id="tab-four-pane" role="tabpanel" aria-labelledby="tab-four-tab">
    <h5 class="list-name">Already a customer?</h5>
    <ul class="list-with-icon">
        <li><p>Register to create your online profile</p></li>
        <li><p>Link your Standard Bank cards to your profile</p></li>
    </ul>
    <h5 class="list-name">Already using our mobile banking app?</h5>
    <ul class="list-with-icon">
        <li><p>Login with the same email address and password for the app</p></li>
    </ul>
    <h5 class="list-name">Don’t bank with us yet?</h5>
    <ul class="list-with-icon">
        <li><p>Register to create your online profile</p></li>
        <li><p>Apply online to start the process of opening an account with us</p></li>
    </ul>
    </div>
</div>
</div>


<!-- Get In Touch -->
<div class="get-in-touch">
<div class="sec-title-wrapper">
    <h3 class="title-md">GET IN TOUCH WITH US</h3>
    <p class="title-desc">We know you'll enjoy the perks and time-saving benefits of our new Online Banking for Business platform</p>
</div>

<div class="container-fluid px-0 pt-4">
<div class="row">
    <div class="col-lg-6 column">
        <div class="contact-card">
            <img class="img-fluid" src="assets/images/icons/icn_mail.png" alt="mail icon">
            <div>
                <h4>Email us at</h4>
                <p><a href="mailto:BusinessBankingDigitalSupport@standardbank.co.za">BusinessBankingDigitalSupport&#64;standardbank.co.za</a></p>
            </div>
        </div>
    </div>
    <div class="col-lg-6 column">
        <div class="contact-card">
            <img class="img-fluid" src="assets/images/icons/icn_call.png" alt="call icon">
            <div>
                <h4>Give us a call</h4>
                <p>South Africa: <a href="tel:+0860 109 075">0860 109 075</a>, Option 3</p>
                <p>International: <a href="tel:++27 10 824 2934">+27 10 824 2934</a></p>
            </div>
        </div>
    </div>
</div>
</div>
</div>


<!-- Go to new platform -->
<div class="go-to-platform">
    <h4>Get into the platform</h4>
    <p>Register or sign in to gain access to our new online banking for business</p>
    <button type="button" class="primaryBtn">GO TO NEW PLATFORM</button>
</div>

<!-- We also offer -->
<div *ngIf="isBrowser">
    <h3 class="title-md">We also offer</h3>
    <app-offer-slider></app-offer-slider>
</div>

<!-- FREQUENTLY ASKED QUESTIONS -->
<div class="faq-sec">
    <div class="sec-title-wrapper">
        <h3 class="title-md">FREQUENTLY ASKED QUESTIONS</h3>
    </div>

        <div class="accordion custom-accordion" id="accordionExample">
            <div class="accordion-item">
            <h2 class="accordion-header" id="headingOne">
                <button class="accordion-button shadow-none" type="button" data-bs-toggle="collapse" data-bs-target="#collapseOne" aria-expanded="true" aria-controls="collapseOne">
                    What is the BCB Platform?
                </button>
            </h2>
            <div id="collapseOne" class="accordion-collapse collapse show" aria-labelledby="headingOne" data-bs-parent="#accordionExample">
                <div class="accordion-body">
                    <div class="content">
                        <p class="text">Download our new Standard Bank Business Banking App (not the original Standard / Stanbic Bank App) to register:</p>
                        <ul class="list-with-icon">
                            <li><p><a href="https://play.google.com/store/apps/details?id=com.sbsa.mobile.sme" target="_blank">Google Play Store for Android</a></p></li>
                            <li><p><a href="https://apps.apple.com/us/app/standard-bank-business-banking/id1609250113" target="_blank">Apple Store for iOS</a></p></li>
                            <li><p><a href="https://appgallery.huawei.com/app/C107233551" target="_blank">Huawei App Gallery for Harmony OS</a></p></li>
                        </ul>
                        <p class="text">You'll need to use your cellphone’s front-facing camera during registration. If you have any issues with registration, visit your nearest branch, email <a href="mailto:BusinessBankingDigitalSupport@standardbank.co.za"><strong>BusinessBankingDigitalSupport&#64;standardbank.co.za</strong></a> or call <a href="tel:+0860 109 075"><strong>0860 109 075</strong></a> option 3 /<a href="tel:++27 10 824 2934"><strong>+27 10 824 2934</strong></a>.</p>
                    </div>
                </div>
            </div>
            </div>
            <div class="accordion-item">
            <h2 class="accordion-header" id="headingTwo">
                <button class="accordion-button collapsed shadow-none" type="button" data-bs-toggle="collapse" data-bs-target="#collapseTwo" aria-expanded="false" aria-controls="collapseTwo">
                    Can I transfer my beneficiaries from the old Internet Banking to Online Banking for Business?
                </button>
            </h2>
            <div id="collapseTwo" class="accordion-collapse collapse" aria-labelledby="headingTwo" data-bs-parent="#accordionExample">
                <div class="accordion-body">
                    <div class="content">
                        <p class="text">Yes, Online Banking for Business allows you to import your existing beneficiaries from the old Internet Banking platform.</p>
                        <p class="text"><strong>Simply go to “Manage”  and click on “Beneficiaries” on Online Banking for Business to import your existing beneficiaries. </strong></p>
                    </div>
                </div>
            </div>
            </div>
            <div class="accordion-item">
            <h2 class="accordion-header" id="headingThree">
                <button class="accordion-button collapsed shadow-none" type="button" data-bs-toggle="collapse" data-bs-target="#collapseThree" aria-expanded="false" aria-controls="collapseThree">
                    Are all mobile devices supported on Online Banking for Business and what do I do if my device isn't compatible?
                </button>
            </h2>
            <div id="collapseThree" class="accordion-collapse collapse" aria-labelledby="headingThree" data-bs-parent="#accordionExample">
                <div class="accordion-body">

                    <div class="content">
                        <p class="text">Android, iOS and Huawei devices are supported. However, there are certain operating systems that are required for each;</p>
                        <ul class="list-with-icon">
                            <li><p><a href="https://play.google.com/store/apps/details?id=com.sbsa.mobile.sme" target="_blank">Android 6.0 Marshmallow (incl. Huawei)</a></p></li>
                            <li><p><a href="https://apps.apple.com/us/app/standard-bank-business-banking/id1609250113" target="_blank">iOS 14.0</a></p></li>
                            <li><p><a href="https://appgallery.huawei.com/app/C107233551" target="_blank">Huawei Harmony OS versions that support Android app downloads i.e., Harmony OS 2.0 and above</a></p></li>
                        </ul>
                        <p class="text"><strong>If your device is not compatible, you won’t be able to finalise the registration process</strong></p>
                    </div>

                </div>
            </div>
            </div>



            <div class="accordion-item">
                <h2 class="accordion-header" id="headingThree">
                <button class="accordion-button collapsed shadow-none" type="button" data-bs-toggle="collapse" data-bs-target="#collapseThree" aria-expanded="false" aria-controls="collapseThree">
                    What should I do if I can't access the verification process (DigiMe)?
                </button>
                </h2>
                <div id="collapseThree" class="accordion-collapse collapse" aria-labelledby="headingThree" data-bs-parent="#accordionExample">
                <div class="accordion-body">
    
                    <div class="content">
                        <p class="text">Please try again or visit your nearest branch for assistance.</p>
                    </div>
    
                </div>
                </div>
            </div>


            <div class="accordion-item">
                <h2 class="accordion-header" id="headingThree">
                <button class="accordion-button collapsed shadow-none" type="button" data-bs-toggle="collapse" data-bs-target="#collapseThree" aria-expanded="false" aria-controls="collapseThree">
                    How do I get support if I need assistance with Online Banking for Business?
                </button>
                </h2>
                <div id="collapseThree" class="accordion-collapse collapse" aria-labelledby="headingThree" data-bs-parent="#accordionExample">
                <div class="accordion-body">
    
                    <div class="content">
                        <p class="text">Please contact our dedicated digital support team at <a href="mailto:BusinessBankingDigitalSupport@standardbank.co.za"><strong>BusinessBankingDigitalSupport&#64;standardbank.co.za</strong></a> or call <a href="tel:+0860 109 075"><strong>0860 109 075</strong></a> option 3 /<a href="tel:++27 10 824 2934"><strong>+27 10 824 2934</strong></a>.</p>
                    </div>
    
                </div>
                </div>
            </div>


            <div class="accordion-item">
                <h2 class="accordion-header" id="headingThree">
                <button class="accordion-button collapsed shadow-none" type="button" data-bs-toggle="collapse" data-bs-target="#collapseThree" aria-expanded="false" aria-controls="collapseThree">
                    Can I still use the old Internet Banking platform after registering on Online Banking for Business?
                </button>
                </h2>
                <div id="collapseThree" class="accordion-collapse collapse" aria-labelledby="headingThree" data-bs-parent="#accordionExample">
                <div class="accordion-body">
    
                    <div class="content">
                        <p class="text">Yes, you'll be able to switch between the two platforms at the moment. You'll be notified when the old platform will no longer be accessible.</p>
                    </div>
    
                </div>
                </div>
            </div>


            <div class="accordion-item">
                <h2 class="accordion-header" id="headingThree">
                <button class="accordion-button collapsed shadow-none" type="button" data-bs-toggle="collapse" data-bs-target="#collapseThree" aria-expanded="false" aria-controls="collapseThree">
                    How is Online Banking for Business different?
                </button>
                </h2>
                <div id="collapseThree" class="accordion-collapse collapse" aria-labelledby="headingThree" data-bs-parent="#accordionExample">
                <div class="accordion-body">
    
                    <div class="content">
                        <ul class="list-with-icon">
                            <li><p>You can register on Online Banking for Business without any card details.</p></li>
                            <li>
                                <p>Overall improved experience with specific features for small-to-medium entrepreneurs.</p>
                            </li>
                            <li>
                                <p>Not all features on the old platform are accessible on the new one but as the new platform grows, more features will be available. In the meantime, you can continue using the old Internet Banking platform.</p>
                            </li>
                            <li>
                                <p>You won't be able to toggle between your personal profile and business profile yet.</p>
                            </li>
                            <li>
                                <p>You can easily manage your bank limits on the new platform with the new entitlements feature which gives you a unique level of access and control.</p>
                            </li>
                        </ul>
                    </div>
    
                </div>
                </div>
            </div>


            <div class="accordion-item">
                <h2 class="accordion-header" id="headingThree">
                <button class="accordion-button collapsed shadow-none" type="button" data-bs-toggle="collapse" data-bs-target="#collapseThree" aria-expanded="false" aria-controls="collapseThree">
                    What type of security features are available to ensure my accounts and personal information are safe on Online Banking for Business?
                </button>
                </h2>
                <div id="collapseThree" class="accordion-collapse collapse" aria-labelledby="headingThree" data-bs-parent="#accordionExample">
                <div class="accordion-body">
    
                    <div class="content">
                        <p class="text">You'll go through a highly secure verification process to register and enter Online Banking for Business including verifying your identity with the Department of Home Affairs.</p>
                    </div>
    
                </div>
                </div>
            </div>

            <div class="accordion-item">
                <h2 class="accordion-header" id="headingThree">
                <button class="accordion-button collapsed shadow-none" type="button" data-bs-toggle="collapse" data-bs-target="#collapseThree" aria-expanded="false" aria-controls="collapseThree">
                    Will I be charged extra for using Online Banking for Business?
                </button>
                </h2>
                <div id="collapseThree" class="accordion-collapse collapse" aria-labelledby="headingThree" data-bs-parent="#accordionExample">
                <div class="accordion-body">
    
                    <div class="content">
                        <p class="text">You’ll only pay applicable fees for products and services. The pricing is the same as the old platform.</p>
                    </div>
    
                </div>
                </div>
            </div>


            <div class="accordion-item">
                <h2 class="accordion-header" id="headingThree">
                <button class="accordion-button collapsed shadow-none" type="button" data-bs-toggle="collapse" data-bs-target="#collapseThree" aria-expanded="false" aria-controls="collapseThree">
                    What does 'entitlements' mean?
                </button>
                </h2>
                <div id="collapseThree" class="accordion-collapse collapse" aria-labelledby="headingThree" data-bs-parent="#accordionExample">
                <div class="accordion-body">
    
                    <div class="content">
                        <h4 class="list-name">Entitlements enable you to have:</h4>
                        <ul class="list-with-icon">
                            <li><p>Full access and permissions for all business functions, including approvals and limits.</p></li>
                            <li>
                                <p>A complete overview of the organisational structure as well as the ability to manage companies, accounts groups, users, and permission profiles.</p>
                            </li>
                            <li>
                                <p>Reduced risk by fine-tuning your ability to create and approve payments per payment type, amount or even device.</p>
                            </li>
                        </ul>
                    </div>
    
                </div>
                </div>
            </div>


            
            <div class="accordion-item">
                <h2 class="accordion-header" id="headingThree">
                <button class="accordion-button collapsed shadow-none" type="button" data-bs-toggle="collapse" data-bs-target="#collapseThree" aria-expanded="false" aria-controls="collapseThree">
                    Who is Online Banking for Business for?
                </button>
                </h2>
                <div id="collapseThree" class="accordion-collapse collapse" aria-labelledby="headingThree" data-bs-parent="#accordionExample">
                <div class="accordion-body">
    
                    <div class="content">
                        <h4 class="list-name">Online Banking for Business is for:</h4>
                        <ul class="list-with-icon">
                            <li><p>South African citizens. We are looking at making the new platform available to foreign nationals in the future.</p></li>
                            <li>
                                <p>Those with SMEs only. We are working on expanding this offering to personal accounts and bigger corporations.</p>
                            </li>
                            <li>
                                <p>Customers who are using Online Business Banking (the old Internet Banking platform)</p>
                            </li>
                        </ul>
                    </div>
    
                </div>
                </div>
            </div>


            <div class="accordion-item">
                <h2 class="accordion-header" id="headingThree">
                <button class="accordion-button collapsed shadow-none" type="button" data-bs-toggle="collapse" data-bs-target="#collapseThree" aria-expanded="false" aria-controls="collapseThree">
                    Can more than one person have admin access on Online Banking for Business?
                </button>
                </h2>
                <div id="collapseThree" class="accordion-collapse collapse" aria-labelledby="headingThree" data-bs-parent="#accordionExample">
                <div class="accordion-body">
    
                    <div class="content">
                        <p class="text">The new platform allows for the segregation of duties which means more than one person can approve transactions.</p>
                    </div>
    
                </div>
                </div>
            </div>

            <div class="accordion-item">
                <h2 class="accordion-header" id="headingThree">
                <button class="accordion-button collapsed shadow-none" type="button" data-bs-toggle="collapse" data-bs-target="#collapseThree" aria-expanded="false" aria-controls="collapseThree">
                    How do I sign in to Online Banking for Business after I have registered?
                </button>
                </h2>
                <div id="collapseThree" class="accordion-collapse collapse" aria-labelledby="headingThree" data-bs-parent="#accordionExample">
                <div class="accordion-body">
    
                    <div class="content">
                        <p class="text">Go to <a href="http://www.standardbank.co.za." target="_blank">www.standardbank.co.za.</a></p>
                        <p class="text">Select Sign In and then Online Banking for Business.</p>
                    </div>
    
                </div>
                </div>
            </div>


            <div class="accordion-item">
                <h2 class="accordion-header" id="headingThree">
                <button class="accordion-button collapsed shadow-none" type="button" data-bs-toggle="collapse" data-bs-target="#collapseThree" aria-expanded="false" aria-controls="collapseThree">
                    How do I transfer money between my business profiles?
                </button>
                </h2>
                <div id="collapseThree" class="accordion-collapse collapse" aria-labelledby="headingThree" data-bs-parent="#accordionExample">
                <div class="accordion-body">
    
                    <div class="content">
                        <p class="text">You can link your business accounts as beneficiaries and make third-party payments.</p>
                    </div>
    
                </div>
                </div>
            </div>


            <div class="accordion-item">
                <h2 class="accordion-header" id="headingThree">
                <button class="accordion-button collapsed shadow-none" type="button" data-bs-toggle="collapse" data-bs-target="#collapseThree" aria-expanded="false" aria-controls="collapseThree">
                    Are the scheduled and recurring payments loaded on Internet Banking automatically transferred to Online Banking for Business?
                </button>
                </h2>
                <div id="collapseThree" class="accordion-collapse collapse" aria-labelledby="headingThree" data-bs-parent="#accordionExample">
                <div class="accordion-body">
    
                    <div class="content">
                        <p class="text">No , they are not transferred to Online Banking for Business. You can cancel the existing payment on Internet banking and load a new one on Online Banking for Business.</p>
                    </div>
    
                </div>
                </div>
            </div>

            <div class="accordion-item">
                <h2 class="accordion-header" id="headingThree">
                <button class="accordion-button collapsed shadow-none" type="button" data-bs-toggle="collapse" data-bs-target="#collapseThree" aria-expanded="false" aria-controls="collapseThree">
                    Can I do bank feeds on Online Banking for Business?
                </button>
                </h2>
                <div id="collapseThree" class="accordion-collapse collapse" aria-labelledby="headingThree" data-bs-parent="#accordionExample">
                <div class="accordion-body">
    
                    <div class="content">
                        <p class="text">Bank feeds are only available through Sage. We are working on making other accounting softwares available in the future.</p>
                    </div>
    
                </div>
                </div>
            </div>


            <div class="accordion-item">
                <h2 class="accordion-header" id="headingThree">
                <button class="accordion-button collapsed shadow-none" type="button" data-bs-toggle="collapse" data-bs-target="#collapseThree" aria-expanded="false" aria-controls="collapseThree">
                    Why can’t I see the history of payments made to my beneficiaries?
                </button>
                </h2>
                <div id="collapseThree" class="accordion-collapse collapse" aria-labelledby="headingThree" data-bs-parent="#accordionExample">
                <div class="accordion-body">
    
                    <div class="content">
                        <p class="text">Payment history isn’t saved to the beneficiary. You can find your payment history on your bank statement.</p>
                    </div>
    
                </div>
                </div>
            </div>

            <div class="accordion-item">
                <h2 class="accordion-header" id="headingThree">
                <button class="accordion-button collapsed shadow-none" type="button" data-bs-toggle="collapse" data-bs-target="#collapseThree" aria-expanded="false" aria-controls="collapseThree">
                    Why can’t I print statements or proof of payment directly from Online Banking for Business?
                </button>
                </h2>
                <div id="collapseThree" class="accordion-collapse collapse" aria-labelledby="headingThree" data-bs-parent="#accordionExample">
                <div class="accordion-body">
    
                    <div class="content">
                        <p class="text">Printing is not enabled on Online Banking for Business. You can download your documents and then print from your device.</p>
                    </div>
    
                </div>
                </div>
            </div>

            <div class="accordion-item">
                <h2 class="accordion-header" id="headingThree">
                <button class="accordion-button collapsed shadow-none" type="button" data-bs-toggle="collapse" data-bs-target="#collapseThree" aria-expanded="false" aria-controls="collapseThree">
                    Can I make salary payments on Online Banking for Business?
                </button>
                </h2>
                <div id="collapseThree" class="accordion-collapse collapse" aria-labelledby="headingThree" data-bs-parent="#accordionExample">
                <div class="accordion-body">
    
                    <div class="content">
                        <p class="text">Yes, you can. The business owner must add the salary payment job roles first before these transactions can be processed.</p>
                    </div>
    
                </div>
                </div>
            </div>

            <div class="accordion-item">
                <h2 class="accordion-header" id="headingThree">
                <button class="accordion-button collapsed shadow-none" type="button" data-bs-toggle="collapse" data-bs-target="#collapseThree" aria-expanded="false" aria-controls="collapseThree">
                    How do I add and delete a user?
                </button>
                </h2>
                <div id="collapseThree" class="accordion-collapse collapse" aria-labelledby="headingThree" data-bs-parent="#accordionExample">
                <div class="accordion-body">
    
                    <div class="content">
                        <p class="text">Users can only be added and removed by your Relationship Manager.</p>
                        <p class="text">On Online Banking for Business, the business owner can manage the user’s access by assigning roles and delete them from the platform but only the Relationship Manager can delete the user entirely from the profile.</p>
                    </div>
    
                </div>
                </div>
            </div>





        </div>


</div>

</div>
</div>