<div class="tradesuite-page">
<div class="custom-container">
    <nav class="breadCrumb">
        <ul>
            <li>
                <a class="route-name" routerLink="/"><span>Home</span></a>
            </li>
            <li>
                <img class="img-fluid" src="assets/images/icons/breadcrumb-rt.png" alt="breadcrumb-rt">
            </li>
            <li>
                <a class="route-name" routerLink="/"><span>Products and Services</span></a>
            </li>
            <li>
                <img class="img-fluid" src="assets/images/icons/breadcrumb-rt.png" alt="breadcrumb-rt">
            </li>
            <li>
                <a class="route-name" routerLink="/"><span>Business Solutions</span></a>
            </li>
            <li>
                <img class="img-fluid" src="assets/images/icons/breadcrumb-rt.png" alt="breadcrumb-rt">
            </li>
            <li>
                <a class="route-name" routerLink="/"><span>Tradepoint</span></a>
            </li>
            <li>
                <img class="img-fluid" src="assets/images/icons/breadcrumb-rt.png" alt="breadcrumb-rt">
            </li>
        </ul>
        </nav>


<h1 class="main-title">Simplify your import journey</h1>

<div class="container-fluid px-0 img-card-text">
    <div class="row">
        <div class="col-lg-5 colLeft">
            <img src="assets/images/cards/go-to-new-platform.jpg" alt="import journey" class="img-fluid">
        </div>
        <div class="col-lg-7">
            <div class="content">
                <div>
                    <h4>Go to the new platform and transform your business banking on our new platform</h4>
                    <p>Make payments and manage access and more with our new platform.</p>
                    <p>You’re only a few clicks away from streamlining your business.</p>
                </div>
                <div class="btn-pair">
                    <button class="primaryBtn" type="button">GO TO NEW PLATFORM</button>
                </div>
            </div>
        </div>
    </div>
</div>
       
<!-- Benifit Cards -->
<h3 class="title-md">Why switch your business account to us?</h3>
<div class="container-fluid px-0 pt-3 goal-card-container">
    <div class="row gx-lg-0 gy-5">
        <div class="col-lg-3 col-md-6 col-sm-12 column">
            <div class="goal-card-wrapper">
                <img class="img-fluid goal-img" src="assets/images/icons/dummy-shield.png" alt="benifit icon badge">
                <div class="goal-card">
                    <div class="goal-card-content">
                        <h2 class="goal-card-title">Updated dashboard</h2>
                        <p class="goal-card-text">View your business accounts at a glance, and manage your finances easily</p>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-lg-3 col-md-6 col-sm-12 column">
            <div class="goal-card-wrapper">
                <img class="img-fluid goal-img" src="assets/images/icons/dummy-shield.png" alt="benifit icon badge">
                <div class="goal-card">
                    <div class="goal-card-content">
                        <h2 class="goal-card-title">Add employees</h2>
                        <p class="goal-card-text">Streamline your business by adding your employees to your business profile</p>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-lg-3 col-md-6 col-sm-12 column">
            <div class="goal-card-wrapper">
                <img class="img-fluid goal-img" src="assets/images/icons/dummy-shield.png" alt="benifit icon badge">
                <div class="goal-card">
                    <div class="goal-card-content">
                        <h2 class="goal-card-title">Access control</h2>
                        <p class="goal-card-text">Manage what access you give each employee on your business profile</p>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-lg-3 col-md-6 col-sm-12 column">
            <div class="goal-card-wrapper">
                <img class="img-fluid goal-img" src="assets/images/icons/dummy-shield.png" alt="benifit icon badge">
                <div class="goal-card">
                    <div class="goal-card-content">
                        <h2 class="goal-card-title">Spending safety</h2>
                        <p class="goal-card-text">Control spend by setting limits and approvals</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>


<!-- Tabs With List -->
<div class="tabs-with-list">
<ul class="nav nav-tabs" id="myTab" role="tablist">
    <li class="nav-item" role="presentation">
    <button class="nav-link active" id="tab-one-tab" data-bs-toggle="tab" data-bs-target="#tab-one-pane" type="button" role="tab" aria-controls="tab-one-pane" aria-selected="true">WHAT YOU NEED</button>
    </li>
    <li class="nav-item" role="presentation">
    <button class="nav-link" id="tab-two-tab" data-bs-toggle="tab" data-bs-target="#tab-two-pane" type="button" role="tab" aria-controls="tab-two-pane" aria-selected="false">COMING SOON</button>
    </li>
    <li class="nav-item" role="presentation">
    <button class="nav-link" id="tab-three-tab" data-bs-toggle="tab" data-bs-target="#tab-three-pane" type="button" role="tab" aria-controls="tab-three-pane" aria-selected="false">HOW TO START USING THE NEW PLATFORM</button>
    </li>
</ul>

<div class="tab-content" id="myTabContent">
    <div class="tab-pane fade show active" id="tab-one-pane" role="tabpanel" aria-labelledby="tab-one-tab">
    <ul class="list-with-icon">
        <li><p>An Android, Huawei or iOS mobile device to download the app</p></li>
        <li><p>A South African ID number</p></li>
        <li><p>At least one of Standard Bank’s business products</p></li>
    </ul>
    </div>

    <div class="tab-pane fade" id="tab-two-pane" role="tabpanel" aria-labelledby="tab-two-tab">
        <h5 class="list-name">You'll be able to do more with new and exciting features</h5>
    <ul class="list-with-icon">
        <li><p>Make PayShap payments with the click of a button</p></li>
        <li><p>Schedule future-dated payments</p></li>
        <li><p>Access your personal profile or accounts</p></li>
        <li><p>As the new platform grows, more features will be available</p></li>
    </ul>
    </div>

    <div class="tab-pane fade" id="tab-three-pane" role="tabpanel" aria-labelledby="tab-three-tab">
    <h5 class="list-name">How to get on the platform</h5>
    <ul class="list-with-icon">
        <li><p>If you don’t already have a username and password for Internet Banking (the old platform), select <a href="https://digital.standardbank.co.za/sbsa/landing" target="_blank">Register</a> to create your online profile</p></li>
        <li><p>If you do have a username and password for Internet Banking (the old platform), <a href="https://digital.standardbank.co.za/sbsa/landing" target="_blank">Sign</a> in using those credentials</p></li>
        <li><p>Download the Online Banking for Business App from <a href="https://play.google.com/store/apps/details?id=com.sbsa.mobile.sme&pli=1" target="_blank">Google Play</a>, <a href="https://appgallery.huawei.com/app/C107233551" target="_blank">App Gallery</a> or the <a href="https://apps.apple.com/za/app/standard-bank-business-banking/id1609250113" target="_blank">App Store</a></p></li>
    </ul>
    </div>

    <div class="tab-pane fade" id="tab-four-pane" role="tabpanel" aria-labelledby="tab-four-tab">
    <h5 class="list-name">Already a customer?</h5>
    <ul class="list-with-icon">
        <li><p>Register to create your online profile</p></li>
        <li><p>Link your Standard Bank cards to your profile</p></li>
    </ul>
    <h5 class="list-name">Already using our mobile banking app?</h5>
    <ul class="list-with-icon">
        <li><p>Login with the same email address and password for the app</p></li>
    </ul>
    <h5 class="list-name">Don’t bank with us yet?</h5>
    <ul class="list-with-icon">
        <li><p>Register to create your online profile</p></li>
        <li><p>Apply online to start the process of opening an account with us</p></li>
    </ul>
    </div>
</div>
</div>


<!-- Get In Touch -->
<div class="get-in-touch">
<div class="sec-title-wrapper">
    <h3 class="title-md">GET IN TOUCH WITH US</h3>
    <p class="title-desc">We know you'll enjoy the perks and time-saving benefits of our new Online Banking for Business platform</p>
</div>

<div class="container-fluid px-0 pt-4">
<div class="row">
    <div class="col-lg-6 column">
        <div class="contact-card">
            <img class="img-fluid" src="assets/images/icons/icn_mail.png" alt="mail icon">
            <div>
                <h4>Email us at</h4>
                <p><a href="mailto:BusinessBankingDigitalSupport@standardbank.co.za">BusinessBankingDigitalSupport&#64;standardbank.co.za</a></p>
            </div>
        </div>
    </div>
    <div class="col-lg-6 column">
        <div class="contact-card">
            <img class="img-fluid" src="assets/images/icons/icn_call.png" alt="call icon">
            <div>
                <h4>Give us a call</h4>
                <p>South Africa: <a href="tel:+0860 109 075">0860 109 075</a>, Option 3</p>
                <p>International: <a href="tel:++27 10 824 2934">+27 10 824 2934</a></p>
            </div>
        </div>
    </div>
</div>
</div>
</div>


<!-- Go to new platform -->
<div class="go-to-platform">
    <h4>Get into the platform</h4>
    <p>Register or sign in to gain access to our new online banking for business</p>
    <button type="button" class="primaryBtn">GO TO NEW PLATFORM</button>
</div>

<!-- We also offer -->
<div *ngIf="isBrowser">
    <h3 class="title-md">We also offer</h3>
    <app-offer-slider></app-offer-slider>
</div>

<!-- FREQUENTLY ASKED QUESTIONS -->
<app-faq></app-faq>

</div>
</div>