.tradesuite-page {
  background-color: #f4f5f7;
  padding: 3.125rem 0;
}

.backBtn {
  border: 1px solid #0062e1;
  border-radius: 30px;
  padding: 3px 14px;
  text-decoration: none;
  display: inline-flex;
  align-items: center;
  justify-content: center;
  gap: 4px;
  cursor: pointer;
  span {
    font-family: "BSP-Medium";
    font-size: 0.875rem;
    line-height: normal;
    text-align: center;
  }
}
.breadCrumb {
  margin-bottom: 1.5rem;
  ul {
    list-style: none;
    padding: 0;
    margin: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    li {
      .route-name {
        font-family: "BSP-Regular";
        font-size: 0.875rem;
        line-height: 1.3;
        text-decoration: none;
        color: var(--text-color);
      }
      &:not(:last-child) {
        margin-right: 0.625rem;
      }
    }
  }
}

.main-title {
  font-family: "BSP-Regular";
  font-size: 3rem;
  line-height: 1.3;
  color: var(--text-color);
  margin: 1.5rem 0 4.375rem;
  text-align: center;
}

// img-card-text
.img-card-text {
  background-color: #ffffff;
  border-radius: 0.625rem;
  margin-bottom: 4.375rem;
  overflow: hidden;
  border: 1px solid #e3e6ea;
  .colLeft {
    img {
      width: 100%;
    }
  }
  .content {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    width: 100%;
    height: 100%;
    padding: 2.5rem 2.5rem 1.6875rem 0.375rem;
    h4 {
      font-family: "BSP-Medium";
      font-size: 1.375rem;
      line-height: 2rem;
      color: var(--text-color);
      margin-bottom: 2rem;
    }
    p {
      font-family: "BSP-Regular";
      font-size: 1rem;
      line-height: 1.5;
      color: #3c4b6c;
      margin-bottom: 1rem;
    }
    .btn-pair {
      display: flex;
      gap: 20px;
      button {
        max-width: 300px;
      }
    }
  }
}

// Benifit Cards
.sec-title-wrapper {
  margin-bottom: 1.5rem;
  .title-md {
    font-family: "BSP-Regular";
    font-size: 1.75rem;
    line-height: 1.3;
    color: var(--text-color);
    margin-bottom: 1rem;
  }
  .title-desc {
    font-family: "BSP-Regular";
    font-size: 1.125rem;
    line-height: 1.3;
    color: var(--text-color);
    margin-bottom: 1rem;
  }
}
.title-md {
  font-family: "BSP-Regular";
  font-size: 1.75rem;
  line-height: 1.3;
  color: var(--text-color);
  margin-bottom: 1.5rem;
}

.goal-card-container {
  padding-bottom: 6.375rem;
  .goal-card-wrapper {
    text-align: center;
    height: 100%;
    .goal-img {
      margin-bottom: -2rem;
    }
    .goal-card {
      display: flex;
      align-items: center;
      justify-content: center;
      flex-direction: column;
      gap: 1rem;
      padding: 4rem 1.5rem 2rem;
      background-color: #ffffff;
      width: 100%;
      height: 100%;
      max-width: 400px;
      margin: 0 auto;
      .goal-card-title {
        font-family: "BSP-Medium";
        font-size: 1.75rem;
        line-height: 1.5;
        color: var(--text-color);
        margin-bottom: 0.625rem;
      }
      .goal-card-text {
        font-family: "BSP-Regular";
        font-size: 1rem;
        line-height: 1.5;
        color: var(--text-medium-gray);
        text-align: center;
      }
    }
  }
  @media screen and (min-width: 991.99px) {
    .column:first-child {
      .goal-card {
        border-top-left-radius: 0.75rem;
        border-bottom-left-radius: 0.75rem;
      }
    }
    .column:last-child {
      .goal-card {
        border-top-right-radius: 0.75rem;
        border-bottom-right-radius: 0.75rem;
      }
    }
  }
  .column:nth-child(even) {
    .goal-card {
      background-color: #0033a1;
      .goal-card-title {
        color: #ffffff;
      }
      .goal-card-text {
        color: #ffffff;
      }
    }
  }
}

.tabs-with-list {
  border: 1px solid #e3e6ea;
  border-radius: 0.75rem;
  background-color: #ffffff;
  overflow: hidden;
  margin-bottom: 4.375rem;

  .nav-tabs {
    border-bottom: 1px solid #e3e6ea;
    background-color: transparent;
    padding: 0 1.875rem;
    .nav-item:not(:last-child) {
      margin-right: 2rem;
    }
    .nav-link {
      font-family: "BSP-Medium";
      font-size: 0.75rem;
      line-height: 1.5;
      color: #3c4b6c;
      border: none;
      margin-bottom: 0;
      padding: 2.1875rem 0;
      position: relative;
      &.active::after {
        content: "";
        display: block;
        width: 100%;
        height: 4px;
        background-color: var(--color-primary);
        position: absolute;
        bottom: 0;
        left: 0;
      }
    }
  }
  .tab-content {
    background-color: #ffffff;
  }
  .tab-pane {
    padding: 1.25rem 1.875rem 3.125rem;
  }
  .list-name {
    font-family: "BSP-Medium";
    font-size: 1rem;
    line-height: 1.5;
    color: var(--text-color);
    margin-bottom: 1rem;
  }

  .list-with-icon {
    list-style-type: none;
    padding: 0;
    margin-bottom: 2rem;
    li {
      position: relative;
      padding-left: 1.625rem;
      margin-bottom: 0.3125rem;
      &::before {
        content: "";
        display: inline-block;
        position: absolute;
        left: 0;
        top: 6px;
        width: 10px;
        height: 10px;
        border-radius: 50%;
        background: linear-gradient(112.82deg, #ff681d 3.64%, #ffb81d 95.93%);
      }
      p {
        font-family: "BSP-Regular";
        font-size: 1rem;
        line-height: 1.5;
        color: var(--text-color);
        a {
          font-family: "BSP-Medium";
          color: var(--color-primary);
          text-decoration: none;
          &:hover {
            text-decoration: underline;
            text-underline-offset: 4px;
          }
        }
      }
    }
  }
}

// Get In touch

.get-in-touch {
  margin-bottom: 4.375rem;
  .contact-card {
    border: 1px solid #e3e6ea;
    border-radius: 0.625rem;
    padding: 2rem 1.5rem 1rem;
    display: flex;
    align-items: flex-start;
    gap: 1.5rem;
    height: 100%;
    background-color: #ffffff;
    h4 {
      font-family: "BSP-Regular";
      font-size: 1.375rem;
      line-height: 1.5;
      color: var(--text-color);
      margin-bottom: 0.25rem;
    }
    p {
      font-family: "BSP-Regular";
      font-size: 0.875rem;
      line-height: 1.5;
      color: var(--text-color);
      margin-bottom: 0.25rem;
      a {
        color: inherit;
        text-decoration: none;
        &:hover {
          text-decoration: underline;
          text-underline-offset: 4px;
          color: var(--color-primary);
        }
      }
    }
  }
}

// go-to-platform
.go-to-platform {
  background-image: linear-gradient(151deg, #0033aa 0%, #0062e1 100%);
  border-radius: 0.75rem;
  text-align: center;
  padding: 3rem 1.25rem;
  margin-bottom: 4.375rem;
  h4 {
    font-family: "BSP-Medium";
    font-size: 1.75rem;
    line-height: 1.3;
    color: #ffffff;
    margin-bottom: 1.5rem;
  }
  p {
    font-family: "BSP-Regular";
    font-size: 1rem;
    line-height: 1.3;
    color: #ffffff;
    margin-bottom: 2rem;
  }
  button {
    font-family: "BSP-Bold";
    width: 100%;
    max-width: 300px;
    background-color: #ffffff;
    color: var(--color-primary);
    letter-spacing: 0;
  }
}

// Faq Sec
.faq-sec {
  margin-top: 5rem;
}
.custom-accordion {
  margin-bottom: 1rem;

  .accordion-item {
    margin-bottom: 10px;
    border: 1px solid #e3e6ea;
    .accordion-header {
      .accordion-button {
        background-color: #ffffff;
        font-family: "BSP-Medium";
        font-size: 1.25rem;
        line-height: 1.3;
        color: var(--text-color);
        padding: 17px 20px;

        &::after {
          background-image: url("../../assets/images/icons/arrow-down-icon.png") !important;
          width: 20px;
          height: 11px;
        }
      }
    }
  }

  .accordion-item:first-of-type > .accordion-header .accordion-button {
    border-top-left-radius: 12px;
    border-top-right-radius: 12px;
  }

  .accordion-item:last-of-type > .accordion-header .accordion-button.collapsed {
    border-bottom-left-radius: 12px;
    border-bottom-right-radius: 12px;
  }

  .accordion-collapse {
    background-color: #f4f5f7;
  }

  .accordion-body {
    padding: 0 20px 40px;
    background-color: #ffffff;
    .content {
      padding: 1.25rem;
      background-color: #f3f3f4;
      border-radius: 0.75rem;
      .list-name {
        font-family: "BSP-Medium";
        font-size: 1rem;
        line-height: 1.5;
        color: var(--text-color);
        margin-bottom: 1rem;
      }
      .list-with-icon {
        list-style-type: none;
        padding: 0;
        margin-bottom: 2rem;
        li {
          position: relative;
          padding-left: 1.625rem;
          margin-bottom: 1rem;
          &::before {
            content: "";
            display: inline-block;
            position: absolute;
            left: 0;
            top: 6px;
            width: 10px;
            height: 10px;
            border-radius: 50%;
            background: linear-gradient(
              112.82deg,
              #ff681d 3.64%,
              #ffb81d 95.93%
            );
          }
          p {
            font-family: "BSP-Regular";
            font-size: 1rem;
            line-height: 1.5;
            color: var(--text-color);
            a {
              font-family: "BSP-Medium";
              color: var(--color-primary);
              text-decoration: none;
              &:hover {
                text-decoration: underline;
                text-underline-offset: 4px;
              }
            }
          }
        }
      }
      p.text {
        font-family: "BSP-Regular";
        font-size: 1rem;
        line-height: 1.3;
        color: var(--text-color);
        margin-bottom: 24px;
        &:last-child {
          margin-bottom: 0;
        }
        a {
          text-decoration: none;
          & > strong {
            color: var(--text-color);
          }
          &:hover {
            text-decoration: underline;
            text-underline-offset: 4px;
          }
        }
      }
    }
  }
}
