<div class="tabs-with-list">
  <ul class="nav nav-tabs" id="myTab" role="tablist">
    <li class="nav-item" role="presentation">
      <button
        class="nav-link active"
        id="tab-one-tab"
        data-bs-toggle="tab"
        data-bs-target="#tab-one-pane"
        type="button"
        role="tab"
        aria-controls="tab-one-pane"
        aria-selected="true"
      >
        What you get
      </button>
    </li>
    <li class="nav-item" role="presentation">
      <button
        class="nav-link"
        id="tab-two-tab"
        data-bs-toggle="tab"
        data-bs-target="#tab-two-pane"
        type="button"
        role="tab"
        aria-controls="tab-two-pane"
        aria-selected="false"
      >
        Card features
      </button>
    </li>
    <li class="nav-item" role="presentation">
      <button
        class="nav-link"
        id="tab-three-tab"
        data-bs-toggle="tab"
        data-bs-target="#tab-three-pane"
        type="button"
        role="tab"
        aria-controls="tab-three-pane"
        aria-selected="false"
      >
        What it costs
      </button>
    </li>
        <li class="nav-item" role="presentation">
      <button
        class="nav-link"
        id="tab-four-tab"
        data-bs-toggle="tab"
        data-bs-target="#tab-four-pane"
        type="button"
        role="tab"
        aria-controls="tab-four-pane"
        aria-selected="false"
      >
        how to get it
      </button>
    </li>
  </ul>
  <div class="tab-content" id="myTabContent">
    <div
      class="tab-pane fade show active"
      id="tab-one-pane"
      role="tabpanel"
      aria-labelledby="tab-one-tab"
    >
      <ul class="list-with-icon">
        <li>
          <p>Secure chip- and PIN-enabled cheque card with automatic lost card protection</p>
        </li>
        <li>
          <p>Earn UCount Rewards Points whenever you swipe your business debit card</p>
        </li>
        <li>
          <p>Access secure electronic transfers, pre-paid purchases, and payments</p>
        </li>
        <li>
          <p>Custom payment and collection solutions, including innovative point of sale (POS) devices</p>
        </li>
        <li>
          <p>Dedicated support from the BizDirect team</p>
        </li>
        <li>
          <p>Cross-border and international business support</p>
        </li>
        <li>
          <p>eStatements for easy filing</p>
        </li>
        <li>
          <p>Receive transaction notifications via MyUpdates</p>
        </li>
        <li>
          <p>Contact us via WeChat or Facebook Messenger</p>
        </li>
      </ul>
      <div class="bottom-links">
        <a target="_blank" href="https://www.standardbank.co.za/static_file/South%20Africa/PDF/Business%20Ts%20and%20Cs/Business_Transaction_Accounts_T&Cs.pdf">See transactional T&Cs</a>
        <a target="_blank" href="https://www.standardbank.co.za/static_file/South%20Africa/PDF/Business%20Ts%20and%20Cs/Business%20General%20Terms%20and%20Conditions.pdf">See general T&Cs</a>
      </div>
    </div>

    <div
      class="tab-pane fade"
      id="tab-two-pane"
      role="tabpanel"
      aria-labelledby="tab-two-tab"
    >
      <h5 class="list-name">
        Business debit card 
      </h5>
      <ul class="list-with-icon">
        <li>
          <p>Your MasterCard Business debit card is linked to your business accounts for easy access</p>
        </li>
        <li>
          <p>Pay for purchases locally and internationally wherever MasterCard is accepted</p>
        </li>
        <li>
          <p>Bank via any of our electronic banking channels</p>
        </li>
        <li>
          <p>Tap to Pay™ at till points for R500 or less</p>
        </li>
        <li>
          <p>Link your card to <a target="_blank" href="https://www.standardbank.co.za/southafrica/personal/products-and-services/ways-to-bank/innovative-payment-solutions/snapscan">SnapScan</a> or <a target="_blank" href="https://www.standardbank.co.za/southafrica/personal/products-and-services/ways-to-bank/innovative-payment-solutions/masterpass">Masterpass</a> apps to pay by phone</p>
        </li>
        <li>
          <p>Activate or disable till-point, ATM, and online card functionality using our Banking App</p>
        </li>
      </ul>
      <h5 class="list-name">
        Business cheque card  
      </h5>
      <ul class="list-with-icon">
        <li>
          <p>Your Visa Business cheque card offers all the functionality of your debit card and more:</p>
        </li>
        <li>
          <p>Get automatic free basic travel insurance every time you pay for your travel ticket using your Standard Bank Visa Business cheque card</p>
        </li>
        <li>
          <p>Additional travel cover is available at preferential rates</p>
        </li>
        <li>
          <p>Visa Commercial Offers provide significant discounts on business-related services and benefits, including travel and accommodation, stationery, advertising, and cleaning services (see latest offers at <a href="http://www.visa.co.za/" target="_blank">visa.co.za</a> or <a href="https://merchantoffersresource.visa.com/" target="_blank">merchantoffersresource.visa.com</a>)</p>
        </li>
        <li>
          <p>Cards can be used at toll roads, car rental companies, hotels, and for telephone and Internet purchases</p>
        </li>
        <li>
          <p>Access your Business current account via digital banking channels, subject to limits authorised by account signatories</p>
        </li>
        <li>
          <p>Additional cards are available for signatories on your Business current account</p>
        </li>
        <li>
          <p>Contactless transactions can be performed for small value purchases</p>
        </li>
        <li>
          <p>GCAS – Dedicated 24/7 Visa cardholder services to assist with international emergency card/cash replacement</p>
        </li>
        <li>
          <p>Medical and legal referral and company liability waiver insurance</p>
        </li>
      </ul>
    </div>

    <div
      class="tab-pane fade"
      id="tab-three-pane"
      role="tabpanel"
      aria-labelledby="tab-three-tab"
    >
      <h5 class="list-name">Monthly fee ranges from R95 to R 155</h5>
      <ul class="list-with-icon">
        <li>
          <p>No opening deposit required</p>
        </li>
        <li>
          <p>No minimum balance required</p>
        </li>
        <li>
          <p>Annual card fee is included</p>
        </li>
        <li>
          <p>Monthly fee depends on your annual turnover:</p>
            <ul class="child-list">
              <li>
                <p>R0 – R5 million (Enterprise Direct Banking): <strong>R95</strong></p>
              </li>
              <li>
                <p>R5 – R10 million (Enterprise Portfolio Banking): <strong>R95</strong></p>
              </li>
              <li>
                <p>R10 – R100 million (Relationship Banking Growth): <strong>R110</strong></p>
              </li>
              <li>
                <p>R100 – R300 million (Relationship Banking Premium): <strong>R140</strong></p>
              </li>
              <li>
                <p>R300 million or more (Commercial Banking): <strong>R155</strong></p>
              </li>
            </ul>
        </li>
      </ul>
      <div class="bottom-links">
        <a target="_blank" href="https://www.standardbank.co.za/static_file/South%20Africa/PDF/Business%20Pricing/2025/Business%20Current%20Account%20Pricing%20Guide%202025.pdf">See 2025 pricing guide</a>
      </div>
    </div>

    <div
      class="tab-pane fade"
      id="tab-four-pane"
      role="tabpanel"
      aria-labelledby="tab-four-tab"
    >
      <h5 class="list-name">Documents required</h5>
      <ul class="list-with-icon">
        <li><p>ID of owners and signatories</p></li>
        <li><p>Proof of address not older than 3 months</p></li>
        <li><p>Company registration documents if a registered company</p></li>
      </ul>
      <h5 class="list-name">To submit your documents online</h5>
      <ul class="list-with-icon">
        <li><p>On completing the online application process, you’ll see an email address</p></li>
        <li><p>Click on the email address to generate a reference number* in the subject field</p></li>
        <li><p>Attach the required documents to this email and send it through to us</p></li>
      </ul>
      <p class="small-text">*You can use this reference number if you have any queries</p>
      <h5 class="list-name">To submit your documents in-branch</h5>
      <ul class="list-with-icon">
        <li><p>Visit your nearest branch with your documents and we’ll process them for you</p></li>
      </ul>
      <h5 class="list-name">To apply</h5>
      <ul class="list-with-icon">
        <li><p>Click on the <a href="https://www.standardbank.co.za/southafrica/business/products-and-services/bank-with-us/business-bank-accounts/our-accounts/business-current-account-application" target="_blank">Apply now</a> and leave your contact details. We will call you back.</p></li>
        <li><p>Visit your nearest branch</p></li>
      </ul>

    </div>
  </div>
</div>
