<div class="article-page">
  <div class="article-page-wrapper">
    <div class="article-page-container">
      <!-- Article Banner -->
      <div class="article-banner">
        <img
          class="img-fluid"
          src="assets/images/articles/saving-tips.jpg"
          alt="article image"
        />
      </div>
      <!-- Article Banner End-->

      <!-- Article Breadcrumb -->
      <nav class="breadCrumb">
        <ul>
          <li>
            <a class="route-name" [routerLink]="['/']"><span>Home</span></a>
          </li>
          <li>
            <img
              class="img-fluid"
              src="assets/images/icons/breadcrumb-rt.png"
              alt="breadcrumb-rt"
            />
          </li>
          <li>
            <a class="route-name" [routerLink]="['/articles']"
              ><span>Help me start my business</span></a
            >
          </li>
          <li>
            <img
              class="img-fluid"
              src="assets/images/icons/breadcrumb-rt.png"
              alt="breadcrumb-rt"
            />
          </li>
          <li>
            <a class="route-name" [routerLink]="['/articles']"
              ><span>Guides</span></a
            >
          </li>
          <li>
            <img
              class="img-fluid"
              src="assets/images/icons/breadcrumb-rt.png"
              alt="breadcrumb-rt"
            />
          </li>
        </ul>
      </nav>
      <!-- Article Breadcrumb End -->

      <!-- Article Tagline and Date -->
      <div class="article-tagline">
        <p>Manage your business</p>
      </div>
      <!-- Article Tagline and Date End -->

      <div>
        <h1 class="article-title">
          6 energy-saving tips for small businesses
        </h1>
        <p class="article-title-description">
          As a small business owner, you always have to be mindful of how to keep your operating costs low. Creating a more energy-efficient environment is one way of doing this, while also reducing your business’s carbon footprint.
        </p>
        <p class="text-normal">Here are 6 tips to make your business more energy efficient:</p>


        <ul class="icon-list-content">
            <li>
               <p class="text-normal">
                 <strong>Where possible, use natural lighting: </strong>
                 if your business operates during the daytime, try to rely on natural lighting as much as possible by opening the blinds and letting the sun in. Certain areas may still require additional lighting, but where possible, opt for natural light.
            </li>
            <li>
                <p class="text-normal">
                 <strong>Use LED bulbs: </strong><a class="link" href="https://www.sustainable.org.za/userfiles/lighting.pdf" target="_blank">research</a> has shown that light-emitting diode (LED) bulbs use up to 80% LESS electricity than other types of bulbs.
                </p>
            </li>
            <li>
                <p class="text-normal">
                <strong>Unplug electronics at the end of the day:</strong>
                devices such as laptops or computers and other electronics that do not need to stay on overnight should be unplugged rather than left on standby or sleep mode. 
                </p>
            </li>
            <li>
                <p class="text-normal">
                <strong>Make energy saving a group activity:</strong>
                you can encourage your staff to be more proactive about saving electricity by providing some type of incentive for good behaviour or having regular educational group activities that can encourage them to be more energy efficient.
                </p>
            </li>
                        <li>
                <p class="text-normal">
                <strong>Turn off lights when not in use:</strong> in areas such as the kitchen or tearooms, bathrooms or conference rooms, make sure the lights are turned off when there is no one in them.
                </p>
                </li>
                                        <li>
                <p class="text-normal">
                <strong>Invest in a programmable thermostat:</strong> a programmable thermostat will allow you to reduce the temperature when no one is around. You can also reduce the power your HVAC system uses by 10% if you keep the temperature 1 degree lower in winter and 1 degree higher in summer.
                </p>
                </li>
        </ul>
        <p class="text-normal">
            Before investing in any equipment, always make sure that you do your research to ensure that you find the right solution for your specific business.
        </p>
      </div>
      </div>



    </div>
  </div>
