<div class="article-page">
  <div class="article-page-wrapper">
    <div class="article-page-container">
      <!-- Article Banner -->
      <div class="article-banner">
        <img
          class="img-fluid"
          src="assets/images/articles/consumer-behaviour.jpg"
          alt="article image"
        />
      </div>
      <!-- Article Banner End-->

      <!-- Breadcrumb -->
      <app-breadcrumb
        [showBackButton]="false"
        customClass="h-center mb-4"
        [breadcrumbs]="[
          { label: 'Home', url: '/' },
          { label: 'Help me grow my business', url: '/articles' },
          { label: 'guides', url: '/articles' }
        ]">
      </app-breadcrumb>
      <!-- ./Breadcrumb -->

      <!-- Article Tagline and Date -->
      <div class="article-tagline">
        <p>Grow your business</p>
      </div>
      <!-- Article Tagline and Date End -->

      <div>
        <h1 class="article-title">
          How to influence consumer behaviour with behavioural economics
        </h1>
        <p class="article-title-description">
          Consumer behaviour evolves constantly and being able to understand it and how to influence it is crucial to any business strategy, and more businesses have begun to apply the principles of behavioural economics to help their business grow.
        </p>
      </div>

      <h4 class="heading-sm">What is behavioural economics?</h4>
      <p class="text-normal">Simply put, behavioural economics looks at the psychology behind the economic decision-making processes of individuals and institutions. Harvard Business School Professor Gerald Zaltman (cited in Harris 2015) indicates that 95% of our purchase decisions take place unconsciously, and behavioural economics allow businesses to use ‘nudges’ to influence certain consumer behaviour.</p>
      <p class="text-normal">A nudge is a tactic to influence people into making specific choices. For example, putting chocolates at eye level near the cash register at a supermarket is a way to get shoppers to grab an extra treat before they complete their purchase.</p>
      <p class="text-normal">Here are 5 different ways to use the principles of behavioural economics to benefit your business:</p>

      <ul class="icon-list-content">
        <li><p class="text-normal"><strong>Social proofing:</strong> Tap into the desire that most people have to be a part of something. Consumers are more likely to try a new product if they believe it is popular with other consumers. Research shows that 81% of consumers trust a business with good reviews (Kats 2019).</p></li>
        <li><p class="text-normal"><strong>Price anchoring:</strong> Research shows that the amount most consumers are willing to pay for a product is strongly influenced by the context we are in, and the first price they see sets a psychological parameter for what they perceive is a reasonable cost. So if pricing starts at R199, R99 will seem cheap, while R999 seems expensive, but if we start with R10, then R100 will seem expensive. (Changing Minds 2022)</p></li>
        <li><p class="text-normal"><strong>Default selections:</strong> This is one of the most effective sales and marketing strategies, particularly for online businesses, and it is done by setting a user default that requires the consumer to take an extra step to opt out from. For example, a business can use defaults to persuade customers to receive email updates and offers.</p></li>
        <li><p class="text-normal"><strong>Scarcity:</strong> Consumers are more likely to be interested in purchasing a product if they believe there is only a limited amount available, for a limited amount of time.</p></li>
        <li><p class="text-normal"><strong>Loss aversion:</strong> You can influence customers to purchase certain products if they believe they will miss out on something by not purchasing. For example, if you have a 1-day sale where you offer exclusive discounts, customers will feel pressured to purchase products out of fear that they may never get a deal this good again.</p></li>
      </ul>
      <p class="text-normal">Behavioural economics and nudges need to be part of your business toolkit as they will empower you to make more informed marketing choices, while gaining a better understanding of the human mind.</p>

      <h4 class="heading-xs">References</h4>
      <p class="text-normal">Changing Minds. 2022. ‘The Price Anchoring Effect’. [Online] Available:
        <a href="http://changingminds.org/disciplines/marketing/pricing/price_anchoring.htm" target="_blank" class="link">http://changingminds.org/disciplines/marketing/pricing/price_anchoring.htm</a> (Accessed: 27 July 2022).
      </p>
      <p class="text-normal">Harris, M. 2015. ‘Neuroscience Proves: We Buy On Emotion and Justify with Logic—But with a Twist’. [Online] Available: 
        <a href="https://medium.com/@salesforce/neuroscience-proves-we-buy-on-emotion-and-justify-with-logic-but-with-a-twist-4ff965cdeed8" target="_blank" class="link">https://medium.com/&#64;salesforce/neuroscience-proves-we-buy-on-emotion-and-justify-with-logic-but-with-a-twist-4ff965cdeed8</a>(Accessed: 27 July 2022).
      </p>
      <p class="text-normal">Kats, R. 2019. ‘Consumer Trust Relies Heavily on Reviews and Brand Honesty’. Insider Intelligence. [Online] Available: <a href="https://www.insiderintelligence.com/content/consumer-trust-relies-heavily-on-reviews-and-brand-honesty" target="_blank" class="link">https://www.insiderintelligence.com/content/consumer-trust-relies-heavily-on-reviews-and-brand-honesty</a> (Accessed: 27 July 2022).</p>
      <p class="text-normal">Witynski, M. nd. ‘Behavioral Economics, Explained’. UChicago News. [Online] Available: <a href="https://news.uchicago.edu/explainer/what-is-behavioral-economics" target="_blank" class="link"></a> (Accessed: 27 July 2022).</p>
    </div>
  </div>
</div>