<div class="article-page">
  <div class="article-page-wrapper">
    <div class="article-page-container">
      <!-- Banner -->
      <div class="article-banner">
        <img
          class="img-fluid"
          src="assets/images/articles/small-businesses.jpg"
          alt="article image"
        />
      </div>
      <!-- ./Banner -->

      <!-- Breadcrumb -->
      <app-breadcrumb
        [showBackButton]="false"
        customClass="h-center mb-5"
        [breadcrumbs]="[
          { label: 'Home', url: '/' },
          { label: 'Help me start my business', url: '/articles' },
          { label: 'Articles', url: '/articles' },
          {
            label: '3 ways small businesses can protect themselves financially'
          }
        ]"
      >
      </app-breadcrumb>
      <!-- ./Breadcrumb -->

      <!-- Article Tagline and Date -->
      <div class="article-tagline">
        <p>Start your business</p>
        <p>7 June 2023</p>
      </div>
      <!-- Article Tagline and Date End -->

      <div>
        <h1 class="article-title">
          3 ways small businesses can protect themselves financially
        </h1>
        <p class="article-title-description">Financial risk management tips</p>
        <p class="text-normal">
          Starting a business requires a significant investment, and in order to
          protect your investment, it is crucial to have the right plans in
          place to protect yourself from any potential financial risks. Taking
          out debt is a normal part of doing business; however, life is
          unpredictable, and it can become harder to make your payments. Here
          are 3 ways to mitigate your debt and protect your business finically:
        </p>
      </div>

      <ul class="icon-list-content">
        <li>
          <p class="text-normal">
            Review your expenses and cut out unnecessary expenditure: one of the
            most effective ways to reduce debt and improve cash flow for your
            business involves reducing your expenses. As your business grows,
            you may find that certain expenses can be eliminated altogether or
            reduced. When deciding which expenses need to be cut, be honest with
            yourself about the necessity of certain expenses, and don’t cut
            expenses just for the sake of it because that may negatively impact
            your business. For example, how much would save from going
            paperless, or can you get discounts from your suppliers if you
            purchase certain supplies in bulk? Those are reasonable ways to cut
            expenses versus something like cutting costs on security for your
            business.
          </p>
        </li>
        <li>
          <p class="text-normal">
            Consolidate your business debt: if you have multiple loans, you may
            want to consider merging all of your business debt into 1 loan. Debt
            consolidation makes managing your debt a bit easier as you only have
            to worry about 1 repayment. You may also be able to secure a lower
            interest rate on your consolidated debt (though this is not
            guaranteed), as well as free up more cash for your day-to-day
            operations. While getting a debt consolidation loan may be good to
            help you manage your debt, you need to remember that you would be
            signing up for a new term loan which comes with an extended
            repayment period, so make sure you are aware of all the terms and
            conditions that come with this new commitment.
          </p>
        </li>
        <li>
          <p class="text-normal">
            Insure your business loans: a loan comes with the responsibility of
            paying it off in monthly instalments, and in the event that you can
            no longer make payments, your loan goes into default. This could
            result in your assets being at risk of being sold so that the lender
            can collect their money, and your credit score will also be affected
            and likely affect your ability to qualify for loans in the future.
            However, this can all be avoided by insuring your business loans. A
            loan protection plan allows you to insure your outstanding balance
            in the event that you are unable to make repayments due to any
            issues with cash flow. This will make your financial recovery a bit
            easier as you will be able to prioritise other expenses, and your
            assets and collateral will be safe because your payments will still
            be up to date. A Standard Bank
            <a
              class="link"
              href="https://www.standardbank.co.za/southafrica/business/products-and-services/insure-what-matters/owner-loan-protection-plan"
              target="_blank"
              >Owner Loan Protection Plan</a
            >
            will settle your outstanding balance in full in the event of death,
            dread disease or permanent disability, and your premiums decrease
            every month as the balance of what you owe decreases.
          </p>
        </li>
      </ul>
      <p class="text-normal">
        A solid debt mitigation strategy will ensure that your business survives
        the tough times and keeps growing to greater heights.
      </p>
      <p class="text-normal">Terms and conditions apply.</p>
    </div>
  </div>
</div>
