<div class="login-page">
    <app-header></app-header>
    <div class="login-wrapper">
      <div class="colLeft">
        <img
          src="assets/images/banners/ob-login-banner.jpg"
          alt="online-login banner"
        />
      </div>
      <div class="colRight">
        <div class="login-content">
          <div class="login-header">
            <h1>Sign in to online banking</h1>
            <p>If you don't have an online profile, please register</p>
          </div>
          <div class="login-body">
            <button type="button" class="signin-btn btn-common">SIGN IN</button>
            <button type="button" class="register-btn btn-common">REGISTER</button>
            <div class="mt-5">
              <p class="agreement-note">
                REGISTER By signing in, I agree to the
                <a
                  href="https://www.standardbank.co.za/static_file/South%20Africa/PDF/Terms%20and%20Conditions/T&C_Electronic_Banking_agreement.pdf"
                  target="_blank"
                  >T&Cs</a
                >
                <br />Last updated in December 2021
              </p>
              <p class="agreement-note">
                Received an invitation for online banking? <br /><a href="#">START HERE</a>
              </p>
            </div>
          </div>
          <div class="login-footer">
            <p>
              Standard Bank is a licensed financial services provider in terms of the Financial Advisory and Intermediary Services Act and a registered credit provider in terms of the National Credit Act. Registration number NCRCP15.
            </p>
          </div>
        </div>
      </div>
    </div>
  </div>
  