<div class="component-wrapper">
    <div class="header-block">
        <h5 class="link-group-title">Most popular Links</h5>
        <button class="add-link">ADD LINK</button>
    </div>

    <div class="popular-link-list">
        <div class="popular-link-card">
            <img class="img-fluid" src="assets/images/media/salary_protection_shield.png" alt="shield"/>
            <p>Transactions</p>
        </div>
                <div class="popular-link-card">
            <img class="img-fluid" src="assets/images/media/salary_protection_shield.png" alt="shield"/>
            <p>Transactions</p>
        </div>
                <div class="popular-link-card">
            <img class="img-fluid" src="assets/images/media/salary_protection_shield.png" alt="shield"/>
            <p>Transactions</p>
        </div>
                <div class="popular-link-card">
            <img class="img-fluid" src="assets/images/media/salary_protection_shield.png" alt="shield"/>
            <p>Transactions</p>
        </div>
                <div class="popular-link-card">
            <img class="img-fluid" src="assets/images/media/salary_protection_shield.png" alt="shield"/>
            <p>Transactions</p>
        </div>
                <div class="popular-link-card">
            <img class="img-fluid" src="assets/images/media/salary_protection_shield.png" alt="shield"/>
            <p>Transactions</p>
        </div>
                <div class="popular-link-card">
            <img class="img-fluid" src="assets/images/media/salary_protection_shield.png" alt="shield"/>
            <p>Transactions</p>
        </div>
    </div>

    <div class="header-block">
        <h5 class="link-group-title">All things Standard Bank</h5>
        <button class="add-link">ADD LINK</button>
    </div>
    <div class="std-things-list">
        <button type="button" class="std-bank-thing">
            <img class="img-fluid" src="assets/images/icons/icn_bank.png" alt="bank"/>
            <span>Banking</span>
        </button>
                <button type="button" class="std-bank-thing">
            <img class="img-fluid" src="assets/images/icons/icn_bank.png" alt="bank"/>
            <span>Banking</span>
        </button>
                <button type="button" class="std-bank-thing">
            <img class="img-fluid" src="assets/images/icons/icn_bank.png" alt="bank"/>
            <span>Banking</span>
        </button>
                <button type="button" class="std-bank-thing">
            <img class="img-fluid" src="assets/images/icons/icn_bank.png" alt="bank"/>
            <span>Banking</span>
        </button>
                <button type="button" class="std-bank-thing">
            <img class="img-fluid" src="assets/images/icons/icn_bank.png" alt="bank"/>
            <span>Banking</span>
        </button>
                <button type="button" class="std-bank-thing">
            <img class="img-fluid" src="assets/images/icons/icn_bank.png" alt="bank"/>
            <span>Banking</span>
        </button>
    </div>

    <div class="header-block">
        <h5 class="link-group-title">Third-Party links</h5>
        <button class="add-link">ADD LINK</button>
    </div>
    <div class="std-things-list">
        <button type="button" class="std-bank-thing">
            <img class="img-fluid" src="assets/images/icons/icn_bank.png" alt="bank"/>
            <span>Banking</span>
        </button>
                <button type="button" class="std-bank-thing">
            <img class="img-fluid" src="assets/images/icons/icn_bank.png" alt="bank"/>
            <span>Banking</span>
        </button>
                <button type="button" class="std-bank-thing">
            <img class="img-fluid" src="assets/images/icons/icn_bank.png" alt="bank"/>
            <span>Banking</span>
        </button>
                <button type="button" class="std-bank-thing">
            <img class="img-fluid" src="assets/images/icons/icn_bank.png" alt="bank"/>
            <span>Banking</span>
        </button>
                <button type="button" class="std-bank-thing">
            <img class="img-fluid" src="assets/images/icons/icn_bank.png" alt="bank"/>
            <span>Banking</span>
        </button>
                <button type="button" class="std-bank-thing">
            <img class="img-fluid" src="assets/images/icons/icn_bank.png" alt="bank"/>
            <span>Banking</span>
        </button>
    </div>


    <button class="fixed-bottom-btn" type="button">View Third-party links</button>
</div> 