<div class="carousel-container">
  <div class="custom-container">
    <div class="title-bar">
      <h2 class="text-heading-md mb-4">Manage your money wherever you are</h2>
    </div>
    <app-dynamic-swiper
      [slides]="moneyUsage"
      [itemTemplate]="slideTemplate"
      [breakpoints]="customBreakpoints"
    ></app-dynamic-swiper>
    <ng-template #slideTemplate let-item>
      <a class="slide" [routerLink]="item.link">
        <div class="slide-header">
          <img
            [src]="item.image"
            [alt]="item.alt"
            alt="laptop"
            class="img-fluid"
          />
        </div>
        <h3>{{ item.title }}</h3>
      </a>
    </ng-template>
  </div>
</div>
