@use "custom-breakpoints" as bp;
.c-card{
    padding: 1.5rem 0.5rem 1.5rem 1.5rem;
    background-color: var(--color-white);
    height: 100%;
    @include bp.respond-below('tablet') {
        padding: 1rem;
    }
    .c-card-header{
        padding-bottom: 1.5rem; border-bottom: 1px solid var(--color-gray-pale);
        .title{
            font-family: "BSP-Medium";
            font-size: 1.5rem;
            line-height: 1.3;
            color: var(--color-text);
            margin: 0;
            max-width: 264px;
            @media screen and (max-width: 991px) {
                max-width: 100%;                
            }
            @media screen and (max-width: 767px) {
                font-size: 1.25rem;
            }
        }
    }
}
.start-intro{
    font-family: "BSP-Regular"; font-size: 0.875rem; line-height: 1.3; color: var(--color-text); padding: 1.5rem 0; margin: 0;
}
.hub-card-list{
    max-height: 500px; overflow-y: auto; padding:0 0.5rem;
    @media screen and (max-width: 991px) {
        max-height: 100%;
    }
}
.hub-card{
    position: relative;
    display: flex; justify-content: space-between; align-items: center; gap: 1rem; margin-bottom: 1rem;
    border: 1px solid var(--color-gray-pale); border-radius: 0.5rem; padding: 1.25rem 1rem; background-color: var(--color-white);
    .icon-block{
        display: inline-flex; align-items: center; gap: 0.5rem;
        h6{
            font-family: "BSP-Medium"; font-size: 1rem; line-height: 1.3; color: var(--color-text); margin: 0;
        }
    }
    .delete-btn{
        border: none; background-color: var(--color-white); min-width: max-content;
    }
    .action-btn{
        border: none;
        font-family: "BSP-Bold"; font-size: 0.875rem; line-height: normal; color: var(--color-primary); margin: 0;
        padding: 1rem 1.375rem; border-radius: 0.5rem; background-color: var(--color-white); text-transform: uppercase;
    }
    &::before{
        content: "";
        position: absolute; top: 0; left: -2px; width: 4px; height: 50%;
        border-radius: 0.5rem; z-index: 1; transform: translateY(50%);
        background-color: var(--color-primary);
        transition: opacity 0.3s ease-in-out;
    }
}