<div class="c-card">
    <div class="c-card-header">
        <h3 class="title">Create your Digital Hub</h3>
    </div>
    <div class="c-card-body">
        <p class="start-intro">Start building your Digital Hub by adding your online platforms:</p>
        <div class="hub-card-list">
            <div class="hub-card">
                <div class="icon-block">
                    <img class="img-fluid" src="assets/images/icons/icn_phone_globe.png" alt="tade suite icon"/>
                    <h6>Trade suite</h6>
                </div>
                <button type="button" class="action-btn"><span>ADD</span></button>
            </div>
            <div class="hub-card">
                <div class="icon-block">
                    <img class="img-fluid" src="assets/images/icons/icn_phone_card.png" alt="delete icon"/>
                    <h6>Online Banking online</h6>
                </div>
                <button type="button" class="delete-btn">
                    <img class="img-fluid" src="assets/images/icons/icn_delete.png" alt="delete icon"/>
                </button>
            </div>
            <div class="hub-card">
                <div class="icon-block">
                    <img class="img-fluid" src="assets/images/icons/icn_phone_globe.png" alt="tade suite icon"/>
                    <h6>Trade suite</h6>
                </div>
                <button type="button" class="action-btn"><span>ADD</span></button>
            </div>
            <div class="hub-card">
                <div class="icon-block">
                    <img class="img-fluid" src="assets/images/icons/icn_phone_card.png" alt="delete icon"/>
                    <h6>Online Banking online</h6>
                </div>
                <button type="button" class="delete-btn">
                    <img class="img-fluid" src="assets/images/icons/icn_delete.png" alt="delete icon"/>
                </button>
            </div>
                        <div class="hub-card">
                <div class="icon-block">
                    <img class="img-fluid" src="assets/images/icons/icn_phone_globe.png" alt="tade suite icon"/>
                    <h6>Trade suite</h6>
                </div>
                <button type="button" class="action-btn"><span>ADD</span></button>
            </div>
            <div class="hub-card">
                <div class="icon-block">
                    <img class="img-fluid" src="assets/images/icons/icn_phone_card.png" alt="delete icon"/>
                    <h6>Online Banking online</h6>
                </div>
                <button type="button" class="delete-btn">
                    <img class="img-fluid" src="assets/images/icons/icn_delete.png" alt="delete icon"/>
                </button>
            </div>

        </div>
    </div>
</div>