<div>
  <h5 class="heading-sm mb-4">Your request was resolved by:</h5>
  <span class="label-sm mb-2">Resolved: Failed bank statements</span>
  <div class="subject mb-4"><p>Failed bank statements</p></div>

  <span class="label-sm mb-2"
    >Description <img src="assets/images/icons/icn_info-icon.png" alt="info" appTooltip title="Tooltip on top"/></span>
  <div class="description">
    <p class="mb-2">
      The client reported not receiving their recent bank statements. I
      investigated the issue and found that:
    </p>

    <ul class="list mb-4">
      <li><p>The client's email address in the system was outdated</p></li>
    </ul>

    <h6 class="list-heading">Resolution:</h6>
    <ul class="list">
      <li>
        <p>
          I updated the client's email address to jamesdlamini&#64;iworx.net in
          our system
        </p>
      </li>
      <li>
        <p>
          I confirmed with the client that this is their correct mailing address
        </p>
      </li>
      <li>
        <p>
          I requested a reprint of the missing bank statements and informed the
          client they can expect to receive them within [number] business days
        </p>
      </li>
    </ul>
  </div>
</div>
