<h3 class="title-md">Why switch your business account to us?</h3>
<div class="container-fluid px-0 pt-3 goal-card-container">
    <div class="row gx-lg-0 gy-5">
        <div class="col-lg-3 col-md-6 col-sm-12 column">
            <div class="goal-card-wrapper">
                <img class="img-fluid goal-img" src="assets/images/icons/benifit-badge.png" alt="benifit icon badge">
                <div class="goal-card">
                    <div class="goal-card-content">
                        <h2 class="goal-card-title">Better planning</h2>
                        <p class="goal-card-text">Get timelines and transparent landed cost on items ordered to assist with your import planning</p>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-lg-3 col-md-6 col-sm-12 column">
            <div class="goal-card-wrapper">
                <img class="img-fluid goal-img" src="assets/images/icons/benifit-badge.png" alt="benifit icon badge">
                <div class="goal-card">
                    <div class="goal-card-content">
                        <h2 class="goal-card-title">Word-class logistics</h2>
                        <p class="goal-card-text">We'll introduce you to logistics service providers and provide you with real-time tracking on goods moved</p>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-lg-3 col-md-6 col-sm-12 column">
            <div class="goal-card-wrapper">
                <img class="img-fluid goal-img" src="assets/images/icons/benifit-badge.png" alt="benifit icon badge">
                <div class="goal-card">
                    <div class="goal-card-content">
                        <h2 class="goal-card-title">Working capital</h2>
                        <p class="goal-card-text">Get access to trade finance, lending, forex, hedging, exposure management, payments, and international payments</p>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-lg-3 col-md-6 col-sm-12 column">
            <div class="goal-card-wrapper">
                <img class="img-fluid goal-img" src="assets/images/icons/benifit-badge.png" alt="benifit icon badge">
                <div class="goal-card">
                    <div class="goal-card-content">
                        <h2 class="goal-card-title">Customer assistance</h2>
                        <p class="goal-card-text">We'll assist you with HS and local customs classifications, custom duties, taxes, and clearing</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>