<!-- Tabs With List -->
<div class="tabs-with-list">
  <ul class="nav nav-tabs" id="myTab" role="tablist">
    <li class="nav-item" role="presentation">
      <button
        class="nav-link active"
        id="tab-one-tab"
        data-bs-toggle="tab"
        data-bs-target="#tab-one-pane"
        type="button"
        role="tab"
        aria-controls="tab-one-pane"
        aria-selected="true"
      >
        WHAT YOU CAN DO
      </button>
    </li>
    <li class="nav-item" role="presentation">
      <button
        class="nav-link"
        id="tab-two-tab"
        data-bs-toggle="tab"
        data-bs-target="#tab-two-pane"
        type="button"
        role="tab"
        aria-controls="tab-two-pane"
        aria-selected="false"
      >
        SPEECH BANKING
      </button>
    </li>
    <li class="nav-item" role="presentation">
      <button
        class="nav-link"
        id="tab-three-tab"
        data-bs-toggle="tab"
        data-bs-target="#tab-three-pane"
        type="button"
        role="tab"
        aria-controls="tab-three-pane"
        aria-selected="false"
      >
        WHAT IT COSTS
      </button>
    </li>
    <li class="nav-item" role="presentation">
      <button
        class="nav-link"
        id="tab-four-tab"
        data-bs-toggle="tab"
        data-bs-target="#tab-four-pane"
        type="button"
        role="tab"
        aria-controls="tab-four-pane"
        aria-selected="false"
      >
        HOW TO GET IT
      </button>
    </li>
  </ul>
  <div class="tab-content" id="myTabContent">
    <div
      class="tab-pane fade show active"
      id="tab-one-pane"
      role="tabpanel"
      aria-labelledby="tab-one-tab"
    >
      <ul class="list-with-icon">
        <li><p>Make payments</p></li>
        <li><p>Make inter-account transfers</p></li>
        <li><p>Buy prepaid airtime, data or electricity</p></li>
        <li><p>Change your overdraft limit</p></li>
        <li><p>Receive transaction confirmation</p></li>
        <li><p>Get copies of your statements</p></li>
      </ul>
      <div class="bottom-links">
        <a href="https://www.standardbank.co.za/static_file/South%20Africa/PDF/Personal%20Ts%20and%20Cs/Digital_Banking_terms_and_conditions.pdf" target="_blank">See digital banking T&Cs</a>
      </div>
    </div>

    <div
      class="tab-pane fade"
      id="tab-two-pane"
      role="tabpanel"
      aria-labelledby="tab-two-tab"
    >
      <ul class="list-with-icon">
        <li><p>If you can hear the prompts clearly, the system will be able to hear your instructions.</p></li>
        <li><p>To switch on system guidance, say ‘Guide on’, and ‘Guide off’ to switch it off.</p></li>
        <li><p>To speak to a consultant, say ‘Consultant’.</p></li>
        <li><p>To exit or cancel a transaction, say ‘Main menu’.</p></li>
        <li><p>To specify which transactions you want read or sent to you, say ‘Money in’, ‘Money out’ or ‘Both’.</p></li>
        <li><p>To exit telephone banking, say ‘Log off’ from anywhere in the menu.</p></li>
      </ul>
    </div>

    <div
      class="tab-pane fade"
      id="tab-three-pane"
      role="tabpanel"
      aria-labelledby="tab-three-tab"
    >
      <ul class="list-with-icon">
        <li><p>No sign-up fee</p></li>
        <li><p>No monthly subscription fees</p></li>
        <li><p>Standard network rates apply</p></li>
      </ul>
    </div>
    <div
      class="tab-pane fade"
      id="tab-four-pane"
      role="tabpanel"
      aria-labelledby="tab-four-tab"
    >
      <h5 class="list-name">To register</h5>
      <ul class="list-with-icon">
        <li>
          <p>
        Call us on 0860 123 108 between 8am and 9pm, Monday to Friday
          </p>
        </li>
        <li>
          <p>
        Or call us between 8am and 4pm on weekends and public holidays
          </p>
        </li>
      </ul>
      <h5 class="list-name">To access our 24/7 automated services or speech banking</h5>
      <ul class="list-with-icon">
        <li>
          <p>
          Call 0860 123108
          </p>
        </li>
      </ul>
  </div>
  </div>
</div>
