@use '../../styles/custom-breakpoints' as bp;

.ucount-banner{
    border: 1px solid var(--color-gray-pale); margin: 70px 0;
    padding: 40px 60px; border-radius: 20px; text-align: center;
    @include bp.respond-below('sm') {
        padding: 40px 1rem;
    }
    .content{
        width: 100%; text-align: center; max-width: 668px; margin: 0 auto;
    }
    .img-badge{
        margin-bottom: 40px;
    }
    h5, p{
        font-size: 1.25rem;
        line-height: 1.3;
        letter-spacing: 0px;
        color: var(--color-text);
    }
    h5{
        font-family: "BSP-Medium";
        @include bp.respond-below('mobile-lg') {
            font-size: 1.125rem;
        }
    }
    p{
        font-family: "BSP-Regular";
        margin: 40px 0;
        @include bp.respond-below('mobile-lg') {
            font-size: 1rem; margin: 2rem 0;
        }
    }
    .c-btn{
        width: 100%; max-width: 300px;
    }
}

@media screen and (max-width:768px) {
    .cta{
        padding: 40px 16px;
        p{
            font-size: 1rem;
        }
    }
}