<div class="article-page">
  <div class="article-page-wrapper">
    <div class="article-page-container">
      <!-- Article Banner -->
      <div class="article-banner">
        <img
          class="img-fluid"
          src="assets/images/articles/tailored-banking.jpg"
          alt="article image"
        />
      </div>
      <!-- Article Banner End-->

      <!-- Breadcrumb -->
      <app-breadcrumb
        [showBackButton]="false"
        customClass="h-center mb-4"
        [breadcrumbs]="[
          { label: 'Home', url: '/' },
          { label: 'Help me grow my business', url: '/articles' },
          { label: 'articles', url: '/articles' }
        ]"
      >
      </app-breadcrumb>
      <!-- ./Breadcrumb -->

      <!-- Article Tagline and Date -->
      <div class="article-tagline">
        <p>Grow your business</p>
      </div>
      <!-- Article Tagline and Date End -->

      <div>
        <h1 class="article-title">
          How our tailored banking solutions can benefit your accounting
          practice
        </h1>
        <p class="article-title-description">
          As a small business owner, you always have to be mindful of how to
          keep your operating costs low. Creating a more energy-efficient
          environment is one way of doing this, while also reducing your
          business’s carbon footprint.
        </p>
        <p class="text-normal">
          Discover Standard Bank’s business banking solutions for accountants in
          practice.
        </p>
        <p class="text-normal">
          Accounting firms, especially small and medium-sized practices, are the
          preferred advisors to other small and medium-sized businesses (SMEs).
          According to
          <a
            class="link"
            target="_blank"
            href="https://www.ifac.org/_flysystem/azure-private/publications/files/IFAC-Role-SMPs-Providing-Business-Support-to-SMEs-New-Evidence.pdf"
            >the International Federation of Accountants</a
          >, most accounting practices worldwide are small and medium-sized
          firms founded by accountant-entrepreneurs.
        </p>
        <p class="text-normal">
          This comes as no surprise to Mandisa Zwane, Head: Accounting Sector
          Business Banking at Standard Bank. She says, “Most accountants opened
          a practice because they know their skills are needed by SMEs.” We saw
          the pivotal role accountants play in SMEs during the Covid-19 pandemic
          when
          <a
            class="link"
            target="_blank"
            href="https://www.accountancysa.org.za/accountants-sit-at-the-heart-of-south-africas-economic-survival-and-recovery/"
            >56% of South African SMEs credited their accountants with helping
            them to survive the impact of Covid-19</a
          >
          on their businesses.
        </p>
        <p class="text-normal">
          Like all entrepreneurs, accountants also want to grow their personal
          wealth through their practice – and it is these two factors that
          prompted Standard Bank Business Banking to tailor business banking
          solutions specifically for accountants in practice.
        </p>
        <p class="text-normal">
          Standard Bank’s holistic banking solutions for accountants
        </p>
        <p class="text-normal">
          “Standard Bank has a strong African footprint with over 160 years of
          rich history, and a unique focus on the accounting sector, which
          allows us to build solutions specific to the needs of accountants in
          practice. We also understand our role as a bank in supporting its
          clients.
        </p>
        <p class="text-normal">
          “Our business banking offering for clients in the accounting sector
          therefore consists of holistic solutions that make banking and doing
          business simple and efficient,” says Zwane.
        </p>
      </div>
    </div>

    <div class="bg-gray-light pt-5 pb-2">
      <div class="article-page-container">
        <h3 class="heading-md">
          In practical terms, what does the bank offer?
        </h3>
        <ul class="icon-list-content">
          <li>
            <p class="text-normal">
              Partner funding: We’ve created an efficient and effective way to
              manage the buy-ins of new partners, making it easier to access
              capital to fund the buy-ins at consistent rates. We ring-fence our
              loans to make this funding easier to manage and streamline the
              associated admin. This will enable you to structure repayments to
              suit your cash flow requirements.
            </p>
          </li>
          <li>
            <p class="text-normal">
              Risk management: As a business owner, you know as well as we do
              that your risk cover needs extend to all areas of the practice.
              What if you or a partner were to become disabled and unable to
              repay an overdraft? Or a loan that you or your partner guaranteed
              in a personal capacity? And will you be able to continue if your
              partner or a key employee were to die or become disabled? Does the
              business still have a bond on its premises?
            </p>
          </li>
        </ul>
        <p class="text-normal">
          There’s a lot to consider. And we’ve considered it all from your point
          of view and can assist with buy-and-sell agreements, professional
          indemnity insurance, key personnel insurance, legacy planning and
          financial planning.
        </p>
      </div>
    </div>

    <div class="article-page-container pt-5 pb-3">
      <h3 class="heading-md">Alternative energy solutions:</h3>
      <p class="text-normal">
        We offer comprehensive solutions for businesses and have financed
        several projects in various formats, ranging from grid-tied solar
        systems to fully integrated systems with backup power. Our packaged
        asset finance solutions cater for the diverse alternative energy needs
        of clients, and for more complex requirements, structured funding
        solutions can be tailored accordingly. The aim is to provide solutions
        that truly address the challenges faced by clients, acknowledging that a
        one-size-fits-all approach doesn’t always work. To simplify the process
        and empower clients to make well-informed decisions, the bank introduced
        two distinct platforms such as PowerPulse & LookSee to enable businesses
        to explore and implement suitable renewable energy solutions seeking to
        enhance cost-efficiency and optimise energy usage.
      </p>
    </div>
    <div class="bg-gray-light pt-5 pb-2">
      <div class="article-page-container">
        <h3 class="heading-md">Show me that you know me</h3>
        <ul class="icon-list-content">
          <li>
            <p class="text-normal">
              In our experience, the number-one demand of business-banking
              clients is for their banks to “show me that you know me”.
            </p>
          </li>
          <li>
            <p class="text-normal">
              We also understand the balancing act entrepreneur-accountants
              perform each day as they strive to maintain their client
              portfolio, manage their practice and nurture their personal
              wealth. We’ve also seen that they define business success as
              optimisation, financial stability and sustainability, and
              recognition in their field. As such, their business bank has to be
              a strategic partner in the business.
            </p>
          </li>
          <li>
            <p class="text-normal">
              Deliberately creating and delivering business banking solutions
              for accountants that will create value for the individual by
              increasing their ability to make money, allows Standard Bank to be
              just that – a strategic partner for accounting firms.
            </p>
          </li>
          <li>
            <p class="text-normal">
              Discover our
              <a
                class="link"
                target="_blank"
                href="https://www.standardbank.co.za/southafrica/business/products-and-services/business-solutions/industry/accounting-professional-solutions"
                >business banking solutions for accounting firms.</a
              >
            </p>
          </li>
        </ul>
      </div>
    </div>
  </div>
</div>
