// Faq Sec

.custom-accordion {
  margin-bottom: 1rem;

  .accordion-item {
    margin-bottom: 10px;
    border: 1px solid var(--color-gray-pale);
    .accordion-header {
      .accordion-button {
        background-color: #ffffff;
        font-family: "BSP-Medium";
        font-size: 1.25rem;
        line-height: 1.3;
        color: var(--color-text);
        padding: 17px 20px;

        &::after {
          background-image: url("../../../assets/images/icons/arrow-down-icon.png") !important;
          width: 20px;
          height: 11px;
        }
      }
    }
  }

  .accordion-item:first-of-type > .accordion-header .accordion-button {
    border-top-left-radius: 12px;
    border-top-right-radius: 12px;
  }

  .accordion-item:last-of-type > .accordion-header .accordion-button.collapsed {
    border-bottom-left-radius: 12px;
    border-bottom-right-radius: 12px;
  }

  .accordion-collapse {
    background-color: #f4f5f7;
  }

  .accordion-body {
    padding: 0 20px 40px;
    background-color: #ffffff;
    .content {
      padding: 1.25rem;
      background-color: #f3f3f4;
      border-radius: 0.75rem;
      .list-name {
        font-family: "BSP-Medium";
        font-size: 1rem;
        line-height: 1.5;
        color: var(--color-text);
        margin-bottom: 1rem;
      }
      .list-with-icon {
        list-style-type: none;
        padding: 0;
        margin-bottom: 2rem;
        li {
          position: relative;
          padding-left: 1.625rem;
          margin-bottom: 1rem;
          &::before {
            content: "";
            display: inline-block;
            position: absolute;
            left: 0;
            top: 6px;
            width: 10px;
            height: 10px;
            border-radius: 50%;
            background: linear-gradient(
              112.82deg,
              #ff681d 3.64%,
              #ffb81d 95.93%
            );
          }
          p {
            font-family: "BSP-Regular";
            font-size: 1rem;
            line-height: 1.5;
            color: var(--color-text);
            a {
              font-family: "BSP-Medium";
              color: var(--color-primary);
              text-decoration: none;
              &:hover {
                text-decoration: underline;
                text-underline-offset: 4px;
              }
            }
          }
        }
      }
      p.text {
        font-family: "BSP-Regular";
        font-size: 1rem;
        line-height: 1.3;
        color: var(--color-text);
        margin-bottom: 24px;
        &:last-child {
          margin-bottom: 0;
        }
        a {
          text-decoration: none;
          & > strong {
            color: var(--color-text);
          }
          &:hover {
            text-decoration: underline;
            text-underline-offset: 4px;
          }
        }
      }
    }
  }
}
