<div class="dashboard-overview-header">
    <h4>Welcome to your dashboard overview</h4>
    <div>
        <a href="#">Need assistance?</a>
        <div>
            <a href="mailto:TScustomercare@standardbank.co.za" target="_blank">
                <img src="assets/images/icons/icn_mail-white.png" width="20" height="20" alt="mail" class="img-fluid"/>
                <span>TScustomercare&#64;standardbank.co.za</span>
            </a>
            <div class="avatar">
                <span>SQ</span>
            </div>
        </div>
    </div>
</div>