.connect-with-us{
    background-color: #f4f5f7; padding: 2.5rem 0;
}


.form-wrapper{
    padding: 1.5rem; background-color: #FFFFFF; border-radius: 0.5rem;
}

.form-desc{
    font-family: "BSP-Regular";
    font-size: 1rem;
    line-height: 1.5;
    color: var(--color-text);
    margin-bottom: 2.5rem;
}

.formgroup {
    position: relative;
    padding-bottom: 1.5rem;
}
  
  .custom-input {
    border: 1px solid var(--color-gray-pale);
    border-radius: 8px;
    height: 3.125rem;
    background-color: #ffffff;
    font-family: "BSP-Regular";
    font-size: 1rem;
    line-height: normal;
    color: var(--color-text);
    padding: 0.5rem 1rem;
    width: 100%;
    &::placeholder {
      font-family: "BSP-Regular";
      font-size: 1rem;
      line-height: normal;
      color: #5c6c80;
    }
    &:focus {
      outline: none;
    }
  }

  .custom-textarea {
    border: 1px solid var(--color-gray-pale);
    border-radius: 8px;
    height: 48px;
    background-color: #ffffff;
    font-family: "BSP-Regular";
    font-size: 1rem;
    line-height: normal;
    color: var(--color-text);
    padding: 0.5rem 1rem;
    width: 100%;
    height: 6.25rem;
    &::placeholder {
      font-family: "BSP-Regular";
      font-size: 1rem;
      line-height: normal;
      color: #5c6c80;
    }
    &:focus {
      outline: none;
    }
  }

  .submit-btn{
    min-width: 167px;
  }