.connect-with-us{
    background-color: #f4f5f7; padding: 2.5rem 0;
}
.toolbar-block{
    margin-bottom: 2.5rem;
    .toolbar-title{
        font-family: "BSP-Medium";
        font-size: 1.5rem;
        line-height: 1.3;
        color: var(--text-color);
    }
}

.backBtn{
    border: 1px solid var(--color-primary);
    border-radius: 30px;
    padding: 3px 14px;
    text-decoration: none;
    display: inline-flex;
    align-items: center;
    justify-content: center;
    gap: 4px; cursor: pointer;
    background-color: transparent;
    margin-bottom: 1.125rem;
    span{
        font-family: "BSP-Medium";
        font-size: 0.875rem;
        line-height: normal;
        text-align: center;
        color: var(--color-primary);
    }
}

.form-wrapper{
    padding: 1.5rem; background-color: #FFFFFF; border-radius: 0.5rem;
}

.form-desc{
    font-family: "BSP-Regular";
    font-size: 1rem;
    line-height: 1.5;
    color: var(--text-color);
    margin-bottom: 2.5rem;
}

.formgroup {
    position: relative;
    padding-bottom: 1.5rem;
    .labeltext {
      display: block;
      margin-bottom: 0.5rem;
      font-family: "BSP-Medium";
      font-size: 0.75rem;
      line-height: 1.3;
      color: var(--text-medium-gray);
      sup{
        color: #DC0A0A; top: 0; font-size: 1rem;
      }
    }
  }
  
  .custom-input {
    border: 1px solid #CED3D9;
    border-radius: 8px;
    height: 48px;
    background-color: #ffffff;
    font-family: "BSP-Regular";
    font-size: 1rem;
    line-height: normal;
    color: var(--text-color);
    padding: 0.5rem 1rem;
    width: 100%;
    &::placeholder {
      font-family: "BSP-Regular";
      font-size: 1rem;
      line-height: normal;
      color: #5c6c80;
    }
    &:focus {
      outline: none;
    }
  }

  .custom-textarea {
    border: 1px solid #CED3D9;
    border-radius: 8px;
    height: 48px;
    background-color: #ffffff;
    font-family: "BSP-Regular";
    font-size: 1rem;
    line-height: normal;
    color: var(--text-color);
    padding: 0.5rem 1rem;
    width: 100%;
    height: 6.25rem;
    &::placeholder {
      font-family: "BSP-Regular";
      font-size: 1rem;
      line-height: normal;
      color: #5c6c80;
    }
    &:focus {
      outline: none;
    }
  }

  .submit-btn{
    min-width: 167px;
  }