.bg-dark-blue{
    background-color: #00164E;
}

.custom-container-md{
    width: 100%; max-width: 1220px; padding-left: 1rem; padding-right: 1rem; margin-left: auto; margin-right: auto;
}


//   Digital Hub Styles Started
.digital-hub-wrapper-backdrop {
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    background-color: rgba(0, 0, 0, 0.5); // semi-transparent black
    z-index: 998; // just under the panel (which is 9999)
  }
  
.digital-hub-wrapper {
    position: fixed;
    bottom: 55px;
    right: 0;
    height: 686px;
    overflow-y: auto;
    display: flex;
    align-items: stretch;
    transform: translateX(calc(100% - 40px)); // Keep toggle button peeking out
    transition: transform 0.3s ease-in-out;
    z-index: 1054;
    font-family: Arial, sans-serif;
  
    &.open {
      transform: translateX(0);
    }
  
    .digital-hub-toggle {
      display: flex;flex-direction: column;align-items: center; gap: 1rem;
      padding: 1.125rem 1.625rem; 
      height: max-content;
      background-color: #0033a0;
      color: white;
      border-top-left-radius: 8px;
      border-bottom-left-radius: 8px;
      cursor: pointer;
      box-shadow: -1px 0 4px rgba(0, 0, 0, 0.2);
        
      .vertical-text {
        writing-mode: vertical-rl;
        transform: rotate(180deg);
        font-weight: bold;
        font-size: 14px;
        text-align: center;
      }
    }
  
    .digital-hub-panel {
      width: 320px;
      height: 100%;
      background-color: #fff;
      box-shadow: -2px 0 6px rgba(0, 0, 0, 0.2);
      display: flex;
      flex-direction: column;
  
      .panel-header {
        padding: 1rem;
        border-bottom: 1px solid #ddd;
        display: flex;
        justify-content: space-between;
        align-items: center;
  
        h2 {
          margin: 0;
          font-size: 18px;
        }
  
        .close-btn {
          font-size: 1.2rem;
          background: none;
          border: none;
          cursor: pointer;
        }
      }
  
      .panel-content {
        padding: 1rem;
        flex: 1;
        overflow-y: auto;
  
        .item {
          display: flex;
          justify-content: space-between;
          align-items: center;
          background: #f9f9f9;
          padding: 0.5rem 1rem;
          margin-bottom: 1rem;
          border-radius: 6px;
          border: 1px solid #ccc;
        }
  
        .add-btn {
          background-color: #0033a0;
          color: white;
          padding: 0.5rem 1rem;
          border: none;
          border-radius: 6px;
          cursor: pointer;
        }
  
        .delete-btn {
          background: none;
          border: none;
          font-size: 1rem;
          color: red;
          cursor: pointer;
        }
      }
    }
  }
  
//   Digital Hub Styles Ended