@use '../../styles/custom-breakpoints' as bp;


.bg-dark-blue{
    background-color: var(--color-primary-deeper);
}

.custom-container-md{
    width: 100%; max-width: 1220px; padding-left: 1rem; padding-right: 1rem; margin-left: auto; margin-right: auto;
}

