@use '../../styles/custom-breakpoints' as bp;


.bg-dark-blue{
    background-color: #00164E;
}

.custom-container-md{
    width: 100%; max-width: 1220px; padding-left: 1rem; padding-right: 1rem; margin-left: auto; margin-right: auto;
}



.custom-widgets{
    position: fixed; z-index: 9; right: 0.75rem; bottom: 4rem;
    display: flex; flex-direction: column;
    .widget-btn{
        background-color: transparent; border: none; padding: 0;
    }
}




// Modal Styles

.custom-contact-modal{
    border: none;
    @media (min-width: 576px) {
        .modal-dialog {
            max-width: 560px;
        }
    }
    .modal-header{
        background: linear-gradient(93.67deg, #0064FC 1.23%, #0033AA 58.64%);
        .modal-title{
            font-family: "BSP-Regular";
            font-size: 1rem;
            line-height: 130%;
            color: #FFFFFF;
        }
        .btnclose{ margin-left: auto; border: none; background-color: transparent;padding: 0;}
    }
    .modal-content{
        border: none;
    }
    .modal-body{
        padding: 1.875rem;
    }
    .dialog-content{
        text-align: center;
    }
    .heading-title{
        font-family: "BSP-Medium";
        font-size: 1rem;
        line-height: 1.3;
        color: var(--text-color);
        margin-bottom: 1.5rem;
    }
    .text-md{
        font-family: "BSP-Regular";
        font-size: 1rem;
        line-height: 1.3;
        color: var(--text-color);
        a{
            color: #0033AA !important; text-decoration:  none;font-family: "BSP-Medium";
        }
    }
    .img-avatar{
        width: 54px; margin-bottom: 1rem;
    }
    .mail-input{
        text-align: start;
        max-width: 446px; margin: 1.5rem auto 0;
        .label-name{
            display: block;
                font-family: "BSP-Medium";
                font-size: 12px;
                line-height: 1.3;
                color: var(--text-light-gray);
                margin-bottom: 5px;
                sup{
                    font-size: 14px;top: 0;
                    color: #E31E46 !important;
                }
        }
        input, textarea{
            width: 100%;
            border: 1px solid #5c6c80;
            border-radius: 8px;
            height: 48px;
            background-color: #ffffff;
            font-family: "BSP-Medium";
            font-size: 1rem;
            line-height: normal;
            color: var(--text-color);
            padding: 0.5rem 1rem;
            width: 100%;
            &::placeholder {
              font-family: "BSP-Regular";
              font-size: 1rem;
              line-height: normal;
              color: #5c6c80;
            }
            &:focus {
              outline: none;
            }
        }
        textarea{
            min-height: 5.375rem;
        }
        p{
            font-family: "BSP-Regular";
            font-size: 0.75rem;
            line-height: 1.3;
            color: var(--text-light-gray);
            margin: 5px 0;
        }
    }
    .modal-footer{
        justify-content: space-between; padding: 0 0.75rem; background-color: #F4F5F7; border: none;
    }
    .textBtn{
        font-family: "BSP-Bold";
        font-size: 0.875rem;
        line-height: normal;
        color:#0062E1;
        text-transform: uppercase;
        border: none; background-color: transparent;
        padding: 1rem 0.75rem;
    }
}   




  
.contact-widget-container {
    position: relative;
    .widget-popup {
        position: absolute; bottom: 70px; right: 0.625rem; background: white; border-radius: 0.5rem; box-shadow: 0 4px 12px rgba(0, 0, 0, 0.2); width: 303px;
        overflow: hidden;
        .widget-popup-header {
            display: flex; align-items: center;
            justify-content: space-between;
            background-color: #0033AA;
            padding: 1rem;
            .widget-title{
                font-family: "BSP-Medium"; font-size: 1rem; line-height: normal; color: #F4F5F7; margin: 0;
            }
                .close-widget{
                border: none; background-color: transparent;
            }
          }
        .widget-content{
            padding: 1rem 0.5625rem 1.5rem 1rem;
            .info{
                display: flex; align-items: center; gap: 0.625rem; margin-bottom: 1.2rem;
                .details{
                    h5{
                        font-family: "BSP-Medium"; font-family: 1rem; line-height: 1.3; color: var(--text-color); margin-bottom: 0;
                    }
                    span{
                        font-family: "BSP-Regular"; font-family: 0.75rem; line-height: 1.3; color: var(--text-light-gray);
                    }
                }
            }
            .address-lines{
                 p{
                    font-family: "BSP-Regular"; font-size: 0.875rem; line-height: 1.3; color: var(--text-color); margin-bottom: 1.1875rem;
                    a{
                        color: inherit; text-decoration: none; display: flex; gap: 2rem; justify-content: space-between; width: 100%;
                    }
                    &:last-child{margin-bottom: 0;}
                }
            }
        }
    }
      
  
  }
  

 