@use "../../styles/custom-modal";
@use "../../styles/custom-pagination.scss";



// tab-container
.tab-container {
  background-color: #ffffff;
  border-radius: 0.75rem;
  border: 1px solid var(--color-gray-pale);
  .tabs-list {
    border-bottom: 1px solid var(--color-gray-pale);
    button {
      position: relative;
      background-color: transparent;
      border: 0;
      padding: 1rem;
      font-family: "BSP-Bold";
      font-size: 1rem;
      line-height: normal;
      color: var(--color-text);
      &.activeTab {
        color: var(--color-primary);
        &::after {
          content: "";
          display: block;
          height: 2px;
          width: 100%;
          position: absolute;
          bottom: 0;
          left: 0;
          background-color: var(--color-primary);
        }
      }
    }
  }
}

.custom-pagination{
  justify-content: center; margin: 2.5rem 0;
}





