@use "../../styles/custom-modal";
@use "../../styles/custom-pagination.scss";

.page-wrapper {
  padding: 1.625rem 0;
  background-color: #f4f5f7;
}

.breadCrumb {
  margin-bottom: 1.5rem;
  ul {
    list-style: none;
    padding: 0;
    margin: 0;
    display: flex;
    align-items: center;
    li {
      .route-name {
        font-family: "BSP-Regular";
        font-size: 0.875rem;
        line-height: 1.3;
        text-decoration: none;
        color: var(--color-text);
        cursor: pointer;
      }
      &:not(:last-child) {
        margin-right: 0.625rem;
      }
    }
  }
}

// tab-container
.tab-container {
  background-color: #ffffff;
  border-radius: 0.75rem;
  border: 1px solid var(--color-gray-pale);
  .tabs-list {
    border-bottom: 1px solid var(--color-gray-pale);
    button {
      position: relative;
      background-color: transparent;
      border: 0;
      padding: 1rem;
      font-family: "BSP-Bold";
      font-size: 1rem;
      line-height: normal;
      color: var(--color-text);
      &.activeTab {
        color: var(--color-primary);
        &::after {
          content: "";
          display: block;
          height: 2px;
          width: 100%;
          position: absolute;
          bottom: 0;
          left: 0;
          background-color: var(--color-primary);
        }
      }
    }
  }
}

.custom-pagination{
  justify-content: center; margin: 2.5rem 0;
}





