<div class="page-bg py-4">
  <div class="custom-container">
    <!-- Breadcrumb -->
    <app-breadcrumb
      [showBackButton]="true"
      backLink="/"
      customClass="mb-4"
      [breadcrumbs]="[
        { label: 'Back', url: '/' },
        { label: 'Products and Services', url: '/products-and-services' },
        { label: 'Product-detail' }
      ]">
    </app-breadcrumb>
    <!-- ./Breadcrumb -->
    <h1 class="heading-base fw-md mb-4">Bank account</h1>
    <!-- Toolbar -->
    <app-toolbar-one></app-toolbar-one>
    <!-- Toolbar End -->    
     <div class="tab-container">
      <div class="tabs-list">
        <button type="button" 
          [class.activeTab]="activeTab === 'transaction'"
          (click)="setActiveTab('transaction')">
          Transaction History
        </button>
        <button type="button" 
          [class.activeTab]="activeTab === 'documents'"
          (click)="setActiveTab('documents')">
          Documents
        </button>
      </div>
      <div class="tabcontent">
          <app-transaction-history *ngIf="activeTab === 'transaction'"></app-transaction-history>
          <app-documents *ngIf="activeTab === 'documents'"></app-documents>
      </div>
    </div>

    <!-- Pagination -->
    <div class="custom-pagination">
      <button type="button">
        <img
          src="assets/images/icons/carousel-arrow-lt.png"
          alt="arrow"
          class="img-fluid"
        />
      </button>
      <ul>
        <li class="selected">
          <button type="button">1</button>
        </li>
        <li>
          <button type="button">2</button>
        </li>
        <li>
          <button type="button">3</button>
        </li>
        <li>
          <button type="button">4</button>
        </li>
        <li>
          <button type="button">5</button>
        </li>
      </ul>
      <button type="button">
        <img
          src="assets/images/icons/carousel-arrow-rt.png"
          alt="arrow"
          class="img-fluid"
        />
      </button>
    </div>
    <!-- Pagination End-->
  </div>
</div>

<app-bottom-sheet-filters></app-bottom-sheet-filters>
<app-bottom-sheet-actions></app-bottom-sheet-actions>
