@use "custom-modal";
@use "custom-pagination.scss";

@use "custom-breakpoints" as bp;



// tab-container
.tab-container {
  background-color: var(--color-white);
  border-radius: 0.75rem;
  border: 1px solid var(--color-gray-pale);
  .tabs-list {
    border-bottom: 1px solid var(--color-gray-pale);
    button {
      position: relative;
      background-color: transparent;
      border: 0;
      padding: 1rem;
      font-family: "BSP-Bold";
      font-size: 1rem;
      line-height: normal;
      color: var(--color-text);
      @include bp.respond-below("mobile-lg") {
        font-size: 0.875rem; padding: 1rem 0.875rem;
      }
      &.activeTab {
        color: var(--color-primary);
        &::after {
          content: "";
          display: block;
          height: 2px;
          width: 100%;
          position: absolute;
          bottom: 0;
          left: 0;
          background-color: var(--color-primary);
        }
      }
    }
  }
}

.custom-pagination{
  justify-content: center; margin: 2.5rem 0;
}

.mobile-filter-btn {
  display: flex;
  flex-direction: column;
  align-items: center;
  border: none;
  padding: 1rem 2rem;
  background-color: transparent;
  .icn {
    width: 1.5rem;
  }
  span {
    display: inline-block;
    font-family: "BSP-Medium";
    margin-top: 0.5rem;
    font-size: 0.75rem;
    color: var(--color-primary);
  }
  &:focus {
    outline: none;
  }
}

