<div class="page-wrapper">
  <div class="custom-container">
    <!-- Breadcrumb -->
    <nav class="breadCrumb">
      <ul>
        <li>
          <a class="backBtn">
            <img
              class="img-fluid"
              src="assets/images/icons/back-left-icon.png"
              alt="back button"
            />
            <span>Back</span>
          </a>
        </li>
        <li>
          <img
            class="img-fluid"
            src="assets/images/icons/breadcrumb-rt.png"
            alt="breadcrumb-rt"
          />
        </li>
        <li>
          <a class="route-name" routerLink="/"><span>Home</span></a>
        </li>
        <li>
          <img
            class="img-fluid"
            src="assets/images/icons/breadcrumb-rt.png"
            alt="breadcrumb-rt"
          />
        </li>
        <li>
          <a class="route-name"><span>Product-detail</span></a>
        </li>
        <li>
          <img
            class="img-fluid"
            src="assets/images/icons/breadcrumb-rt.png"
            alt="breadcrumb-rt"
          />
        </li>
      </ul>
    </nav>
    <!-- Breadcrumb end -->
    <h1 class="heading-base fw-md mb-4">Bank account</h1>
    <!-- Toolbar -->
    <app-toolbar-one></app-toolbar-one>
    <!-- Toolbar End -->    
     <div class="tab-container">
      <div class="tabs-list">
        <button type="button" 
          [class.activeTab]="activeTab === 'transaction'"
          (click)="setActiveTab('transaction')">
          Transaction History
        </button>
        <button type="button" 
          [class.activeTab]="activeTab === 'documents'"
          (click)="setActiveTab('documents')">
          Documents
        </button>
      </div>
      <div class="tabcontent">
          <app-transaction-history *ngIf="activeTab === 'transaction'"></app-transaction-history>
          <app-documents *ngIf="activeTab === 'documents'"></app-documents>
      </div>
    </div>

    <!-- Pagination -->
    <div class="custom-pagination">
      <button type="button">
        <img
          src="assets/images/icons/carousel-arrow-lt.png"
          alt="arrow"
          class="img-fluid"
        />
      </button>
      <ul>
        <li class="selected">
          <button type="button">1</button>
        </li>
        <li>
          <button type="button">2</button>
        </li>
        <li>
          <button type="button">3</button>
        </li>
        <li>
          <button type="button">4</button>
        </li>
        <li>
          <button type="button">5</button>
        </li>
      </ul>
      <button type="button">
        <img
          src="assets/images/icons/carousel-arrow-rt.png"
          alt="arrow"
          class="img-fluid"
        />
      </button>
    </div>
    <!-- Pagination End-->
  </div>
</div>

<app-bottom-sheet-filters></app-bottom-sheet-filters>
<app-bottom-sheet-actions></app-bottom-sheet-actions>
