@use "../../../styles/custom-breakpoints" as bp;


.artical-page-wrapper{
    padding: 4.375rem 0; 
}
.artical-page-container{
    width: 100%;
    max-width: 800px;
    margin-left: auto; margin-right: auto; padding-left: 1rem; padding-right: 1rem;
}


.backBtn{
    border: 1px solid #0062E1;
    border-radius: 30px;
    padding: 3px 14px;
    text-decoration: none;
    display: inline-flex;
    align-items: center;
    justify-content: center;
    gap: 4px; cursor: pointer;
    span{
        font-family: "BSP-Medium";
    font-size: 0.875rem;
    line-height: normal;
    text-align: center;

    }
}
.breadCrumb{
    margin-bottom: 1.5rem;
    ul{
        list-style: none; padding: 0; margin: 0; display: flex; align-items: center;
        li{
            .route-name{
                font-family: "BSP-Regular";
                font-size: 0.875rem;
                line-height: 1.3;
                text-decoration: none;
                color: var(--text-color);
            }
            &:not(:last-child){margin-right: 0.625rem;}
        }
    }
}

.artical-banner{
    border-radius: 0.75rem; overflow: hidden; margin: 2rem 0;
}

.artical-tagline{
    display: flex; align-items: center; margin-bottom: 2rem;
    p{
        font-family: "BSP-Regular";
        font-size: 1rem;
        line-height: 1.5;
        color: var(--text-medium-gray);
        margin-bottom: 0.625rem;
        padding: 0 1rem;
        &:first-child{
            padding-left: 0; border-right: 1px solid var(--text-medium-gray);
        }
    }
}

.article-title{
    font-family: "BSP-Regular";
    font-size: 2.625rem;
    line-height: 1.3;
    margin-bottom: 1.5rem;
    color: var(--text-medium-gray);
    @include bp.respond-below('sm') {
        font-size: 2.375rem;
    }
    @include bp.respond-below('xs') {
        font-size: 2rem;
    }
    @include bp.respond-below('mobile-xs') {
        font-size: 1.75rem;
    }
}

.article-title-description{
    font-family: "BSP-Regular";
    font-size: 1.5rem;
    line-height: 1.3;
    margin-bottom: 1.5rem;
    color: var(--text-light-gray);
    @include bp.respond-below('sm') {
        font-size: 1.375rem;
    }
    @include bp.respond-below('xs') {
        font-size: 1.125rem;
    }
    @include bp.respond-below('mobile-xs') {
        font-size: 1rem;
    }
}


.title-md{
    font-family: "BSP-Regular";
    font-size: 1.5rem;
    line-height: 1.3;
    margin-bottom: 2rem;
    color: var(--text-medium-gray);
    @include bp.respond-below('sm') {
        font-size: 1.375rem;
    }
    @include bp.respond-below('xs') {
        font-size: 1.125rem;
    }
    @include bp.respond-below('mobile-xs') {
        font-size: 1rem;
    }
}
.title-sm{
    position: relative;
    font-family: "BSP-Regular";
    font-size: 1.125rem;
    line-height: 1.3;
    margin-bottom: 1rem;
    color: var(--text-medium-gray);
    padding-left: 1.875rem;
    &::before{
        content: "";
        border-color: transparent transparent #ff4500;
        border-style: solid;
        border-width: 0 5px 8px 5px;
        display: block;
        position: absolute;
        height: 0;
        width: 0;
        left: 0;
        top: 5px;
    }
}

.text{
    font-family: "BSP-Regular";
    font-size: 1rem;
    line-height: 1.5;
    margin-bottom: 1.75rem;
    color: var(--text-light-gray);
    @include bp.respond-below('sm') {
        margin-bottom: 1rem;
    }
    @include bp.respond-below('xs') {
        font-size: 0.875rem;
    }
    @include bp.respond-below('mobile-xs') {
        font-size: 0.75rem;
    }
    a{
        font-family: "BSP-Medium";
        color: var(--color-primary);
        text-decoration: none;
        &:hover{
            text-decoration: underline;

        }
    }

    }