<div class="text-image-card">
    <div class="row gx-0">
        <div class="col-lg-5 colLeft">
            <div class="content">
                <h4>Need assistance with your company registration?</h4>
                <p class="para">Operating your business as a company separate from our personal affairs has many advantages. Standard Bank has partnered with CIPC who will guide you through your business registration.</p>
                <button type="button" class="primaryBtn">Register online at BizPortal</button>
            </div>
        </div>
        <div class="col-lg-7 colRight">
            <img class="img-fluid" src="assets/images/media/assistance-img.jpg" alt="assistance-img"/>
        </div>
    </div>
</div>