<div class="page-bg py-4">
  <div class="custom-container">
    <!-- Breadcrumb -->
    <app-breadcrumb
        [showBackButton]="true"
        customClass="mb-4"
        [breadcrumbs]="[
            { label: 'Home', url: '/' },
            { label: 'Products and Services', url: '/products-and-services' },
            { label: 'Bank with us' }
        ]"
    ></app-breadcrumb>
    <!-- ./Breadcrumb -->
    <h1 class="heading-sm fw-md mb-4">Bank account</h1>

    <!-- Toolbar -->
    <app-toolbar-one></app-toolbar-one>
    <!-- Toolbar End -->

    <h5 class="table-title">Savings</h5>
    <div class="white-block">
        <div class="account-info-table">
            <table class="table">
                <tbody>
                    <tr>
                        <td>
                            <div class="account-title">
                                <div class="icon-avatar">
                                    <img class="img-fluid" src="assets/images/icons/icn_avatar-account.png" alt="account icon"/>
                                </div>
                                <div class="title-info">
                                    <p>Electronic 32 day Notice Deposit</p>
                                    <span>123 232 334455</span>
                                </div>
                            </div>
                        </td>
                        <td>
                            <div class="balance-info">
                                <span>Available balance</span>
                                <p>R 130 000 .00</p>
                            </div>
                        </td>
                        <td class="text-md-end">
                            <button type="button" class="link-btn">TRANSFER</button>
                            <button type="button" class="link-btn">DOCUMENTS</button>
                        </td>
                        <td>
                            <img class="img-fluid" src="assets/images/icons/icn_right-chevron.png" alt="icn_right-chevron"/>
                        </td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>

    <h5 class="table-title">Investments</h5>
    <div class="white-block account-info-table-list">
        <div class="account-info-table">
            <table class="table">
                <tbody>
                    <tr>
                        <td>
                            <div class="account-title">
                                <div class="icon-avatar">
                                    <img class="img-fluid" src="assets/images/icons/icn_avatar-account.png" alt="account icon"/>
                                </div>
                                <div class="title-info">
                                    <p>Electronic 32 day Notice Deposit</p>
                                    <span>123 232 334455</span>
                                </div>
                            </div>
                        </td>
                        <td>
                            <div class="balance-info">
                                <span>Available balance</span>
                                <p>R 130 000 .00</p>
                            </div>
                        </td>
                        <td class="text-md-end">
                            <button type="button" class="link-btn">TRANSFER</button>
                            <button type="button" class="link-btn">DOCUMENTS</button>
                        </td>
                        <td>
                            <img class="img-fluid" src="assets/images/icons/icn_right-chevron.png" alt="icn_right-chevron"/>
                        </td>
                    </tr>
                </tbody>
            </table>
        </div>
        <div class="account-info-table">
            <table class="table">
                <tbody>
                    <tr>
                        <td>
                            <div class="account-title">
                                <div class="icon-avatar">
                                    <img class="img-fluid" src="assets/images/icons/icn_avatar-account.png" alt="account icon"/>
                                </div>
                                <div class="title-info">
                                    <p>Electronic 32 day Notice Deposit</p>
                                    <span>123 232 334455</span>
                                </div>
                            </div>
                        </td>
                        <td>
                            <div class="balance-info">
                                <span>Available balance</span>
                                <p>R 130 000 .00</p>
                            </div>
                        </td>
                        <td class="text-md-end">
                            <button type="button" class="link-btn">TRANSFER</button>
                            <button type="button" class="link-btn">DOCUMENTS</button>
                        </td>
                        <td>
                            <img class="img-fluid" src="assets/images/icons/icn_right-chevron.png" alt="icn_right-chevron"/>
                        </td>
                    </tr>
                </tbody>
            </table>
        </div>
        <div class="account-info-table">
            <table class="table">
                <tbody>
                    <tr>
                        <td>
                            <div class="account-title">
                                <div class="icon-avatar">
                                    <img class="img-fluid" src="assets/images/icons/icn_avatar-account.png" alt="account icon"/>
                                </div>
                                <div class="title-info">
                                    <p>Electronic 32 day Notice Deposit</p>
                                    <span>123 232 334455</span>
                                </div>
                            </div>
                        </td>
                        <td>
                            <div class="balance-info">
                                <span>Available balance</span>
                                <p>R 130 000 .00</p>
                            </div>
                        </td>
                        <td class="text-md-end">
                            <button type="button" class="link-btn">TRANSFER</button>
                            <button type="button" class="link-btn">DOCUMENTS</button>
                        </td>
                        <td>
                            <img class="img-fluid" src="assets/images/icons/icn_right-chevron.png" alt="icn_right-chevron"/>
                        </td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>

  </div>
</div>
