@use "custom-breakpoints" as bp;

.field-label{
    display: inline-block;
    font-family: "BSP-Medium";
    font-size: 1rem;
    line-height: 1.3;
    color: var(--color-gray-medium);
    margin-bottom: 0.5rem;
}
.field-label-md{
    display: inline-block;
    font-family: "BSP-Medium";
    font-size: 1.25rem;
    line-height: 1.3;
    color: var(--color-gray-medium);
    margin-bottom: 0.5rem;
    @include bp.respond-below("mobile-lg") {
        font-size: 1.125rem;
    }
}

.field-text{
    font-family: "BSP-Regular";
    font-size: 1rem;
    line-height: 1.3;
    color: var(--color-black);
    margin: 0;
}
.field-text-sm{
    font-family: "BSP-Regular";
    font-size: 0.875rem;
    line-height: 1.3;
    color: var(--color-black);
    margin: 0;
}
.field-text-md{
    font-family: "BSP-Regular";
    font-size: 1.25rem;
    line-height: 1.3;
    color: var(--color-black);
    margin: 0;
    @include bp.respond-below("mobile-lg") {
        font-size: 1.125rem;
    }
}

.field-avatar{
    display: inline-flex;align-items: center; justify-content: center;
    width: 2.5rem; height: 2.5rem;
    border-radius: 50%;
    background-color: var(--color-primary-dark);
    font-family: "BSP-Medium";
    font-size: 1rem;
    line-height: normal;
    color: var(--color-white);
}

.gray-block{
    background-color: var(--bg-light);
    padding: 1rem;
    border-radius: 0.75rem;
}

.btn-group{
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 1.5rem;
    gap: 1rem;
    @include bp.respond-below("mobile-lg") {
        .space{
            display: none;
        }
    }
    @include bp.respond-below("mobile-xs") {
        flex-direction: column;
        align-items: stretch;
    }
    button{
        min-width: 160px;
        @include bp.respond-below("mobile-lg") {
            min-width: unset; width: 100%;
        }
    }

}


// Summery styles
.payment-status{
    background: rgba(46, 125, 50, 0.2);
    display: flex; align-items: center; justify-content: center;flex-direction: column;
    padding: 2.5rem 1rem; border-radius: 0.75rem;
    .icn-success{
        width: 5rem;
    }
    .status-text{
        font-family: "BSP-Medium";
        font-size: 1rem;
        line-height: 1.3;
        color: var(--color-success);
        margin: 1rem 0 0;
    }
}

.disbled {
    opacity: 0.5;
    pointer-events: none;
    filter: grayscale(0.9);
}