<div class="article-page">
  <div class="article-page-wrapper">
    <div class="article-page-container">
      <!-- Article Banner -->
      <div class="article-banner">
        <img
          class="img-fluid"
          src="assets/images/articles/chargebacks.jpg"
          alt="article image"
        />
      </div>
      <!-- Article Banner End-->

      <!-- Article Breadcrumb -->
      <app-breadcrumb
        [showBackButton]="false"
        customClass="h-center mb-4"
        [breadcrumbs]="[
          { label: 'Home', url: '/' },
          { label: 'Help me start my business', url: '/articles' },
          { label: 'Articles', url: '/articles' }
        ]">
      </app-breadcrumb>
      <!-- Article Breadcrumb End -->

      <!-- Article Tagline and Date -->
      <div class="article-tagline">
        <p>Start your business</p>
        <p>22 Nov 2022</p>
      </div>
      <!-- Article Tagline and Date End -->

      <div>
        <h1 class="article-title">
          Get familiar with chargebacks and fraud claims
        </h1>
        <p class="article-title-description">
          When consumers become victims of fraud, they can turn to the chargeback process to recover their money, but for the merchant, it means a loss of revenue and stock, making the fraud attack doubly damaging.
        </p>
        <p class="text-normal">
          When consumers become victims of fraud, they can turn to the chargeback process to recover their money, but for the merchant, it means a loss of revenue and stock, making the fraud attack doubly damaging.
        </p>
        <p class="text-normal">
            Criminals use a variety of methods, but most involve stolen customer data and payment information to make unauthorised purchases or payments. While these schemes are becoming increasingly sophisticated and frequent, e-commerce merchants are left particularly vulnerable, thanks to the anonymity of the internet.
        </p>
      </div>

      <h3 class="heading-sm">THE IMPACT OF FRAUD ON YOUR BUSINESS</h3>
      <p class="text-normal">Losing money through <a class="link" href="https://www.standardbank.co.za/southafrica/business/products-and-services/business-solutions/specialised/merchant-solutions/fraud-and-chargebacks" target="_blank">false fraud claims or chargebacks</a> is costly and inconvenient and can have long-term implications for your business. With big annual shopping events, such as Black Friday, Cyber Monday and the festive season, we want you to experience safe and secure banking and emphasise the importance of being aware of scams that target merchants and customers.</p>
      <p class="text-normal">You want to see your hard work pay off, not pay it away in a dispute. Understanding how a <a class="link" href="https://www.standardbank.co.za/southafrica/personal/products-and-services/security-centre/bank-safely/scams" target="_blank">scam works</a> and what to look out for are crucial to mitigating the risk.</p>
      <h3 class="heading-sm">GET TO GRIP WITH CHARGEBACKS</h3>
      <p class="text-normal">A chargeback is when a payment made by a client to a merchant is reversed by the bank, reimbursing the customer in the case of fraud or a disputed transaction. Scammers take advantage of this process by using stolen payment information to buy goods/services from merchants, and then the merchant’s account is debited to pay back the customer.</p>
      <p class="text-normal">Unfortunately, sometimes customers themselves abuse this system with an estimated 1 in 5 customers knowingly submitting false fraud claims. In this case, the cardholder files a false chargeback claim to ‘get something for free’ or that it would be easier than requesting a return.</p>  
      <p class="text-normal">The results are the same: the merchant loses.</p>
    </div>

    <div class="progress-works-container">
        <div class="process-works">
            <img class="img-fluid" src="assets/images/articles/process-works.jpg" alt="process works">
        </div>
    </div>
    <div class="bg-gray-light py-5 mt-5">
    <div class="article-page-container">
    <h3 class="heading-sm">THE IMPACT OF FRAUD ON YOUR BUSINESS</h3>
    <p class="text-normal">To prevent falling victim to false fraud claims and scams, use these tips to help #BeatTheScam:</p>
    <ul class="icon-list-content">
        <li>
            <p>Use multi-layered payment protocols and 3D Secure verifications.</p>
        </li>
        <li>
            <p>Remain vigilant and train your staff to look out for suspicious activity. If something seems strange, take a second look.</p>
        </li>
        <li>
            <p>Manual transactions and voice authorisations are risky.</p>
        </li>
        <li>
            <p>Ensure that the transactions are authenticated by the cardholder.</p>
        </li>
        <li>
            <p>Don’t complete a transaction if the authorisation request was declined or split payments. Rather ask for another form of payment.</p>
        </li>
        <li>
            <p>Make your return and dispute process clear.</p>
        </li>
        <li>
            <p>Ask for identification.</p>
        </li>
        <li>
            <p>Encourage customers to create personal accounts for future purchases.</p>
        </li>
    </ul>

    <h3 class="heading-sm">PROTECT YOUR BUSINESS</h3>
    <p class="text-normal">Take the guesswork out of the types of fraud merchants are exposed to and what you can do to minimise your risk. Download our brochure on Fraud and Chargebacks. <a class="link" target="_blank" href="https://www.standardbank.co.za/static_file/South%20Africa/PDF/Merchant%20Solutions/Fraud_and_Chargebacks_brochure.pdf">Download here </a></p>
    <p class="text-normal">If you’re suspicious about a transaction, a person or the circumstances, call the bank for a code 10 authorisation to verify payment card information before completing a transaction. 
    Alternatively, you can call our Fraud Line on 0800 022 050. </p>
    </div>
    </div>
    </div>
  </div>
