<app-page-banner
  [title]="'Don’t let a payment hold you back'"
  [imageUrl]="'assets/images/banners/specialised-financing.jpg'"
></app-page-banner>

<div class="page-bg py-5">
  <div class="custom-container">
    <app-breadcrumb
      [showBackButton]="false"
      customClass="h-center"
      [breadcrumbs]="[
        { label: 'Home', url: '/' },
        { label: 'Products and Services', url: '/products-and-services' },
        { label: 'Bank with us' }
      ]"
    ></app-breadcrumb>

    <app-page-intro
      [title]="'Debtor finance'"
      [description]="
        'Improve your cash flow by converting unpaid sales invoices into immediate funds.'
      "
    ></app-page-intro>

    <div class="sec-b-space">
      <h3 class="heading-sm mb-4">Some of the Benefits</h3>
      <app-image-heading-card
        [imageHeaduingCards]="imageHeadingCardsData"
      ></app-image-heading-card>
    </div>

    <div class="sec-b-space">
      <div class="card-grid-container">
        <app-inline-image-text-card
          [imageSrc]="'assets/images/media/bus.jpg'"
          [imageAlt]="'Description of the image'"
          [title]="'Disclosed debtor finance'"
          [description]="
            'Give your growing business access to working capital ahead of customer payments.'
          "
          [linkText]="'Tell me more'"
          [linkUrl]="'/some-page'"
          [verticalView]="false"
        >
        </app-inline-image-text-card>
        <app-inline-image-text-card
          [imageSrc]="'assets/images/media/bus.jpg'"
          [imageAlt]="'Description of the image'"
          [title]="'Non-disclosed debtor finance'"
          [description]="
            'Access money you’ve invoiced in advance while keeping your facility confidential.'
          "
          [linkText]="'Tell me more'"
          [linkUrl]="'/some-page'"
          [verticalView]="false"
        >
        </app-inline-image-text-card>
        <app-inline-image-text-card
          [imageSrc]="'assets/images/media/bus.jpg'"
          [imageAlt]="'Description of the image'"
          [title]="'Banker’s acceptance'"
          [description]="
            'Put yourself in a position to pay local or international suppliers who aren’t yet willing to grant you credit.'
          "
          [linkText]="'Tell me more'"
          [linkUrl]="'/some-page'"
          [verticalView]="false"
        >
        </app-inline-image-text-card>
      </div>
    </div>

    <div class="sec-b-space">
      <app-dynamic-swiper
        [slides]="featuredCardData"
        [itemTemplate]="slideTemplate"
        [breakpoints]="customBreakpoints"
      ></app-dynamic-swiper>
      <ng-template #slideTemplate let-carddata>
        <app-featured-card
          [title]="carddata.title"
          [description]="carddata.description"
          [imageSrc]="carddata.imageSrc"
          [imageAlt]="carddata.imageAlt"
          [buttonLabel]="carddata.buttonLabel"
          [buttonLink]="carddata.buttonLink"
          [className]="'wide-card-img'"
        ></app-featured-card>
      </ng-template>
    </div>
  </div>
</div>
