    <div class="profile-selection-card">
        <div class="profile-card-header">
            <h3 class="title">Select business profile</h3>
            <div class="profile-item selected-profile">
                <div class="avatar">
                    AS
                </div>
                <div class="content">
                    <h6>Armstrong - Schamberger LLC</h6>
                    <span>Business profile</span>
                </div>
                <img class="img-fluid checked-icon" src="assets/images/icons/green-check.png" alt="success-check">
            </div>
            <div class="search-container">
                <img class="search" src="assets/images/icons/search-icon.png" alt="search icon">
                <input type="text" placeholder="Search">
            </div>
        </div>
        <div class="profiles-list">
            <div class="profile-item">
                <div class="avatar">
                    AS
                </div>
                <div class="content">
                    <h6>Armstrong - Schamberger LLC</h6>
                    <span>Business profile</span>
                </div>
            </div>
                <div class="profile-item">
                <div class="avatar">
                    AS
                </div>
                <div class="content">
                    <h6>Armstrong - Schamberger LLC</h6>
                    <span>Business profile</span>
                </div>
            </div>
                <div class="profile-item">
                <div class="avatar">
                    AS
                </div>
                <div class="content">
                    <h6>Armstrong - Schamberger LLC</h6>
                    <span>Business profile</span>
                </div>
            </div>
                <div class="profile-item">
                <div class="avatar">
                    AS
                </div>
                <div class="content">
                    <h6>Armstrong - Schamberger LLC</h6>
                    <span>Business profile</span>
                </div>
            </div>
                <div class="profile-item">
                <div class="avatar">
                    AS
                </div>
                <div class="content">
                    <h6>Armstrong - Schamberger LLC</h6>
                    <span>Business profile</span>
                </div>
            </div>
        </div>
        <div class="btn-group">
            <button type="button" class="primaryBtnOutline" data-bs-dismiss="modal" aria-label="Close">CANCEL</button>
            <button type="button" class="primaryBtn">CONTNUE</button>
        </div>
    </div>