<div class="profile-selection-card">
  <div class="profile-card-header">
    <h3 class="title">Select business profile</h3>
    <div class="profile-item selected-profile">
      <div class="avatar">AS</div>
      <div class="content">
        <h6>Armstrong - Schamberger LLC</h6>
        <span>Business profile</span>
      </div>
      <img
        class="img-fluid checked-icon"
        src="assets/images/icons/green-check.png"
        alt="success-check"
      />
    </div>

    <div class="pb-2">
      <app-custom-search placeholder="Search..."> </app-custom-search>
    </div>
  </div>
  <div class="profiles-list">
    <div class="profile-item">
      <div class="avatar">AS</div>
      <div class="content">
        <h6>Armstrong - Schamberger LLC</h6>
        <span>Business profile</span>
      </div>
    </div>
    <div class="profile-item">
      <div class="avatar">AS</div>
      <div class="content">
        <h6>Armstrong - Schamberger LLC</h6>
        <span>Business profile</span>
      </div>
    </div>
    <div class="profile-item">
      <div class="avatar">AS</div>
      <div class="content">
        <h6>Armstrong - Schamberger LLC</h6>
        <span>Business profile</span>
      </div>
    </div>
    <div class="profile-item">
      <div class="avatar">AS</div>
      <div class="content">
        <h6>Armstrong - Schamberger LLC</h6>
        <span>Business profile</span>
      </div>
    </div>
    <div class="profile-item">
      <div class="avatar">AS</div>
      <div class="content">
        <h6>Armstrong - Schamberger LLC</h6>
        <span>Business profile</span>
      </div>
    </div>
  </div>
  <div class="btn-group">
    <button
      type="button"
      class="primary-btn-outline"
      data-bs-dismiss="modal"
      aria-label="Close"
    >
      CANCEL
    </button>
    <button type="button" class="primary-btn">CONTNUE</button>
  </div>
</div>
