<div *ngIf="isBrowser">
    <swiper-container
    #finainceSwiperWeb
    init="false"
    class="guidance-swiper"
    >
    <swiper-slide class="swiperslide">
        <div class="inline-image-text-card verticalView">
            <div class="left-image">
                <img class="img-fluid" src="assets/images/media/bus.jpg" alt="bus">
            </div>
            <div class="right-content">
                <h4>Commercial Vehicles</h4>
                <div>
                    <p>Need a delivery van, flat-bed truck or an HCV? We'll give you great terms on the finance plan you prefer.</p>
                    <a href="#" class="text-arrow-btn"><span>TELL ME MORE</span><img class="img-fluid icon" src="assets/images/icons/col-icon-right.png" alt="arrow icon"></a>
                </div>
            </div>
        </div>
    </swiper-slide>
            <swiper-slide class="swiperslide">
        <div class="inline-image-text-card verticalView">
            <div class="left-image">
                <img class="img-fluid" src="assets/images/media/bus.jpg" alt="bus">
            </div>
            <div class="right-content">
                <h4>Commercial Vehicles</h4>
                <div>
                    <p>Need a delivery van, flat-bed truck or an HCV? We'll give you great terms on the finance plan you prefer.</p>
                    <a href="#" class="text-arrow-btn"><span>TELL ME MORE</span><img class="img-fluid icon" src="assets/images/icons/col-icon-right.png" alt="arrow icon"></a>
                </div>
            </div>
        </div>
    </swiper-slide>
        <swiper-slide class="swiperslide">
        <div class="inline-image-text-card verticalView">
            <div class="left-image">
                <img class="img-fluid" src="assets/images/media/bus.jpg" alt="bus">
            </div>
            <div class="right-content">
                <h4>Commercial Vehicles</h4>
                <div>
                    <p>Need a delivery van, flat-bed truck or an HCV? We'll give you great terms on the finance plan you prefer.</p>
                    <a href="#" class="text-arrow-btn"><span>TELL ME MORE</span><img class="img-fluid icon" src="assets/images/icons/col-icon-right.png" alt="arrow icon"></a>
                </div>
            </div>
        </div>
    </swiper-slide>
            <swiper-slide class="swiperslide">
        <div class="inline-image-text-card verticalView">
            <div class="left-image">
                <img class="img-fluid" src="assets/images/media/bus.jpg" alt="bus">
            </div>
            <div class="right-content">
                <h4>Commercial Vehicles</h4>
                <div>
                    <p>Need a delivery van, flat-bed truck or an HCV? We'll give you great terms on the finance plan you prefer.</p>
                    <a href="#" class="text-arrow-btn"><span>TELL ME MORE</span><img class="img-fluid icon" src="assets/images/icons/col-icon-right.png" alt="arrow icon"></a>
                </div>
            </div>
        </div>
    </swiper-slide>
            <swiper-slide class="swiperslide">
        <div class="inline-image-text-card verticalView">
            <div class="left-image">
                <img class="img-fluid" src="assets/images/media/bus.jpg" alt="bus">
            </div>
            <div class="right-content">
                <h4>Commercial Vehicles</h4>
                <div>
                    <p>Need a delivery van, flat-bed truck or an HCV? We'll give you great terms on the finance plan you prefer.</p>
                    <a href="#" class="text-arrow-btn"><span>TELL ME MORE</span><img class="img-fluid icon" src="assets/images/icons/col-icon-right.png" alt="arrow icon"></a>
                </div>
            </div>
        </div>
    </swiper-slide>

    </swiper-container>
    <div class="custom-control">
        <div class="custom-navigation">
        <button class="finance-prev">
        <img
            src="assets/images/icons/carousel-arrow-lt.png"
            alt="left arrow"
        />
        </button>
        <div class="finance-pagination"></div>
        <button class="finance-next">
        <img
            src="assets/images/icons/carousel-arrow-rt.png"
            alt="left arrow"
        />
        </button>
        </div>
    </div>
</div>