.create-req-sec {
  padding: 1.875rem 0;
}
.create-req-container {
  border: 1px solid var(--color-gray-pale);
  border-radius: 0.75rem;
  padding: 2.5rem 1rem;
  background-color: #ffffff;
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 1.5rem auto;
}
.action-info {
  margin-bottom: 1.5rem;
  .section-title {
    font-family: "BSP-Regular";
    font-size: 1.75rem;
    line-height: 1.3;
    margin: 0;
  }
}

.backBtn {
  border: 1px solid #0062e1;
  border-radius: 30px;
  margin-bottom: 0.5rem;
  padding: 3px 14px;
  text-decoration: none;
  display: inline-flex;
  align-items: center;
  justify-content: center;
  gap: 4px;
  span {
    font-family: "BSP-Medium";
    font-size: 0.875rem;
    line-height: normal;
    text-align: center;
  }
}
.create-req-form {
  max-width: 420px;
  margin: auto;
  .form-title {
    margin-bottom: 0.75rem;
    font-family: "BSP-Medium";
    font-size: 1.75rem;
    line-height: 1.3;
    color: var(--color-text);
  }
  .form-desc {
    font-family: "BSP-Regular";
    font-size: 1rem;
    line-height: 1.3;
    color: var(--color-gray-light);
    margin-bottom: 1.5rem;
  }
}

.formgroup {
  position: relative;
  padding-bottom: 1.5rem;
  .labeltext {
    display: block;
    margin-bottom: 0.5rem;
    font-family: "BSP-Medium";
    font-size: 0.75rem;
    line-height: 1.3;
    color: var(--text-medium-gray);
  }
}

.custom-input {
  border: 1px solid var(--color-gray-pale);
  border-radius: 8px;
  height: 48px;
  background-color: #ffffff;
  font-family: "BSP-Regular";
  font-size: 1rem;
  line-height: normal;
  color: var(--color-text);
  padding: 0.5rem 1rem;
  width: 100%;
  &::placeholder {
    font-family: "BSP-Regular";
    font-size: 1rem;
    line-height: normal;
    color: #5c6c80;
  }
  &:focus {
    outline: none;
  }
}

.custom-textarea {
  border: 1px solid var(--color-gray-pale);
  border-radius: 8px;
  height: 48px;
  background-color: #ffffff;
  font-family: "BSP-Regular";
  font-size: 1rem;
  line-height: normal;
  color: var(--color-text);
  padding: 0.5rem 1rem;
  width: 100%;
  height: 6.25rem;
  &::placeholder {
    font-family: "BSP-Regular";
    font-size: 1rem;
    line-height: normal;
    color: var(--color-text);
  }
  &:focus {
    outline: none;
  }
}

.wordCount {
  font-family: "BSP-Regular";
  font-size: 0.75rem;
  line-height: normal;
  color: #5c6c80;
  display: block;
  margin: 4px 0;
  text-align: end;
}
.req-btn {
  min-width: 213px;
  margin-top: 1rem;
}

.radio-container {
  box-sizing: border-box;
  background: #ffffff;
  display: flex;
  align-items: center;
  flex-flow: row wrap;
  padding: 0.25rem 0 0.5rem;
}

.radio-container * {
  box-sizing: border-box;
}
.radio-container{
  display: flex; row-gap: 1rem;
}
.radio-btn{
  display: inline-flex; align-items: center;
}

.radio-input {
  appearance: none;
  background-color: #ffffff;
  width: 20px;
  height: 20px;
  border: 2px solid var(--text-medium-gray);
  margin: 0;
  border-radius: 50%;
  display: grid;
  align-items: center;
  justify-content: center;
  transition: all 0.3s ease;
}

.radio-input::before {
  content: "";
  width: 10px;
  height: 10px;
  border-radius: 50%;
  transform: scale(0);
  transition: 0.3s transform ease-in-out;
  box-shadow: inset 10px 10px #0051ff;
}

.radio-input:checked {
  background: #ffffff;
  border-color: #0051ff;
}

.radio-input:checked::before {
  transform: scale(1);
}

.radio {
  cursor: pointer;
  padding: 6px 12px;
  font-family: "BSP-Regular";
  font-size: 0.875rem;
  color: var(--text-medium-gray);
  line-height: normal;
}

.radio-btn:not(:last-child) {
  margin-right: 12px;
}
