@use "custom-breakpoints" as bp;

.payment-type-section {
  .radio-container {
    gap: 2rem; flex-wrap: wrap;
  }
}


.amount-input-wrapper {
  position: relative;
  display: flex;
  align-items: center;
  .currency-select{
    min-width: 6.875rem;
    @include bp.respond-below("mobile-xs") {
      min-width: unset;
    }
  }
}

.btn-group {
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-top: 1.5rem;
  gap: 1rem;
  @include bp.respond-below("mobile-lg") {
    .space {
      display: none;
    }
  }
  @include bp.respond-below("mobile-xs") {
    flex-direction: column;
    align-items: stretch;
  }
  button {
    min-width: 160px;
    @include bp.respond-below("mobile-lg") {
      min-width: unset;
      width: 100%;
    }
  }
}




