<div class="get-started-sec">
    <div class="custom-container">
        <div class="container-fluid get-started-container px-0">
            <div class="row align-items-center g-4 g-lg-0">
                <div class="col-lg-6">
                    <div class="get-started-content">
                        <span class="text-default">Demo Video</span>
                        <h2 class="heading-lg mb-4">Preview the Business Platform with our short demo video.</h2>
                        <a href="#" class="primary-btn">Get Started</a>
                    </div>
                </div>
                <div class="col-lg-6">
                    <div class="get-started-img">
                        <img src="assets/images/cards/getstarted.png" alt="getstarted" class="img-fluid" />
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>