@use 'custom-breakpoints' as bp;

.get-started-sec{
    background-color: var(--color-gray-pale); padding: 4rem 0;
    @include bp.respond-below('xs') {
        padding: 2.5rem 0;
    }
}
.get-started-container{
    padding-top: 4.6875rem; padding-bottom: 4.6875rem;
    @include bp.respond-below('sm') {
        padding-top: 2.5rem; padding-bottom: 2.5rem;
    }
    @include bp.respond-below('xs') {
        padding-top: 1rem; padding-bottom: 1rem;
    }
    @include bp.respond-below('xs') {
        padding-top: 0; padding-bottom: 0;
    }
}
.get-started-img{
    max-width: 526px; margin: auto; overflow: hidden;
    box-shadow: 0px 4px 25px 0px #00000040;border-radius: 0.0625rem;
    @include bp.respond-below('xs') {
        max-width: 100%;
    }
}
.get-started-content{
    max-width: 454px; margin: auto;
    .primary-btn{
        min-width: 204px;
    }
}