<div>
    <h5 class="heading-sm mb-4">Case summary</h5>
    <span class="label-sm mb-2">Subject</span>
    <div class="subject mb-4"><p>Failed bank statements</p></div>

    <span class="label-sm mb-2">Description <img src="assets/images/icons/icn_info-icon.png" alt="info"
              data-bs-toggle="tooltip" data-bs-placement="top"
      data-bs-custom-class="custom-tooltip"
      data-bs-title="This top tooltip is themed via CSS variables."
        /></span>
    <div class="description"><p>I’m still not able to access my statements after yesterday’s updates. May I please be assisted with gaining access to my statements.</p></div>
</div>