<div class="sign-in-page">
    <div class="sign-in-container">
        <div class="sign-in-header">
            <img class="img-fluid" src="assets/standard-bank-brand-shield-m.png" alt="standardbank logo" />
        </div>
        <div class="sign-in-body">
            <h2 class="title">Sign in</h2>
            <form>
                <div class="input-field">
                    <input type="text" placeholder="Username">
                    <p class="login-invite-text">Have't created a username? Sign in with your registered email address.</p>
                </div>
                <div class="btn-group">
                    <button type="button" class="primaryBtn">SIGN IN</button>
                    <button type="button" class="primaryBtnOutline" (click)="onSignUp()">REGISTER</button>
                    <button type="button" class="forgot">Forgot username</button>
                </div>
            </form>
        </div>
    </div>
</div>