// Shared styles for tab-list components
.tabs-with-list {
  border: 1px solid var(--color-gray-pale);
  border-radius: 0.75rem;
  background-color: #ffffff;
  overflow: hidden;
  .nav-tabs {
    border-bottom: 1px solid var(--color-gray-pale);
    background-color: transparent;
    padding: 0 1.875rem;
    .nav-item:not(:last-child) {
      margin-right: 2rem;
    }
    .nav-link {
      font-family: "BSP-Medium";
      font-size: 0.75rem;
      line-height: 1.5;
      color: var(--color-text);
      text-transform: uppercase;
      border: none;
      margin-bottom: 0;
      padding: 1.5rem 0;
      position: relative;
      &.active::after {
        content: "";
        display: block;
        width: 100%;
        height: 2px;
        background-color: var(--color-primary);
        position: absolute;
        bottom: 0;
        left: 0;
      }
    }
  }
  .tab-content {
    background-color: #ffffff;
  }
  .tab-pane {
    padding: 1.25rem 1.875rem 3.125rem;
    @media screen and (max-width: 768px) {
      padding: 1.25rem 1rem;
    }
  }
  .list-name {
    font-family: "BSP-Medium";
    font-size: 1rem;
    line-height: 1.5;
    color: var(--color-text);
    margin-bottom: 1rem;
  }
  .text-normal {
    font-family: "BSP-Regular";
    font-size: 1rem;
    line-height: 1.5;
    color: var(--color-text);
    margin-bottom: 1.5rem;

  }
  .list-with-icon {
    list-style-type: none;
    padding: 0;
    margin-bottom: 2rem;
    li>ul>li{
      padding-left: 0;
      &::before{
      display: none !important;
    }
    }

    li {
      position: relative;
      padding-left: 1.625rem;
      margin-bottom: 0.3125rem;
      &::before {
        content: "";
        display: inline-block;
        position: absolute;
        left: 0;
        top: 6px;
        width: 10px;
        height: 10px;
        border-radius: 50%;
        background: linear-gradient(112.82deg, #ff681d 3.64%, #ffb81d 95.93%);
      }
      p {
        font-family: "BSP-Regular";
        font-size: 1rem;
        line-height: 1.5;
        color: var(--color-text);
        a {
          font-family: "BSP-Medium";
          color: var(--color-primary);
          text-decoration: none;
          &:hover {
            text-decoration: underline;
            text-underline-offset: 4px;
          }
        }
      }
    }
  }
  .noteText{
    font-family: "BSP-Regular";
    font-size: 0.875rem;
    line-height: 1.5;
    color: var(--color-text);
    margin-top: 1rem;
    margin-bottom: 2rem;
  }
  .bottom-links{
    a{
        display: flex;
        font-family: "BSP-Medium";
        color: var(--color-primary);
        text-decoration: none;
        font-size: 1rem;
        line-height: 1.5;
        margin: 0.5rem 0;
        &:hover {
            text-decoration: underline;
            text-underline-offset: 4px;
        }
    }
  }
}
