
.bottom-actions {
  border-top: 1px solid var(--color-gray-pale);
  padding: 2rem 1rem 1rem;
  text-align: center;
}
.text-btn {
  display: inline-flex;
  align-items: center;
  gap: 6px;
  font-family: "BSP-Bold";
  font-size: 0.875rem;
  line-height: normal;
  color: var(--color-primary);
  background-color: transparent;
  border: none;
  text-transform: uppercase;
  img {
    width: 1.125rem;
  }
}

.custom-pagination {
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 4.375rem 0;
  button {
    background-color: transparent;
    border: none;
  }
  ul {
    list-style: none;
    padding: 0 1rem;
    margin: 0;
    display: flex;
    align-items: center;
    li {
      &:not(:last-child) {
        margin-right: 0.625rem;
      }
      button {
        width: 30px;
        height: 30px;
        border-radius: 0.5rem;
        background-color: #ffffff;
        font-family: "BSP-Regular";
        font-size: 1rem;
        line-height: normal;
        text-align: center;
        color: var(--color-text);
      }
      &.selected {
        button {
          background-color: #0062e1 !important;
          color: #ffffff !important;
        }
      }
    }
  }
}

.full-width-table {
  padding: 0;
  .custom-table {
    tr > th:first-child,
    tr > td:first-child {
      text-align: center;
    }
    tr {
      td {
        padding: 2rem 0.5rem;
      }
    }
  }
}

// search-and-filter
.search-and-filter {
  display: flex;
  gap: 2rem;
  padding: 2rem 0 0;
  .search-container {
    display: flex;
    align-items: center;
    width: 100%;
    max-width: 328px;
    margin: 0.5rem 0;
    border: 1px solid var(--color-gray-pale);
    height: 50px;
    padding: 0.5rem 1rem;
    border-radius: 0.5rem;
    input {
      border: none;
      height: 100%;
      margin-left: 0.3125rem;
      flex-grow: 1;
      font-family: "BSP-Bold";
      font-size: 1rem;
      color: var(--color-text);
      width: 100%;
      &:focus {
        outline: none;
      }
      &::placeholder {
        font-family: "BSP-Regular";
        font-size: 1rem;
        color: var(--color-gray-light);
      }
    }
  }

  .filter-btn {
    display: flex;
    align-items: center;
    gap: 0.625rem;
    padding: 0.5rem 1rem;
    background-color: #ffffff;
    border: 1px solid var(--color-primary);
    height: 50px;
    border-radius: 0.5rem;
    color: var(--color-primary);
    margin: 0.5rem 0;
    span {
      font-family: "BSP-Bold";
      font-size: 0.875rem;
      line-height: normal;
      text-transform: uppercase;
    }
  }
}

.filter-block {
  padding: 1.5rem;
  background-color: #f4f5f7;
  .title-md {
    font-family: "BSP-Medium";
    font-size: 1.5rem;
    line-height: normal;
    margin-bottom: 1.5rem;
  }
}

.pair-date-picker {
  display: flex;
  gap: 1.25rem;
}
// custom-input-group
.custom-date-picker {
  position: relative;
  display: flex;
  flex-wrap: wrap;
  align-items: stretch;
  width: 100%;
  max-width: 290px;
  background-color: #ffffff;
  justify-content: space-between;
  border: 1px solid var(--color-gray-pale);
  border-radius: 0.5rem;
  height: 50px;
  padding: 0 1rem;
  .date-input {
    padding-right: 0.5rem;
    border: none;
    &:focus {
      outline: none;
    }
  }
  .date-btn {
    padding: 0;
    background-color: transparent;
    border: none;
  }
  .dropdown-menu.show {
    top: 100% !important;
  }
}

.filter-buttons {
  display: flex;
  align-items: center;
  gap: 2rem;
  flex-wrap: wrap;
  .fl-btn {
    padding: 0.625rem 1.5rem;
    border-radius: 3.125rem;
    border: 1px solid transparent;
    font-family: "BSP-Medium";
    font-size: 1rem;
    line-height: normal;
    background-color: transparent;
    text-transform: uppercase;
  }
  .apply-btn {
    background-color: var(--color-primary-dark);
    color: #ffffff;
  }
  .close-btn {
    background-color: #ffffff;
    color: var(--color-primary-dark);
    border-color: var(--color-primary-dark);
  }
  .clear-btn {
    background-color: transparent;
    color: var(--color-primary-dark);
  }
}

.p-custom-calendar-wrapper {
  .labeltext {
    display: block;
    margin-bottom: 0.5rem;
    font-family: "BSP-Medium";
    font-size: 0.75rem;
    line-height: 1.3;
    color: var(--text-medium-gray);
  }
  .p-custom-calendar {
    position: relative;
    display: inline-block;
    width: 100%;
    .custom-icon {
      position: absolute;
      top: 50%;
      right: 1rem;
      transform: translateY(-50%);
      cursor: pointer;
      color: #007ad9;
    }
  }
}


// ===== MOBILE FILTER START =====
.mob-filter-btn {
  position: fixed;
  bottom: 0;
  right: 1.5rem;
  bottom: 2rem;
  border: none;
  background-color: transparent;
}

.bottom-sheet {
  height: 100dvh;
  z-index: 1055;
  .bts-header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    background: rgba(0, 51, 170, 1);
    padding: 1.5rem 1.125rem;
    .bts-title {
      font-family: "BSP-Medium";
      font-size: 1.25rem;
      line-height: normal;
      color: var(--color-white);
      margin: 0;
    }
    .text-btn {
      font-family: "BSP-Medium";
      font-size: 0.875rem;
      line-height: normal;
      color: var(--color-white);
      padding: 0;
      margin-left: auto;
    }
    .close-btn {
      border: none;
      background-color: transparent;
      margin-right: 0.5rem;
      padding: 0;
    }
  }
  .body-content {
    padding: 1rem;
    .block-title {
      font-family: "BSP-Medium";
      font-size: 1.25rem;
      line-height: normal;
      color: var(--color-text);
      margin-bottom: 1.5rem;
    }
  }
}

.filter-field {
  width: 100%;
  .filter-label {
    display: inline-block;
    font-family: "BSP-Medium";
    font-size: 1rem;
    line-height: 1.3;
    color: var(--color-text);
    margin-bottom: 0.5rem;
  }
}
// ===== MOBILE FILTER END =====

.action-sheet {
  background-color: transparent; height: auto; border: none;
  .statement-container {
    background-color: transparent;
    padding: 1rem;
    .statement-btn-group {
      background: #dbdbdb; border-radius: 0.75rem; overflow: hidden;
      .statemet-btn {
        font-family: "BSP-Regular";
        font-size: 1rem;
        line-height: 1.3;
        color: var(--color-primary);
        width: 100%;
        padding: 1rem;
        background-color: transparent;
        border: none;
        border-bottom: 1px solid #cbcbcb;
      }
      .btn-group-title {
        font-family: "BSP-Regular";
        font-size: 0.75rem;
        line-height: 1.3;
        color: var(--color-gray-light);
        padding: 0.875rem;
        text-align: center;
        margin: 0;border-bottom: 1px solid #cbcbcb
      }
    }
  }
}
