<div class="article-page">
  <div class="article-page-wrapper">
    <div class="article-page-container">
      <!-- Article Banner -->
      <div class="article-banner">
        <img
          class="img-fluid"
          src="assets/images/articles/tailored-banking.jpg"
          alt="article image"
        />
      </div>
      <!-- Article Banner End-->

      <!-- Breadcrumb -->
      <app-breadcrumb
        [showBackButton]="false"
        customClass="h-center mb-4"
        [breadcrumbs]="[
          { label: 'Home', url: '/' },
          { label: 'Help me grow my business', url: '/articles' },
          { label: 'guides', url: '/articles' }
        ]">
      </app-breadcrumb>
      <!-- ./Breadcrumb -->

      <!-- Article Tagline and Date -->
      <div class="article-tagline">
        <p>Grow your business</p>
      </div>
      <!-- Article Tagline and Date End -->

      <div>
        <h1 class="article-title">
          3 critical ways to create a solid support structure for your franchisees for business success
        </h1>
        <p class="article-title-description">
          Getting your franchisees to sign on was the easy part; giving them adequate support to make a success of the business is the real challenge.
        </p>
        <p class="article-title-description">Diana Albertyn</p>
        <p class="text-normal">Your franchisees have trusted you with their life savings. You’ve trusted them with your brand name and reputation. You should both be benefitting, but are you sure your franchisees feel the same way?</p>
        <p class="text-normal">If you want your current franchise network to succeed and continuously grow, says Sasha-Lee de Bod, consultant at Franchising Plus, you would need to allocate time, resources and effort to make it happen.</p>
      </div>
    </div>

    <div class="bg-gray-light pt-5 pb-2">
        <div class="article-page-container">
            <h3 class="heading-md">Take note</h3>
            <p class="text-normal">“Failing to incorporate an efficient franchisee support structure in your network leaves the possibility of demotivated franchisees, lack of openness to change and the inability to build stronger relationships,” notes de Bod.</p>
            <p class="text-normal">While helping your franchisees will assist them in running their day-to-day business operations, it’ll also benefit your brand in the long run to have well-trained, adequately marketed and smooth-running locations.</p>
        </div>
    </div>


    <div class="pt-5 pb-2">
        <div class="article-page-container">
            <h3 class="heading-md">1. Training is critical</h3>
            <p class="text-normal">A new franchisee is going to need more than a training manual to get up and running. Remember that this is an untrained person with no experience operating the specific model, so they need intensive initial training. This will include the following:</p>
            <ul class="icon-list-content">
                <li><p>Franchise operations and procedure manual to operate the business independently</p></li>
                <li><p>Training modules and programmes for ongoing training</p></li>
                <li><p>A training programme on how franchisees need to adapt their business pro-actively, read the market and implement changes when necessary</p></li>
            </ul>
            <p class="text-normal">It’s vital to note that even though franchisees will know how the business is running after training, ongoing training is essential to ensure standards are maintained.</p>
        </div>
    </div>



    <div class="bg-gray-light pt-5 pb-2">
        <div class="article-page-container">
            <h3 class="heading-md">2. Marketing matters</h3>
            <p class="text-normal">“One of the biggest gripes franchisees have is how their marketing fee is spent by franchisors,” says Minuteman Press Regional Vice President Frik van Niekerk. This is why his franchise doesn’t charge a fee for marketing and instead allows franchisees to do it themselves.</p>
            <p class="text-normal">Of course, this may not work for everyone and could impact brand consistency. This is why de Bod suggests providing local marketing templates. “This assists franchisees to promote their business in their area and allows them to focus on selling products and services, and not writing creative content that may be time consuming. They can be more focused on what is important."</p>
            <p class="text-normal">Running a large restaurant chain such as yours means when you handle the marketing, it benefits your entire network, providing indirect marketing support for all your franchisees.</p>
        </div>
    </div>

    <div class="pt-5 pb-2">
        <div class="article-page-container">
            <h3 class="heading-md">3. Frequent and regular site visits</h3>
            <p class="text-normal">There’s no greater form of support than a face-to-face catch-up with your franchisees, and they’ll appreciate that. This will also help keep you in the loop of who’s doing well and who still requires a bit of guidance.</p>
            <p class="text-normal">When you or your field service consultants make site visits to your various locations, keep in mind the following:</p>
            <ul class="icon-list-content">
                <li><p>Review financial statements</p></li>
                <li><p>Oversee administration</p></li>
                <li><p>Inspect equipment</p></li>
                <li><p>Review marketing initiatives</p></li>
                <li><p>Assess staff</p></li>
                <li><p>Evaluate quality and in-store training</p></li>
            </ul>
            <p class="text-normal">“Site visits should be very structured with a clear outcome: they ensure that standards are maintained and identify and resolve issues before they become serious,” says de Bod.</p>
            <p class="text-normal">Trust is the cornerstone of every relationship. If you just took franchisees’ money and let them fend for themselves, it wouldn’t be long before your entire network ceased operation. Training franchisees to run their newly acquired business is just as important as their initial training when they first set up shop. Marketing is a pain-point with some franchisees, so ensure they know what to expect upfront. The more open you are with your franchisees, the happier they will be.</p>
        </div>
    </div>

        <div class="bg-gray-light pt-5 pb-2">
            <div class="article-page-container">
                <h3 class="heading-md>Key takeaway">Key takeaway</h3>
                <p class="text-normal">Franchisee support is paramount to your business network success. Know what your franchisees need help with, and you’ll always have a good, symbiotic relationship.</p>
            </div>
        </div>
  </div>
</div>