.mobile-sheet {
  height: 100dvh;
  z-index: 1055;

  .sheet-header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    background: rgba(0, 51, 170, 1);
    padding: 1.5rem 1.125rem;
    button{
      border: none; background-color: transparent;
    }
    .sheet-close-btn {
      border: none;
      background-color: transparent;
      margin-right: 0.5rem;
      padding: 0;
    }

    .sheet-title {
      font-family: "BSP-Medium";
      font-size: 1.25rem;
      line-height: normal;
      color: var(--color-white);
      margin: 0;
    }

    .apply-btn {
      font-family: "BSP-Medium";
      font-size: 0.875rem;
      line-height: normal;
      color: var(--color-white);
      padding: 0;
      margin-left: auto;
    }
  }

  .filter-content {
    padding: 1rem;
    .filter-block-title {
      font-family: "BSP-Medium";
      font-size: 1.25rem;
      line-height: normal;
      color: var(--color-text);
      margin-bottom: 1.5rem;
    }
  }
}
