<div>
<h3 class="radio-block-title">Radio buttons</h3>
<div class="radio-container">
    <div class="radio-field">
        <input class="radio-input" id="sms" type="radio" name="notify" />
        <label class="radio" for="sms">SMS</label>
    </div>
    <div class="radio-field">
        <input class="radio-input" id="email" type="radio" name="notify" />
        <label class="radio" for="email">Email</label>
    </div>
    <div class="radio-field">
        <input class="radio-input" id="both" type="radio" name="notify" />
        <label class="radio" for="both">Both</label>
    </div>
</div>
</div>