<div class="featured-solutions-sec">
  <div class="custom-container">
    <h2 class="heading-base text-white mb-4">Featured solutions - Let us handle your business</h2>
    <div>      
      <app-dynamic-swiper 
        [slides]="featuredSlides" 
        [itemTemplate]="slideTemplate"
        [breakpoints]="featuredBreakpoints"
        class="featured-solutions-swiper"
      ></app-dynamic-swiper>
      
      <ng-template #slideTemplate let-slide>
        <div class="slide"
          [style.backgroundImage]="'url(' + slide.background + ')'">
          <img [src]="slide.img" [alt]="slide.alt" class="img-fluid" />
          <h3>{{ slide.title }}</h3>
          <p>{{ slide.description }}</p>
        </div>
      </ng-template>
    </div>
  </div>
</div>
