<!-- Tabs With List -->
<div class="tabs-with-list">
  <ul class="nav nav-tabs" id="myTab" role="tablist">
    <li class="nav-item" role="presentation">
      <button
        class="nav-link active"
        id="tab-one-tab"
        data-bs-toggle="tab"
        data-bs-target="#tab-one-pane"
        type="button"
        role="tab"
        aria-controls="tab-one-pane"
        aria-selected="true"
      >
        How it works
      </button>
    </li>
    <li class="nav-item" role="presentation">
      <button
        class="nav-link"
        id="tab-two-tab"
        data-bs-toggle="tab"
        data-bs-target="#tab-two-pane"
        type="button"
        role="tab"
        aria-controls="tab-two-pane"
        aria-selected="false"
      >
        WHAT IT COSTS
      </button>
    </li>
    <li class="nav-item" role="presentation">
      <button
        class="nav-link"
        id="tab-three-tab"
        data-bs-toggle="tab"
        data-bs-target="#tab-three-pane"
        type="button"
        role="tab"
        aria-controls="tab-three-pane"
        aria-selected="false"
      >
       How to claim
      </button>
    </li>
  </ul>
  <div class="tab-content" id="myTabContent">
    <div
      class="tab-pane fade show active"
      id="tab-one-pane"
      role="tabpanel"
      aria-labelledby="tab-one-tab"
    >
      <ul class="list-with-icon">
        <li><p>Your business turnover must be less than R10 million per year</p></li>
        <li><p>Our team conducts a needs analysis for your business</p></li>
        <li><p>We determine the appropriate type and level of cover</p></li>
        <li><p>Your account executive provides you with a quote</p></li>
        <li><p>Notify us when you need to make a claim</p></li>
        <li><p>We process and settle your claim as quickly as possible</p></li>
        <li><p>We follow up to ensure your satisfaction and identify areas for improvement</p></li>
      </ul>
      <div class="bottom-links">
        <a href="https://www.standardbank.co.za/static_file/South%20Africa/PDF/Insuring/List_of_Our_Underwritters_BusIness.pdf" target="_blank">See our underwriters</a>
      </div>
    </div>

    <div
      class="tab-pane fade"
      id="tab-two-pane"
      role="tabpanel"
      aria-labelledby="tab-two-tab"
    >
      <ul class="list-with-icon">
        <li><p>Premiums are based on your needs and business risk profile</p></li>
      </ul>
    </div>

    <div
      class="tab-pane fade"
      id="tab-three-pane"
      role="tabpanel"
      aria-labelledby="tab-three-tab"
    >
            <ul class="list-with-icon">
              <li><p>Call us on 0860 123 555</p></li>
              <li><p>Or call 0860 123 999</p></li>
            </ul>
    </div>
  </div>
</div>
