@use '../../styles/custom-breakpoints' as bp;
.switch-bank-sec{
    background-color: var(--color-gray-pale);
}
.switch-bank-container{
    border-radius: 0.75rem; overflow: hidden;
}
.colLeft{
    background-color: #0033AA; display: flex; flex-direction: column; justify-content: center;
}
.colRight{
    img{width: 100%;}
}
.switch-bank-content{
    max-width: 464px; margin: 0 auto; padding: 2rem;
    @include bp.respond-below('xs') {
       padding: 2rem;
    }
    @include bp.respond-below('tablet') {
        margin: 0;
    }
    @include bp.respond-below('mobile-xs') {
        padding: 2rem 1rem;
    }
    .primary-btn{
        background-color: #FFFFFF !important; color: #0062E1 !important; width: 100%; max-width: 300px;
    }
}