<div class="switch-bank-sec">
    <div class="custom-container">
        <div class="container-fluid switch-bank-container px-0">
            <div class="row g-0">
                <div class="col-lg-6 colLeft">
                    <div class="switch-bank-content">
                        <h2 class="heading-lg text-white">Ready to move to Standard Bank?</h2>
                        <p>We're serious about where your business is going. Discover why we're the trusted choice when it comes to business banking.</p>
                        <a href="#" class="primary-btn" target="_blank" rel="button">Switch</a>
                    </div>
                </div>
                <div class="col-lg-6 colRight">
                    <img class="img-fluid" src="assets/images/media/switch-bank.png" alt="switch bank" />
                </div>
            </div>
        </div>
    </div>
</div>