.switch-bank-sec{
    background-color: #E3E6EA;
}
.switch-bank-container{
    border-radius: 0.75rem; overflow: hidden;
}
.colLeft{
    background-color: #0033AA; display: flex; flex-direction: column; justify-content: center;
}
.switch-bank-content{
    max-width: 464px; margin: 0 auto; padding: 2rem;
    .heading-title{color: #FFFFFF;}
    p{
        font-family: "BSP-Regular";
        font-size: 1rem;
        line-height: 1.3;
        color: #FFFFFF;
        margin: 0.75rem 0 1.5rem;
    }
    .primaryBtn{
        background-color: #FFFFFF !important; color: #0062E1 !important; width: 100%; max-width: 300px;
    }
}