<div class="dropdown countryswitch">
  <button
    class="countryflag-btn"
    type="button"
    id="countrySwitch"
    data-bs-toggle="dropdown"
    aria-expanded="false"
  >
    <img src="assets/images/icons/south-africa-flag.png" alt="country flag" />
    <span>South Africa</span>
    <img src="assets/images/icons/chevron-down-white.png" alt="arrow" />
  </button>
  <ul class="dropdown-menu dropdown-menu-end" aria-labelledby="countrySwitch">
    <li>
      <a class="dropdown-item" href="#"> 
        <img src="assets/images/icons/flag-botswana.svg" alt="flag-botswana" class="img-fluid" />
        <span>Botswana</span> </a>
    </li>
    <li>
      <a class="dropdown-item" href="#">
        <img src="assets/images/icons/flag-south-africa.svg" alt="flag-south-africa" class="img-fluid" />
        <span>South Africa</span> </a>
    </li>
    <li>
      <a class="dropdown-item" href="#">
        <img src="assets/images/icons/flag-uganda.svg" alt="flag-uganda" class="img-fluid" />
        <span>Uganda</span> </a>
    </li>
  </ul>
</div>
