<!-- Get In Touch -->
<div class="get-in-touch">
    <div class="title-bar">
        <h3 class="heading-sm">GET IN TOUCH WITH US</h3>
        <p class="subtitle-sm">We know you'll enjoy the perks and time-saving benefits of our new Online Banking for Business platform</p>
    </div>

    <div class="container-fluid px-0 pt-4">
    <div class="row">
        <div class="col-lg-6 column mb-4 mb-lg-0">
            <div class="contact-card">
                <img class="img-fluid" src="assets/images/icons/icn_mail.png" alt="mail icon">
                <div>
                    <h4>Email us at</h4>
                    <p><a href="mailto:BusinessBankingDigitalSupport@standardbank.co.za">BusinessBankingDigitalSupport&#64;standardbank.co.za</a></p>
                </div>
            </div>
        </div>
        <div class="col-lg-6 column">
            <div class="contact-card">
                <img class="img-fluid" src="assets/images/icons/icn_call.png" alt="call icon">
                <div>
                    <h4>Give us a call</h4>
                    <p>South Africa: <a href="tel:+0860 109 075">0860 109 075</a>, Option 3</p>
                    <p>International: <a href="tel:++27 10 824 2934">+27 10 824 2934</a></p>
                </div>
            </div>
        </div>
    </div>
    </div>
</div>