.swiper-slide {
  display: flex;
  height: auto !important;
}

.custom-control {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: 2.5rem;
}

.custom-navigation {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 15px;
}

.swiper-pagination {
  display: flex;
  align-items: center;
  gap: 5px;

  span {
    display: inline-block;
    width: 30px;
    height: 3px;
    background-color: var(--color-gray-lightest);
    border-radius: 4px;
    transition: background-color 0.3s ease;
  }
}

.swiper-prev,
.swiper-next {
  background: none;
  border: none;
  cursor: pointer;
}

@media screen and (max-width: 680px) {
  .swiper-prev,
  .swiper-next {
    display: none;
  }
}


