.breadCrumb{
    ul{
        list-style: none; padding: 0; margin: 0; display: flex; align-items: center; flex-wrap: wrap; row-gap: 0.75rem;
        li{
            .route-name{
                font-family: "BSP-Regular";
                font-size: 0.875rem;
                line-height: 1.3;
                text-decoration: none;
                color: var(--color-primary);
            }
            &:not(:last-child){margin-right: 0.625rem;}
        }
    }
    &.h-center{
        ul{
            justify-content: center;
            @media screen and (max-width: 768px) {
                justify-content: flex-start;
            }
        }
    }
}