.custom-widgets {
    position: fixed;
    right: 0.75rem;
    bottom: 4rem;
    display: flex;
    flex-direction: column;
    z-index: 9;
  
    .widget-btn {
      background: transparent;
      border: none;
      padding: 0;
    }
  }
  

//  Contact Widget 
  .contact-widget-container {
    position: relative;
  
    .widget-popup {
      position: absolute;
      bottom: 70px;
      right: 0.625rem;
      background: white;
      border-radius: 0.5rem;
      box-shadow: 0 4px 12px rgba(0, 0, 0, 0.2);
      width: 303px;
      overflow: hidden;
      z-index: 10;
  
      // 👉 Mobile responsiveness
      @media (max-width: 576px) {
        right: 0.5rem !important;
        bottom: 80px;
        width: calc(100% - 1rem) !important; // 0.5rem + 0.5rem spacing
        max-width: 100% !important;
        min-width: 280px;
      }
  
      .widget-popup-header {
        display: flex;
        align-items: center;
        justify-content: space-between;
        background-color: #0033AA;
        padding: 1rem;
  
        .widget-title {
          font-family: "BSP-Medium";
          font-size: 1rem;
          color: #fff;
          margin: 0;
        }
  
        .close-widget {
          border: none;
          background-color: transparent;
          padding: 0;
        }
      }
  
      .widget-content {
        padding: 1rem;
  
        .info {
          display: flex;
          align-items: center;
          gap: 0.625rem;
          margin-bottom: 1rem;
  
          .user-avatar {
            width: 40px;
            height: 40px;
  
            img {
              width: 100%;
              height: 100%;
              object-fit: cover;
            }
          }
  
          .details {
            h5 {
              font-family: "BSP-Medium";
              font-size: 1rem;
              margin: 0;
              color: var(--text-color);
            }
  
            span {
              font-family: "BSP-Regular";
              font-size: 0.75rem;
              color: var(--text-light-gray);
            }
          }
        }
  
        .address-lines {
          p {
            font-family: "BSP-Regular";
            font-size: 0.875rem;
            margin-bottom: 1rem;
            word-break: break-word;
  
            a {
              color: inherit;
              text-decoration: none;
              display: flex;
              align-items: center;
              justify-content: space-between;
              gap: 1rem;
  
              img {
                width: 16px;
                height: 16px;
                flex-shrink: 0;
              }
  
              span {
                flex: 1;
                word-break: break-word;
              }
            }
          }
        }
      }
    }
  }
  
  
//   Modal Styles
  .custom-contact-modal {
    .modal-dialog {
      @media (min-width: 576px) {
        max-width: 560px;
      }
    }
  
    .modal-header {
      background: linear-gradient(93.67deg, #0064fc 1.23%, #0033aa 58.64%);
  
      .modal-title {
        font-family: "BSP-Regular";
        font-size: 1rem;
        color: #fff;
      }
  
      .btnclose {
        margin-left: auto;
        background: transparent;
        border: none;
        padding: 0;
      }
    }
  
    .modal-content {
      border: none;
    }
  
    .modal-body {
      padding: 1.875rem;
  
      .dialog-content {
        text-align: center;
  
        .heading-title {
          font-family: "BSP-Medium";
          font-size: 1rem;
          color: var(--text-color);
          margin-bottom: 1.5rem;
        }
  
        .text-md {
          font-family: "BSP-Regular";
          font-size: 1rem;
          color: var(--text-color);
  
          a {
            font-family: "BSP-Medium";
            color: #0033aa !important;
            text-decoration: none;
          }
        }
  
        .img-avatar {
          width: 54px;
          margin-bottom: 1rem;
        }
      }
    }
  
    .modal-footer {
      padding: 0 0.75rem;
      background-color: #f4f5f7;
      border: none;
      justify-content: space-between;
  
      &.justify-content-center {
        justify-content: center;
      }
  
      .textBtn {
        font-family: "BSP-Bold";
        font-size: 0.875rem;
        color: #0062e1;
        text-transform: uppercase;
        border: none;
        background: transparent;
        padding: 1rem 0.75rem;
      }
    }
  
    .mail-input {
      text-align: start;
      max-width: 446px;
      margin: 1.5rem auto 0;
  
      .label-name {
        display: block;
        font-family: "BSP-Medium";
        font-size: 12px;
        color: var(--text-light-gray);
        margin-bottom: 5px;
  
        sup {
          font-size: 14px;
          top: 0;
          color: #e31e46 !important;
        }
      }
  
      input,
      textarea {
        width: 100%;
        height: 48px;
        border: 1px solid #5c6c80;
        border-radius: 8px;
        background: #fff;
        font-family: "BSP-Medium";
        font-size: 1rem;
        padding: 0.5rem 1rem;
  
        &::placeholder {
          font-family: "BSP-Regular";
          font-size: 1rem;
          color: #5c6c80;
        }
  
        &:focus {
          outline: none;
        }
      }
  
      textarea {
        min-height: 5.375rem;
      }
  
      p {
        font-family: "BSP-Regular";
        font-size: 0.75rem;
        color: var(--text-light-gray);
        margin: 5px 0;
      }
    }
  }
  