@use "../../../styles/custom-breakpoints" as bp;

.swiperslide{
    display: flex;
    height: auto !important;
  }
  // card styles
  .featured-card {
    overflow: hidden;
    border-radius: 0.75rem;
    margin-bottom: 1.125rem;
    display: flex;
    flex-direction: column;
    height: 100%;
    .card-image {
      width: 100%;
      height: auto;
      border-radius: 0.75rem;
      overflow: hidden;
      object-fit: fill;
      img {
        width: 100%;
      }
    }
    .card-info {
      display: flex;
      flex-direction: column;
      justify-content: space-between;
      flex: 1;
      padding: 1.25rem 0 1.5625rem;
    }
    .card-content {
      h4 {
        font-family: "BSP-Regular", sans-serif;
        font-size: 1.75rem;
        line-height: 1.3;
        color: var(--color-gray-medium);
        margin-bottom: 0.625rem;
        @include bp.respond-below('mobile-xs') {
          font-size: 1rem; margin-bottom: 1.125rem;
        }
      }
      p {
        font-family: "BSP-Regular", sans-serif;
        font-size: 1rem;
        line-height: 1.3;
        color: var(--color-gray-medium);
        margin-bottom: 1rem;
        display: -webkit-box;
        line-clamp: 2;
        -webkit-line-clamp: 2; 
        -webkit-box-orient: vertical;
        overflow: hidden;
        text-overflow: ellipsis;
        @include bp.respond-below('mobile-xs') {
          font-size: 0.875rem; margin-bottom: 1.125rem;
        }
      }
    }
    .primaryBtn {
        max-width: 300px;
    }
  }


  // Custom Carousel Controls
.custom-controls {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 2.5rem;
  }
  
  .custom-navigation {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 15px;
  }
  .custom-pagination {
    display: flex;
    align-items: center;
    gap: 5px;
    span {
      display: inline-block;
      width: 30px;
      height: 3px;
      background-color: #5c6c80;
      border-radius: 4px;
      transition: background-color 0.3s ease;
    }
  }
  
  .custom-prev,
  .custom-next {
    background: none;
    border: none;
    cursor: pointer;
  }
  
  @media screen and (max-width: 680px) {
    .custom-prev,
    .custom-next {
      display: none;
    }
  }
  
  
  @media screen and (max-width: 768px) {
    .custom-carousel {
      .slide {
        img {
          width: 50px;
        }
        h3 {
          font-size: 1.25rem;
        }
      }
    }
  }