<div class="login-page">
    <app-top-nav></app-top-nav>
    <div class="login-container">
        <div class="custom-container h-100">
            <div class="container-fluid h-100">
                <div class="row h-100">
                    <div class="col-lg-6 colLeft">
                        <div class="logo">
                            <img class="img-fluid" src="assets/standard-bank-Brand.png" alt="trade logo">
                            <img class="img-fluid" src="assets/standard-bank-name.png" alt="trade logo">
                        </div>
                        <div class="middle-content">
                            <h1>Trade Suite</h1>
                            <p>Trade by Standard Bank:<br/>
                            Partnering with you for growth
                            </p>
                        </div>
                        <div class="bottom-content">
                            <ul>
                                <li>
                                    <a href="#">LEGAL</a>
                                </li>
                                <li>
                                    <a href="#">TERMS AND CONDITIONS</a>
                                </li>
                                <li>
                                    <a href="#">CODE OF CONDUCT</a>
                                </li>
                            </ul>
                            <div class="assistance">
                                <p>Need assistance? <br/>
                                    <a href="mailto:TScustomercare@standardbank.co.za">TScustomercare&#64;standardbank.co.za</a>
                                </p>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-6 colRight">
                        <div class="login-form">
                            <span class="welcome-text">Welcome back</span>
                            <h2 class="form-title">Login</h2>
                            <div class="input-field">
                                <span class="inputLabel">Username</span>
                                <input type="text" placeholder="Enter Username">
                            </div>
                            <button type="button" class="primaryBtn next-btn">NEXT</button>
                            <a href="#" class="forgot-password">FORGOT PASSWORD</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>