<div class="py-4">
    <div class="mb-4">
        <a href="#" class="back-btn mb-4"><img src="assets/images/icons/back-left-icon.png" alt="back"/><span> Back</span></a>
        <h3 class="heading-sm">Service Request</h3>
    </div>
    <div class="create-req-container">
        <div class="create-req-form">
            <h4 class="form-title">Create a new request</h4>
            <p class="form-desc">Share your thoughts by sending us a compliment, complaint or query, and easily monitor the status of your request. Your feedback enables us to ensure you have a seamless experience at all times. </p>
            
            <div class="formgroup">
                <span class="labeltext">Request type</span>
                <div class="radio-container">
                    <div class="radio-btn">
                        <input class="radio-input" id="query" type="radio" name="reqtype" />
                        <label class="radio" for="query">Query</label>
                    </div>
                    <div class="radio-btn">
                        <input class="radio-input" id="complaint" type="radio" name="reqtype" />
                        <label class="radio" for="complaint">Complaint</label>
                    </div>
                    <div class="radio-btn">
                        <input class="radio-input" id="compliment" type="radio" name="reqtype" />
                        <label class="radio" for="compliment">Compliment</label>
                    </div>
                  </div>
            </div>
            <div class="formgroup">
                <span class="labeltext">Category</span>
                <ng-select
                    [items]="categories"
                    bindLabel="name"
                    bindValue="id"
                    [(ngModel)]="selectedCategory"
                    placeholder="Select a category"
                    class="custom-ngs"
                >
                </ng-select>
            </div>
            <div class="formgroup">
                <span class="labeltext">Sub-Category</span>
                <ng-select
                    [items]="categories"
                    bindLabel="name"
                    bindValue="id"
                    [(ngModel)]="selectedCategory"
                    placeholder="Select a category"
                    class="custom-ngs"
                >
                </ng-select>
            </div>
            <div class="formgroup">
                <span class="labeltext">Sub-Category</span>
                <input type="text" class="custom-input" placeholder="Add Subject" />
            </div>
            <div class="formgroup">
                <span class="labeltext">Sub-Category</span>
                <textarea class="custom-textarea" placeholder="Enter a detailed description of your request" rows="10"></textarea>
                <span class="wordCount">0/120</span>
            </div>
            <a href="#" class="primary-btn req-btn" [routerLink]="['/service-request/failed']">SEND REQUEST</a>
        </div>
    </div>
</div>