.search-container {
  display: flex;
  align-items: center;
  width: 100%;
  border: 1px solid var(--color-gray-pale);
  height: 50px;
  padding: 0.5rem 1rem;
  border-radius: 0.5rem;
  background-color: var(--color-white);
  .search-icon {
    width: 20px;
    height: 20px;
  }

  input {
    border: none;
    height: 100%;
    margin-left: 0.5rem;
    flex-grow: 1;
    font-family: "BSP-Medium";
    font-size: 1rem;
    color: var(--color-text);
    width: 100%;
    background-color: inherit;
    &:focus {
      outline: none;
    }

    &::placeholder {
      font-family: "BSP-Regular";
      font-size: 1rem;
      color: var(--color-gray-light);
    }
  }
}
