<div class="py-4">
    <div class="mb-4">
        <a href="#" class="back-btn mb-4"><img src="assets/images/icons/back-left-icon.png" alt="back"/><span> Back</span></a>
        <h3 class="heading-sm">Service Request</h3>
    </div>

    <div class="new-service-request">
        <div class="content">
            <img class="img-fluid avatar-icon" src="assets/images/icons/form-fill-icon.png" alt="form-fill-icon">
            <h3>New request</h3>
            <p>Let us help you by sending our team your requests, and easily monitor the status of your request.  </p>
            <a href="#" class="primary-btn req-btn" [routerLink]="['/service-request/create']">DONE</a>
        </div>
    </div>
    <app-list-service-request-table></app-list-service-request-table>
</div>