@use "custom-breakpoints" as bp;

.new-service-request {
  border: 1px solid var(--color-gray-pale);
  border-radius: 0.75rem;
  padding: 2.5rem;
  background-color: #ffffff;
  display: flex;
  align-items: center;
  margin-bottom: 2.5rem;
  @include bp.respond-below("sm") {
    padding: 2rem;
  }
  @include bp.respond-below("tablet") {
    padding: 1.875rem 1.5rem;
  }
  @include bp.respond-below("mobile-lg") {
    padding: 1.5rem 1rem;
  }

  .content {
    max-width: 420px;
    .avatar-icon {
      margin-bottom: 0.5rem;
      width: 24px;
    }
    .req-btn {
      min-width: 220px;
    }
  }
}


