<!-- Tabs With List -->
<div class="tabs-with-list">
  <ul class="nav nav-tabs" id="myTab" role="tablist">
    <li class="nav-item" role="presentation">
      <button
        class="nav-link active"
        id="tab-one-tab"
        data-bs-toggle="tab"
        data-bs-target="#tab-one-pane"
        type="button"
        role="tab"
        aria-controls="tab-one-pane"
        aria-selected="true"
      >
        What is coveredsadsadas

      </button>
    </li>
    <li class="nav-item" role="presentation">
      <button
        class="nav-link"
        id="tab-two-tab"
        data-bs-toggle="tab"
        data-bs-target="#tab-two-pane"
        type="button"
        role="tab"
        aria-controls="tab-two-pane"
        aria-selected="false"
      >
       Exclusions

      </button>
    </li>
    <li class="nav-item" role="presentation">
      <button
        class="nav-link"
        id="tab-three-tab"
        data-bs-toggle="tab"
        data-bs-target="#tab-three-pane"
        type="button"
        role="tab"
        aria-controls="tab-three-pane"
        aria-selected="false"
      >
      What it cost

      </button>
    </li>
        <li class="nav-item" role="presentation">
      <button
        class="nav-link"
        id="tab-four-tab"
        data-bs-toggle="tab"
        data-bs-target="#tab-four-pane"
        type="button"
        role="tab"
        aria-controls="tab-four-pane"
        aria-selected="false"
      >
     How to claim


      </button>
    </li>
  </ul>
  <div class="tab-content" id="myTabContent">
    <div
      class="tab-pane fade show active"
      id="tab-one-pane"
      role="tabpanel"
      aria-labelledby="tab-one-tab"
    >
      <ul class="list-with-icon">
        <li>
            <p>
                Your outstanding balance will be settled in full in the event of death, dread disease or permanent disability, subject to a maximum cover of R1 million
            </p>
        </li>
        <li>
            <p>
                The Additional Benefit amount of R20 000 applies on death, total and permanent disability, and dread disease benefits
            </p>
        </li>
      </ul>
      <div class="bottom-links">
        <a href="https://www.standardbank.co.za/static_file/South%20Africa/PDF/Insuring/List_of_Our_Underwritters_BusIness.pdf" target="_blank">*See Terms & Conditions</a>
      </div>
      <p class="noteText fst-italic">Product underwritten by Liberty Group Limited</p>
      <p class="text-normal"> Standard Bank Insurance Brokers (Pty) Ltd (“SBIB”) is an authorised financial services provider FSP 224. </p>
    </div>

    <div
      class="tab-pane fade"
      id="tab-two-pane"
      role="tabpanel"
      aria-labelledby="tab-two-tab"
    >
      <ul class="list-with-icon">
        <li><p>Suicide is excluded for the first 24 months of the policy</p></li>
        <li><p>Pre-existing medical conditions from the last 12 months aren’t covered for the first 12 months of the policy term</p></li>
        <li><p>Cover for dread disease and permanent disability ends at age 65</p></li>
        <li><p>Death cover ends at age 75</p></li>
      </ul>
    </div>

    <div
      class="tab-pane fade"
      id="tab-three-pane"
      role="tabpanel"
      aria-labelledby="tab-three-tab"
    >
            <ul class="list-with-icon">
                <li><p>Minimum monthly premium of R4 per policy</p></li>
                <li><p>Premiums are calculated monthly based on your outstanding balance and age</p></li>
                <li><p>Your premium decreases as the balance of what you owe decreases</p></li>
                <li><p>A 40% discount applies to the younger life on the policy</p></li>
            </ul>
    </div>

        <div
      class="tab-pane fade"
      id="tab-four-pane"
      role="tabpanel"
      aria-labelledby="tab-four-tab"
    >
            <ul class="list-with-icon">
                <li><p>Call us on 0860 123 999</p></li>
                <li><p>Or visit your nearest branch</p></li>
            </ul>
    </div>

  </div>
</div>
