<div class="help-and-support">
        <div class="banner">
            <div class="custom-container">
                <button type="button" class="backBtn" [routerLink]="'/'" ><img class="img-fluid" src="assets/images/icons/back-icon-lt-white.png" alt="back icon"> <span>Back</span></button>
                <div class="banner-content">
                    <div class="banner-text">
                        <h1>Help and support</h1>
                        <p>Find a wealth of resources that will help you get the most out of your experience.</p>
                    </div>
                </div>
            </div>
        </div>
    
        <div class="general-enguiries">
            <div class="custom-container">
                <div class="mb-4">
                  <h3 class="text-heading-sm">General enquiries</h3>
                  <p class="text-subtitle-sm">For quick assistance, contact us using the following details:</p>
                </div>
            
                <div class="container-fluid px-0">
                    <div class="row row-gap-4">
                        <div class="col-lg-4">
                            <div class="contact-info-card">
                                <h5>Call centre</h5>
                                <p>0860 109 075</p>
                            </div>
                        </div>
                        <div class="col-lg-4">
                            <div class="contact-info-card">
                                <h5>Email</h5>
                                <p><a href="mailto:bizdirect@standardbank.co.za">bizdirect&#64;standardbank.co.za</a></p>
                            </div>
                        </div>
                        <div class="col-lg-4">
                            <div class="contact-info-card">
                                <h5>SB Mobile</h5>
                                <p><a href="mailto:bizdirect@standardbank.co.za">support&#64;mobile.standardbank.co.za</a>           
                                    0801212577/0318195321 <br/>Dial 135 from your Standard Bank mobile sim</p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>


        <div class="explore-faqs">
            <div class="custom-container">
                <h3 class="text-heading-sm mb-4">Explore additional support options</h3>
                <ul class="tabs-ul">
                    <li class="activeTab">                    
                      <button type="button">Insurance</button>
                    </li>
                    <li>                    
                      <button type="button">Emergency</button>
                    </li>
                    <li>                    
                      <button type="button">International</button>
                    </li>
                    <li>                    
                      <button type="button">Ways to Bank</button>
                    </li>
                    <li>                    
                      <button type="button">Investment</button>
                    </li>
                    <li>                    
                      <button type="button">Asset Finance</button>
                    </li>
                    <li>                    
                      <button type="button">Merchant solutions</button>
                    </li>
                    <li>                    
                      <button type="button">Business and commercial banking</button>
                    </li>
                  </ul>
                <div class="accordion custom-accordion" id="accordionExample">
                    <div class="accordion-item">
                      <h2 class="accordion-header" id="headingOne">
                        <button class="accordion-button shadow-none" type="button" data-bs-toggle="collapse" data-bs-target="#collapseOne" aria-expanded="true" aria-controls="collapseOne">
                            Travel insurance
                        </button>
                      </h2>
                      <div id="collapseOne" class="accordion-collapse collapse show" aria-labelledby="headingOne" data-bs-parent="#accordionExample">
                        <div class="accordion-body">
                          <div class="container-fluid px-0 contact-info">
                            <div class="row">
                              <div class="col-lg-6 mb-3">
                                <span class="heading-sm">Travel insurance services</span>
                                <p class="addr">South Africa: <a class="num" href="tel:+086 111 4494">086 111 4494</a></p>
                                <p class="addr">Email: <a class="mail" href="mailto:sbib.creditlife@standardbank.co.za">sbib.creditlife&#64;standardbank.co.za</a> </p>
                              </div>
                              <div class="col-lg-6 mb-3">
                                <span class="heading-sm">Travel insurance quote</span>
                                <p class="addr">South Africa: <a class="num" href="tel:+086 111 4494">086 111 4494</a></p>
                              </div>
                            </div>
                            <div class="row">
                              <div class="col-lg-6 mb-3">
                                <span class="heading-sm">Travel insurance claims</span>
                                <p class="addr">South Africa: <a class="num" href="tel:+0860 723 270">0860 723 270</a></p>
                                <p class="addr">International: <a class="num" href="tel:+0860 723 270">0860 723 270</a></p>
                              </div>
                              <div class="col-lg-6 mb-3"></div>
                            </div>
                          </div>
                        </div>
                      </div>
                    </div>
                    <div class="accordion-item">
                      <h2 class="accordion-header" id="headingTwo">
                        <button class="accordion-button collapsed shadow-none" type="button" data-bs-toggle="collapse" data-bs-target="#collapseTwo" aria-expanded="false" aria-controls="collapseTwo">
                            Home Owners insurance 
                        </button>
                      </h2>
                      <div id="collapseTwo" class="accordion-collapse collapse" aria-labelledby="headingTwo" data-bs-parent="#accordionExample">
                        <div class="accordion-body">
                            <p>The BCB Platform is a single home for all of your Standard Bank accounts and solutions. It connects you to a variety of products and services, as well as experts to take your business further. </p>
                            <p>Access personalised recommendations and tools to better manage your business’s finances. You will also have access to industry experts and resources to help your business grow. </p>
                        </div>
                      </div>
                    </div>
                    <div class="accordion-item">
                      <h2 class="accordion-header" id="headingThree">
                        <button class="accordion-button collapsed shadow-none" type="button" data-bs-toggle="collapse" data-bs-target="#collapseThree" aria-expanded="false" aria-controls="collapseThree">
                            Car and home insurance 
                        </button>
                      </h2>
                      <div id="collapseThree" class="accordion-collapse collapse" aria-labelledby="headingThree" data-bs-parent="#accordionExample">
                        <div class="accordion-body">
                            <p>The BCB Platform is a single home for all of your Standard Bank accounts and solutions. It connects you to a variety of products and services, as well as experts to take your business further. </p>
                            <p>Access personalised recommendations and tools to better manage your business’s finances. You will also have access to industry experts and resources to help your business grow. </p>
                        </div>
                      </div>
                    </div>
                    <div class="accordion-item">
                        <h2 class="accordion-header" id="headingFour">
                          <button class="accordion-button collapsed shadow-none" type="button" data-bs-toggle="collapse" data-bs-target="#collapseFour" aria-expanded="false" aria-controls="collapseFour">
                            Credit life insurance
                          </button>
                        </h2>
                        <div id="collapseFour" class="accordion-collapse collapse" aria-labelledby="headingFour" data-bs-parent="#accordionExample">
                          <div class="accordion-body">
                              <p>The BCB Platform is a single home for all of your Standard Bank accounts and solutions. It connects you to a variety of products and services, as well as experts to take your business further. </p>
                              <p>Access personalised recommendations and tools to better manage your business’s finances. You will also have access to industry experts and resources to help your business grow. </p>
                          </div>
                        </div>
                      </div>
                      <div class="accordion-item">
                        <h2 class="accordion-header" id="headingFive">
                          <button class="accordion-button collapsed shadow-none" type="button" data-bs-toggle="collapse" data-bs-target="#collapseFive" aria-expanded="false" aria-controls="collapseFive">
                            Personal accidents and hospital cash plans
                          </button>
                        </h2>
                        <div id="collapseFive" class="accordion-collapse collapse" aria-labelledby="headingFive" data-bs-parent="#accordionExample">
                          <div class="accordion-body">
                              <p>The BCB Platform is a single home for all of your Standard Bank accounts and solutions. It connects you to a variety of products and services, as well as experts to take your business further. </p>
                              <p>Access personalised recommendations and tools to better manage your business’s finances. You will also have access to industry experts and resources to help your business grow. </p>
                          </div>
                        </div>
                      </div>
                </div>

            </div>
        </div>

    
    </div>