<div class="history-statements-sec">
    <div class="custom-container-md">
        <div class="container-fluid px-0">
            <div class="row g-3 align-items-stretch">
                <div class="col-lg-8">
                    <h2 class="sec-heading-md">Transaction history</h2>
        
                    <div class="table-container">
                    <ng-select
                        [items]="accounts"
                        bindLabel="name"
                        placeholder="Select an account"
                        [(ngModel)]="selectedAccount"
                        class="custom-ngs">
                    </ng-select>
                        <div class="table-overflow">
                            <div class="custom-table">
                                <ul class="table-header-ul">
                                    <li><span>Date</span></li>
                                    <li><span>Description</span></li>
                                    <li><span>Amount</span></li>
                                </ul>
                                <ul class="table-body-ul">
                                    <li><span>1 Nov 2023</span></li>
                                    <li><span>Vehicle Insurance_HondaJazz 2020</span></li>
                                    <li><span class="danger-text">– R 100 000</span>
                                        <button type="button" class="action-more">
                                            <img class="img-fluid" src="assets/images/icons/more-actions-icon.png" alt="more" />
                                        </button>
                                    </li>
                                </ul>
                                <ul class="table-body-ul">
                                    <li><span>1 Nov 2023</span></li>
                                    <li><span>Vehicle Insurance_HondaJazz 2020</span></li>
                                    <li><span class="success-text">– R 100 000</span>
                                        <button type="button" class="action-more">
                                            <img class="img-fluid" src="assets/images/icons/more-actions-icon.png" alt="more" />
                                        </button>
                                    </li>
                                </ul>
                                <ul class="table-body-ul">
                                    <li><span>1 Nov 2023</span></li>
                                    <li><span>Vehicle Insurance_HondaJazz 2020</span></li>
                                    <li><span class="danger-text">– R 100 000</span>
                                        <button type="button" class="action-more">
                                            <img class="img-fluid" src="assets/images/icons/more-actions-icon.png" alt="more" />
                                        </button>
                                    </li>
                                </ul>
                                <ul class="table-body-ul">
                                    <li><span>1 Nov 2023</span></li>
                                    <li><span>Vehicle Insurance_HondaJazz 2020</span></li>
                                    <li><span class="success-text">– R 100 000</span>
                                        <button type="button" class="action-more">
                                            <img class="img-fluid" src="assets/images/icons/more-actions-icon.png" alt="more" />
                                        </button>
                                    </li>
                                </ul>
                                <ul class="table-body-ul">
                                    <li><span>1 Nov 2023</span></li>
                                    <li><span>Vehicle Insurance_HondaJazz 2020</span></li>
                                    <li><span class="danger-text">– R 100 000</span>
                                        <button type="button" class="action-more">
                                            <img class="img-fluid" src="assets/images/icons/more-actions-icon.png" alt="more" />
                                        </button>
                                    </li>
                                </ul>
                                <ul class="table-body-ul">
                                    <li><span>1 Nov 2023</span></li>
                                    <li><span>Vehicle Insurance_HondaJazz 2020</span></li>
                                    <li><span class="success-text">– R 100 000</span>
                                        <button type="button" class="action-more">
                                            <img class="img-fluid" src="assets/images/icons/more-actions-icon.png" alt="more" />
                                        </button>
                                    </li>
                                </ul>
                            </div>
                        </div>
                        <button type="button" class="view-all-btn">view all <img src="assets/images/icons/col-icon-right.png" alt="col-icon-right" class="img-fluid" /></button>
                    </div>
                </div>
                <div class="col-lg-4">
                    <h2 class="sec-heading-md">Statements</h2>
                    <div class="statement-container">
                    <ng-select
                        [items]="accounts"
                        bindLabel="name"
                        placeholder="Select an account"
                        [(ngModel)]="selectedAccount"
                        class="custom-ngs">
                    </ng-select>
                        <ul class="statement-ul">
                            <li>
                                <div>
                                    <div class="statement-date"><img src="assets/images/icons/statement-icon.png" alt="download icon" class="img-fluid" /><span>1 June 2024</span></div>
                                    <p class="statement-title">Monthly formal statement
                                        Official bank statement</p>
                                </div>
                                <button type="button" class="download-btn"><img src="assets/images/icons/download-icon.png" alt="download icon" class="img-fluid" /></button>
                            </li>
                            <li>
                                <div>
                                    <div class="statement-date"><img src="assets/images/icons/statement-icon.png" alt="download icon" class="img-fluid" /><span>1 June 2024</span></div>
                                    <p class="statement-title">Monthly formal statement
                                        Official bank statement</p>
                                </div>
                                <button type="button" class="download-btn"><img src="assets/images/icons/download-icon.png" alt="download icon" class="img-fluid" /></button>
                            </li>
                            <li>
                                <div>
                                    <div class="statement-date"><img src="assets/images/icons/statement-icon.png" alt="download icon" class="img-fluid" /><span>1 June 2024</span></div>
                                    <p class="statement-title">Monthly formal statement
                                        Official bank statement</p>
                                </div>
                                <button type="button" class="download-btn"><img src="assets/images/icons/download-icon.png" alt="download icon" class="img-fluid" /></button>
                            </li>
                            <li>
                                <div>
                                    <div class="statement-date"><img src="assets/images/icons/statement-icon.png" alt="download icon" class="img-fluid" /><span>1 June 2024</span></div>
                                    <p class="statement-title">Monthly formal statement
                                        Official bank statement</p>
                                </div>
                                <button type="button" class="download-btn"><img src="assets/images/icons/download-icon.png" alt="download icon" class="img-fluid" /></button>
                            </li>
                            <li>
                                <div>
                                    <div class="statement-date"><img src="assets/images/icons/statement-icon.png" alt="download icon" class="img-fluid" /><span>1 June 2024</span></div>
                                    <p class="statement-title">Monthly formal statement
                                        Official bank statement</p>
                                </div>
                                <button type="button" class="download-btn"><img src="assets/images/icons/download-icon.png" alt="download icon" class="img-fluid" /></button>
                            </li>
                        </ul>
                        <button type="button" class="view-all-btn">view all <img src="assets/images/icons/col-icon-right.png" alt="col-icon-right" class="img-fluid" /></button>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>