<div class="promo-card-container">
    <div class="row g-0">
      <div class="col-md-5">
        <div class="promo-card-image">
          <img [src]="imageSrc" [alt]="imageAlt" class="img-fluid">
        </div>
      </div>
      <div class="col-md-7">
        <div class="promo-card-content">          
        <div>
            <h2 *ngIf="title">{{ title }}</h2>
            <p *ngIf="description">{{ description }}</p>
            <div class="img-list" *ngIf="storeImages && storeImages.length > 0">
                <img *ngFor="let image of storeImages" [src]="image.src" [alt]="image.alt" class="img-fluid">
            </div>
            <div *ngIf="noteText" class="noteText">{{noteText}}</div>
        </div>
          <div class="action-buttons" *ngIf="outlineBtnVisible || primaryBtnVisible">
              <a *ngIf="outlineBtnVisible" [href]="outlineBtnLink" class="primary-btn">{{ outlineBtnText }}</a>
              <a *ngIf="primaryBtnVisible" [href]="primaryBtnLink" class="primary-btn-outline">{{ primaryBtnText }}</a>
          </div>
        </div>
      </div>
    </div>
  </div>