.page-wrapper{
    background-color: #F4F5F7;
}

.web-finance-carousel{
    @media screen and (max-width:1200px) {
        display: none;
    }
}
.mob-finance-carousel{
    @media screen and (min-width:1200px) {
        display: none;
    }
}

