<!-- PAGE BANNER START -->
<app-page-banner
    [title]="'Lease, or buy'"
    [imageUrl]="'assets/images/banners/solutions-banner.png'"
></app-page-banner>
<!-- ./PAGE BANNER END -->

<div class="page-wrapper">
    <div class="custom-container">

<!-- PAGE INTRO START -->
        <app-page-intro
            title="Vehicle and asset finance"
            description="Buy or lease vehicles or capital equipment, or get bridging finance for local or international goods you want to order."
        ></app-page-intro>
<!-- ./PAGE INTRO START END-->

<!-- PAGE INTRO START -->
    <div class="sec-b-space">
        <h3 class="heading-base mb-4">Some of the Benefits</h3>
        <app-image-heading-card [imageHeaduingCards]="imageHeadingCardsData"></app-image-heading-card>
    </div>
<!-- ./PAGE INTRO START END-->

<!--  -->
<div class="sec-b-space commonSiwper">
    <h3 class="heading-base mb-4">What do you need financing for?</h3>

    <!-- Web view -->
    <div class="web-finance-carousel">
        <app-finance-carousel-web/>
    </div>
    <!-- Mobile view -->
    <div class="mob-finance-carousel">
        <app-finance-carousel-mob/>
    </div>

</div>

    
<!-- We also offer carousel start -->
    <div class="sec-b-space">
        <h3 class="heading-base mb-4">We also offer</h3>
        <app-dynamic-swiper 
            [slides]="featuredCardData"
            [itemTemplate]="slideTemplate"
            [breakpoints]="customBreakpoints"
        ></app-dynamic-swiper>
        <ng-template #slideTemplate let-carddata>
              <app-featured-card 
                [title]="carddata.title" 
                [description]="carddata.description" 
                [imageSrc]="carddata.imageSrc" 
                [imageAlt]="carddata.imageAlt"
                [buttonLabel]="carddata.buttonLabel"
                [buttonLink]="carddata.buttonLink"
                [className]="'wide-card-img'"
            ></app-featured-card>
        </ng-template>
    </div>
<!-- We also offer carousel end -->
    </div>
</div>