<div class="contact-us-page">
    <div class="banner">
        <div class="custom-container">
            <button type="button" class="backBtn" [routerLink]="'/'" ><img class="img-fluid" src="assets/images/icons/back-icon-lt-white.png" alt="back icon"> <span>Back</span></button>
            <div class="banner-content">
                <div class="banner-text">
                    <h1>Contact us</h1>
                    <p>Reach out to us for additional support or find your nearest Standard Bank branch.</p>
                </div>
            </div>
        </div>
    </div>
    
    <div class="custom-container">
        <div class="contact-card-grid">
            @for (card of contactCards; track card) {
                <div class="contact-card">
                  <div class="inner-content">
                    <img class="img-fluid" [src]="card.image" [alt]="card.title" />
                    <h5>{{ card.title }}</h5>
                    <p>{{ card.description }}</p>
                    <button type="button" class="primaryBtnOutline contact-btn">
                      {{ card.buttonText }}
                    </button>
                  </div>
                </div>
              }
              
        </div>
    </div>
</div>