<div class="contact-us-page">
    <div class="banner">
        <div class="custom-container">
            <button type="button" class="backBtn" [routerLink]="'/'" ><img class="img-fluid" src="assets/images/icons/back-icon-lt-white.png" alt="back icon"> <span>Back</span></button>
            <div class="banner-content">
                <div class="banner-text">
                    <h1>Contact us</h1>
                    <p>Reach out to us for additional support or find your nearest Standard Bank branch.</p>
                </div>
            </div>
        </div>
    </div>
    
    <div class="custom-container">
        <div class="contact-card-grid">
            @for (card of contactCards; track card) {
                <div class="contact-card">
                  <div class="inner-content">
                    <img class="img-fluid" [src]="card.image" [alt]="card.title" />
                    <h5>{{ card.title }}</h5>
                    <p>{{ card.description }}</p>
                    <button type="button" class="primaryBtnOutline contact-btn"
                      [attr.data-bs-toggle]="card.buttonText === 'Subscribe to newsletter' ? 'modal' : null"
                      [attr.data-bs-target]="card.buttonText === 'Subscribe to newsletter' ? '#subscribenewsletter' : null"
                    >
                      {{ card.buttonText }}
                    </button>
                  </div>
                </div>
              }
              
        </div>
    </div>
</div>



<!-- Subscribe News Letter Modal -->
<div class="modal fade newsletter-modal" id="subscribenewsletter" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1" aria-hidden="true">
  <div class="modal-dialog modal-dialog-centered">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title">Stay informed</h5>
        <button type="button" class="btnclose" data-bs-dismiss="modal">
          <img class="img-fluid" src="assets/images/icons/close-icon-white.png" alt="chat"/>
        </button>
      </div>
      <div class="modal-body" *ngIf="!isSubscribed">
          <div class="dialog-content">
              <h3 class="heading-title">Get updates on what matters to you</h3>
              <p class="text">Become part of our community and access valuable insights and updates.</p>
              <div class="mail-input">
                  <input type="text" placeholder="Enter your email">
                  <p>*This information may be transcribed, used, and stored by third parties in accordance with our <a href="#" target="_blank"> privacy policy</a>
                  </p>
              </div>
          </div>
      </div>
      <div class="modal-footer"  *ngIf="!isSubscribed">
        <button type="button" class="textBtn" data-bs-dismiss="modal">CANCEL</button>
        <button type="button" class="textBtn" (click)="toggleIsSubscribed()">SUBMIT</button>
      </div>


      <!-- Subscribed Successfully -->
      <div class="modal-body" *ngIf="isSubscribed">
          <div class="dialog-content">
               <img class="img-fluid img-avatar" src="assets/images/icons/success-check.png" alt="success" />
              <h3 class="heading-title mb-3">Your message was submitted successfully</h3>
              <p class="text">Look out for updates in your inbox</p>
          </div>
      </div>
      <div class="modal-footer justify-content-center"  *ngIf="isSubscribed">
        <button type="button" class="textBtn" data-bs-dismiss="modal">DONE</button>
      </div>
      <!-- Subscribed Successfully End -->

    </div>
  </div>
</div>