@use 'custom-pagination';

.toolbar-info{
    background-color: #0033AA;
    border-radius: 0.75rem;
    padding: 1.5rem 1.5rem 2rem;
    margin-bottom: 24px;
    .icon-avatar{
        border-radius: 50%; display: inline-flex; align-items: center; justify-content: center;
        padding: 4px; background-color: #DFEEFD; min-width: 1.875rem; height: 1.875rem; margin-right: 0.75rem;
    }
    .toolbar-content{
        display: flex; align-items: flex-start;
        h4{
            font-family: "BSP-Medium"; font-size: 1.75rem; line-height: 1.3; color: #FFFFFF; margin-bottom: 0.4375rem;
            @media screen and (max-width:1024px) {
                font-size: 1.5rem;
            }
        }
        p{
            font-family: "BSP-Regular"; font-size: 1rem; line-height: 1.3; color: #FFFFFF; margin-bottom: 0;
            @media screen and (max-width:1024px) {
                font-size: 0.875rem;
            }
            
        }
    }
}

.choose-account{
    border: 1px solid var(--color-gray-pale); border-radius: 0.75rem;
    padding: 1.5rem 1.5rem 2.5rem; margin-bottom: 1rem; background-color: #FFFFFF;
    .info-text{
        display: flex; align-items: flex-start; gap: 5px; margin-top: 14px; max-width: 700px;
        p{
            font-family: "BSP-Regular"; font-size: 1rem; line-height: 1.3; color: #697786; margin-bottom: 0;
            @media screen and (max-width:768px) {
                font-size: 0.875rem;
            }
            @media screen and (max-width:680px) {
                font-size: 0.75rem;
            }
        }
    }
}


.ngs-floating-label-wrapper {
    position: relative; max-width: 627px;
    margin: 1rem 0 1.375rem;  
    z-index: 1;
    ng-select {
      width: 100%;
    }
  
    .floating-label {
      position: absolute;
      left: 12px;
      top: 50%;
      transform: translateY(-50%);
      background: #FFFFFF;
      padding: 0 4px;
      color: #999;
      font-size: 1rem;
      transition: 0.2s ease all;
      pointer-events: none;
      z-index: 1;
    }
  
    &.focused .floating-label {
      top: 0;
      font-size: 0.75rem;
      color: var(--color-gray-medium);
      z-index: 9;
    }
    ng-select.ng-select-focused ~ .floating-label {
      top: 0;
      font-size: 0.75rem;
      color: var(--color-gray-medium); 
      z-index: 9;
  
    }
  }

  .doc-title{
    font-family: "BSP-Medium"; font-size: 1.125rem; line-height: 1.3; color: var(--color-text); margin-bottom: 1rem;
  }

  .doc-card-container{
    padding: 1rem; background-color: #FFFFFF; border-radius: 0.75rem; border: 1px solid var(--color-gray-pale); margin-bottom: 1rem;
  }

  .responsive-table{
    width: 100%; overflow-x: auto;
  }

  .custom-table{
    width: 100%; 
    @media screen and (max-width:1024px) {
        min-width: 991px;
    }
    thead{
        tr{
            th{
                padding: 1rem 0.5rem; vertical-align: middle; background-color: var(--color-gray-pale);
                &:first-child{
                    border-top-left-radius:  0.75rem;
                }
                &:last-child{
                    border-top-right-radius:  0.75rem;
                }
                span{
                    font-family: "BSP-Medium"; font-size: 0.75rem; line-height: 1.3; color: #091C35; font-weight: 500;
                }
            }
            .action-th{
                text-align: center; width: 6.25rem;
            }
        }
    }
    tbody{
        tr{
            td{
                padding: 1rem 0.5rem;
                vertical-align: middle;
                border-bottom: 1px solid var(--color-gray-pale);
                .icon-and-text{
                    display: flex; align-items: center;
                }
                .ptext{
                    font-family: "BSP-Regular"; font-size: 0.875rem; line-height: 1.5; color: #091C35; margin: 0;
                    .muted-text{display: block;opacity: 0.8;}
                }
            }
            &:last-child > td{border-bottom: none;}
            .action-td{
                text-align: center; width: 6.25rem;
            }
        }
    }
  }

  .bottom-actions{
    border-top: 1px solid var(--color-gray-pale);
    padding: 2rem 1rem 1rem; text-align: center;
  }
  .text-btn{
    display: inline-flex; align-items: center; gap: 6px;
    font-family: "BSP-Bold"; font-size: 0.875rem; line-height: normal; color: var(--color-primary); background-color: transparent; border: none; text-transform: uppercase;
    img{width: 1.125rem;}
}

  .custom-pagination{
    justify-content: center; margin: 4.375rem 0;
  }

.full-width-table{
    padding: 0;
    .custom-table{
        tr > th:first-child, tr > td:first-child{
            text-align: center;
        }
        tr {
            td{
                padding: 2rem 0.5rem;
            }
        }
    }
  }

// search-and-filter
.search-and-filter{
    display: flex; gap: 2rem; padding: 2rem 0 0;
    .search-container{
        display: flex; align-items: center; width: 100%; max-width: 328px; margin: 0.5rem 0;
        border: 1px solid var(--color-gray-pale); height: 50px; padding: 0.5rem 1rem; border-radius: 0.5rem;
        input{
            border: none; height: 100%; margin-left: 0.3125rem; flex-grow: 1; width: 100%;
            font-family: "BSP-Medium"; font-size: 1rem; color: var(--color-text);
            &:focus{outline: none;}
            &::placeholder{
                font-family: "BSP-Regular"; font-size: 1rem; color: var(--color-gray-light);
            }
        }
    }
    
    .filter-btn{
        display: flex; align-items: center; gap: 0.625rem; padding: 0.5rem 1rem; background-color: #FFFFFF;
        border: 1px solid var(--color-primary); height: 50px; border-radius: 0.5rem; color: var(--color-primary);
        margin: 0.5rem 0;
        span{
            font-family: "BSP-Bold"; font-size: 0.875rem;line-height: normal;text-transform: uppercase;
        }
    }
}

.filter-block{
    padding: 1.5rem; background-color: #F4F5F7;
    .title-md{
        font-family: "BSP-Medium"; font-size: 1.5rem; line-height: normal; margin-bottom: 1.5rem;
    }
}


.pair-date-picker{
    display: flex; gap: 1.25rem;
}


.filter-buttons{
    display: flex; align-items: center; gap: 2rem; flex-wrap: wrap;
    .fl-btn{
        padding: 0.625rem 1.5rem; border-radius: 3.125rem;border: 1px solid transparent;
        font-family: "BSP-Medium"; font-size: 1rem; line-height: normal; background-color: transparent; text-transform: uppercase;
    }
    .apply-btn{
        background-color: var(--color-primary-dark); color: #FFFFFF;
    }
    .close-btn{ 
        background-color: #FFFFFF; color: var(--color-primary-dark);border-color: var(--color-primary-dark);
    }
    .clear-btn{
        background-color: transparent; color: var(--color-primary-dark);
    }
}

.p-custom-calendar-wrapper{
    .labeltext{
        display: block;
        margin-bottom: 0.5rem;
        font-family: "BSP-Medium";
        font-size: 0.75rem;
        line-height: 1.3;
        color: var(--color-gray-medium);
    }
    .p-custom-calendar {
        position: relative;
        display: inline-block;
        .custom-icon {
            position: absolute;
            top: 50%;
            right: 1rem;
            transform: translateY(-50%);
            cursor: pointer;
            color: #007ad9;
          }
      }
}

  
