<div class="new-sevice-request-sec">
    <div class="action-info">
        <a href="#" class="backBtn"><img src="assets/images/icons/back-left-icon.png" alt="back"/><span> Back</span></a>
        <h2 class="section-title">Service Request</h2>
    </div>
    <div class="new-service-request">
        <div class="content">
            <img class="img-fluid avatar-icon" src="assets/images/icons/form-fill-icon.png" alt="form-fill-icon">
            <h3>No service requests</h3>
            <p>You currently don't have any active or resolved service requests.</p>
            <a href="#" class="primaryBtn req-btn" [routerLink]="['/service-request/create']">NEW REQUEST</a>
        </div>
    </div>
</div>