<div class="py-4">
    <div class="mb-4">
        <a href="#" class="back-btn mb-4"><img src="assets/images/icons/back-left-icon.png" alt="back"/><span> Back</span></a>
        <h3 class="heading-sm">Service Request</h3>
    </div>
    <div class="new-service-request">
        <div class="content">
            <img class="img-fluid avatar-icon" src="assets/images/icons/form-fill-icon.png" alt="form-fill-icon">
            <h3 class="heading-sm fw-md mb-3">No service requests</h3>
            <p class="text-normal mb-5">You currently don't have any active or resolved service requests.</p>
            <a href="#" class="primary-btn req-btn" [routerLink]="['/service-request/create']">NEW REQUEST</a>
        </div>
    </div>
</div>