<div class="offcanvas offcanvas-bottom statement-offcanvas" tabindex="-1" id="offcanvasStatementActions">
  <div class="statement-offcanvas-wrapper">
    <div class="statement-content">
      <div class="statement-action-group">
        <h6 class="action-group-title">Stamped statements</h6>
        <button type="button" class="action-btn">Send via email</button>
        <button type="button" class="action-btn">Download</button>
        <button type="button" class="action-btn">Preview</button>
      </div>
      <button type="button" data-bs-dismiss="offcanvas" aria-label="Close" class="btn-cancel w-100 mt-3">Cancel</button>
    </div>
  </div>
  <div class="drag-line"></div>
</div>
