@use "custom-breakpoints" as bp;
.page-intro {
  padding: 3rem 0;
  text-align: center;
  width: 100%;
  max-width: 800px;
  margin: 0 auto;
  @include bp.respond-below("xs") {
      padding: 2.25rem 0;
  }
  .page-intro-title {
    font-family: "BSP-Regular";
    font-size: 2.625rem;
    line-height: normal;
    color: var(--color-text);
    margin-bottom: 0;
    @include bp.respond-below("md") {
      font-size: 2.25rem;
    }
    @include bp.respond-below("sm") {
      font-size: 2rem;
    }
    @include bp.respond-below("mobile-xs") {
      font-size: 1.75rem;
    }
    @include bp.respond-below("mobile-xxs") {
      font-size: 1.625rem;
    }
    @include bp.respond-below("mobile-tiny") {
      font-size: 1.5rem;
    }
  }
  .page-intro-desc {
    font-family: "BSP-Regular";
    font-size: 1.25rem;
    line-height: 1.5;
    color: var(--color-gray-light);
    margin: 2rem 0 0.625rem;
    @media (max-width: 768px) {
      font-size: 1.125rem;
    }
    @media (max-width: 480px) {
      font-size: 1rem;
    }
  }
}
