<div class="welcome-user-banner">
    <h2 class="welcome-text"><strong>Hi James,</strong> what would you like to do today?</h2>
    <div class="container-fluid px-0 position-relative rounded-2 overflow-hidden">
        <img src="assets/images/icons/close-icon-rounded.png" alt="welcome user image" class="img-fluid close-icon" />
        <div class="row g-0">
            <div class="col-auto colLeft">
                <img src="assets/images/media/join-the-club.png" alt="welcome user image" class="img-fluid" />
            </div>
            <div class="col colRight">
                <div class="text-content">
                    <h3>Join Trade Club</h3>
                    <div class="desc">
                        <p>Find new markets for your business, link to exporters and importers, get trade information or connect with other local, regional and international traders. </p>
                        <button type="button" class="primaryBtnOutline mt-auto">learn more</button>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>