.welcome-user-banner{
    padding: 5rem 0;
}
.close-icon{
    position: absolute;top: 1rem; right: 1rem; cursor: pointer;
}
.welcome-text{
    font-family: "BSP-Regular", sans-serif;
    font-size: 1.75rem;
    line-height: 1.3;
    color: #FFFFFF;
    margin-bottom: 2rem;
}


.colRight{
    display: flex; align-items: center;
    padding: 0.75rem 1rem 0.75rem 1.5rem; background-color: #FFFFFF;
}
.text-content{ width: 100%;
    h3{
        max-width: 494px;
    }
    p{
        max-width: 494px;
    }
    .desc{
        width: 100%;
        display: flex; justify-content: space-between;flex-wrap: wrap; gap: 1rem;
    }
}

button{
    min-width: 200px;
}