<div class="offcanvas offcanvas-bottom custom-b-sheet" tabindex="-1" id="mobileSearchSheet">
  <div class="sheet-header">
    <button type="button" class="sheet-close-btn" data-bs-dismiss="offcanvas" aria-label="Close">
      <img src="assets/images/icons/icn_close-white.png" alt="close" />
    </button>
    <h5 class="sheet-title">Transaction History</h5>
    <button type="button" class="apply-btn">SEARCH</button>
  </div>

  <div class="filter-content">
    <h5 class="filter-block-title">Search transaction history</h5>

    <app-custom-search placeholder="Search"></app-custom-search>


    <button type="button" class="primary-btn mt-4">Clear search</button>
  </div>
</div>
