<div class="page-wrapper">
  <app-auth-header></app-auth-header>
  <div class="terms-conditions">
    <button type="button" class="back-btn">
        <img
            class="img-fluid"
            src="assets/images/icons/icn_chevron_left.png"
            alt="back arrow"
        />
        <span>Back</span>
    </button>
    <div class="terms-block mb-3">
        <h4>Title</h4>
        <ol>
            <li><p>Lorem ipsum dolor sit amet consectetur. Urna ornare non mauris nibh urna donec. Nunc id purus gravida auctor. Velit vestibulum libero convallis eu tincidunt mollis tincidunt non. Sed amet duis risus tellus tempor ultricies luctus maecenas odio.</p></li>
            <li><p>Lorem ipsum dolor sit amet consectetur. Urna ornare non mauris nibh urna donec. Nunc id purus gravida auctor. Velit vestibulum libero convallis eu tincidunt mollis tincidunt non. Sed amet duis risus tellus tempor ultricies luctus maecenas odio.</p></li>
            <li><p>Lorem ipsum dolor sit amet consectetur. Urna ornare non mauris nibh urna donec. Nunc id purus gravida auctor. Velit vestibulum libero convallis eu tincidunt mollis tincidunt non. Sed amet duis risus tellus tempor ultricies luctus maecenas odio.</p></li>
            <li><p>Lorem ipsum dolor sit amet consectetur. Urna ornare non mauris nibh urna donec. Nunc id purus gravida auctor. Velit vestibulum libero convallis eu tincidunt mollis tincidunt non. Sed amet duis risus tellus tempor ultricies luctus maecenas odio.</p></li>
            <li><p>Lorem ipsum dolor sit amet consectetur. Urna ornare non mauris nibh urna donec. Nunc id purus gravida auctor. Velit vestibulum libero convallis eu tincidunt mollis tincidunt non. Sed amet duis risus tellus tempor ultricies luctus maecenas odio.</p></li>
        </ol>
    </div>
    <div class="terms-block">
    <h4>Title</h4>
    <ol>
        <li><p>Lorem ipsum dolor sit amet consectetur. Urna ornare non mauris nibh urna donec. Nunc id purus gravida auctor. Velit vestibulum libero convallis eu tincidunt mollis tincidunt non. Sed amet duis risus tellus tempor ultricies luctus maecenas odio.</p></li>
        <li><p>Lorem ipsum dolor sit amet consectetur. Urna ornare non mauris nibh urna donec. Nunc id purus gravida auctor. Velit vestibulum libero convallis eu tincidunt mollis tincidunt non. Sed amet duis risus tellus tempor ultricies luctus maecenas odio.</p></li>
        <li><p>Lorem ipsum dolor sit amet consectetur. Urna ornare non mauris nibh urna donec. Nunc id purus gravida auctor. Velit vestibulum libero convallis eu tincidunt mollis tincidunt non. Sed amet duis risus tellus tempor ultricies luctus maecenas odio.</p></li>
        <li><p>Lorem ipsum dolor sit amet consectetur. Urna ornare non mauris nibh urna donec. Nunc id purus gravida auctor. Velit vestibulum libero convallis eu tincidunt mollis tincidunt non. Sed amet duis risus tellus tempor ultricies luctus maecenas odio.</p></li>
        <li><p>Lorem ipsum dolor sit amet consectetur. Urna ornare non mauris nibh urna donec. Nunc id purus gravida auctor. Velit vestibulum libero convallis eu tincidunt mollis tincidunt non. Sed amet duis risus tellus tempor ultricies luctus maecenas odio.</p></li>
        <li><p>Lorem ipsum dolor sit amet consectetur. Urna ornare non mauris nibh urna donec. Nunc id purus gravida auctor. Velit vestibulum libero convallis eu tincidunt mollis tincidunt non. Sed amet duis risus tellus tempor ultricies luctus maecenas odio.</p></li>
        <li><p>Lorem ipsum dolor sit amet consectetur. Urna ornare non mauris nibh urna donec. Nunc id purus gravida auctor. Velit vestibulum libero convallis eu tincidunt mollis tincidunt non. Sed amet duis risus tellus tempor ultricies luctus maecenas odio.</p></li>
        <li><p>Lorem ipsum dolor sit amet consectetur. Urna ornare non mauris nibh urna donec. Nunc id purus gravida auctor. Velit vestibulum libero convallis eu tincidunt mollis tincidunt non. Sed amet duis risus tellus tempor ultricies luctus maecenas odio.</p></li>
        <li><p>Lorem ipsum dolor sit amet consectetur. Urna ornare non mauris nibh urna donec. Nunc id purus gravida auctor. Velit vestibulum libero convallis eu tincidunt mollis tincidunt non. Sed amet duis risus tellus tempor ultricies luctus maecenas odio.</p></li>
        <li><p>Lorem ipsum dolor sit amet consectetur. Urna ornare non mauris nibh urna donec. Nunc id purus gravida auctor. Velit vestibulum libero convallis eu tincidunt mollis tincidunt non. Sed amet duis risus tellus tempor ultricies luctus maecenas odio.</p></li>
        <li><p>Lorem ipsum dolor sit amet consectetur. Urna ornare non mauris nibh urna donec. Nunc id purus gravida auctor. Velit vestibulum libero convallis eu tincidunt mollis tincidunt non. Sed amet duis risus tellus tempor ultricies luctus maecenas odio.</p></li>
        <li><p>Lorem ipsum dolor sit amet consectetur. Urna ornare non mauris nibh urna donec. Nunc id purus gravida auctor. Velit vestibulum libero convallis eu tincidunt mollis tincidunt non. Sed amet duis risus tellus tempor ultricies luctus maecenas odio.</p></li>
    </ol>
    </div>
    <button type="button" class="primary-btn done-btn">DONE</button>
  </div>
</div>