<div class="footer-sec">
    <div class="footer-top-container">
    <div class="custom-container">
      <div class="container-fluid px-0">
        <div class="row">
          <div class="col-lg-4 mb-4">
            <div class="ul-card-one">
                <h3 class="list-title">Lost or stolen cards</h3>
                <ul class="ul-list">
                  <li>
                    <div class="link-in-div">
                      <span>Local</span>
                      <a class="a-link" href="#">0800 020 600</a>
                    </div>
                  </li>
                  <li>
                    <div class="link-in-div">
                      <span>International</span>
                      <a class="a-link" href="#">+27 10 824 1515</a>
                    </div>
                  </li>
                </ul>
            </div>
          </div>
          <div class="col-lg-4 mb-4">
            <h3 class="list-title">Get in touch</h3>
            <ul class="ul-list">
              <li>
                <div class="link-in-div">
                  <span>Local</span>
                  <a class="a-link" href="#">0800 020 600</a>
                </div>
              </li>
              <li>
                <div class="link-in-div">
                  <span>International</span>
                  <a class="a-link" href="#">+27 10 824 1515</a>
                </div>
              </li>
            </ul>
          </div>
          <div class="col-lg-4 mb-4">
            <h3 class="list-title">Report unethical behaviour</h3>
            <ul class="ul-list">
              <li>
                <div class="link-in-div">
                  <span>Local</span>
                  <a class="a-link" href="#">0800 020 600</a>
                </div>
              </li>
              <li>
                <div class="link-in-div">
                  <span>International</span>
                  <a class="a-link" href="mailto:whistleblowingline@tip-offs.com">whistleblowingline&#64;tip-offs.com</a>
                </div>
              </li>
            </ul>
          </div>
        </div>
        <div class="row">
          <div class="col-lg-4 mb-4">
            <h3 class="list-title">Get to know us</h3>
            <ul class="ul-list">
              <li>
                <a class="a-link" href="#">Standard Bank Group <img src="assets/images/icons/chevron-right-white.png" class="img-fluid" alt="arrow right"></a>
              </li>
              <li>
                <a class="a-link" href="#">Investor relations <img src="assets/images/icons/chevron-right-white.png" class="img-fluid" alt="arrow right"></a>
              </li>
              <li>
                <a class="a-link" href="#">Who we sponsor <img src="assets/images/icons/chevron-right-white.png" class="img-fluid" alt="arrow right"></a>
              </li>
              <li>
                <a class="a-link" href="#">News and media <img src="assets/images/icons/chevron-right-white.png" class="img-fluid" alt="arrow right"></a>
              </li>
              <li>
                <a class="a-link" href="#">Find a branch <img src="assets/images/icons/chevron-right-white.png" class="img-fluid" alt="arrow right"></a>
              </li>
            </ul>
          </div>
          <div class="col-lg-4 mb-4">
            <h3 class="list-title">Report a fraud incident</h3>
            <ul class="ul-list">
              <li>
                <div class="link-in-div">
                  <span>Local</span>
                  <a class="a-link" href="#">0800 020 600</a>
                </div>
              </li>
              <li>
                <div class="link-in-div">
                  <span>International</span>
                  <a class="a-link" href="#">+27 10 824 1515</a>
                </div>
              </li>
              <li>
                  <div class="link-in-div">
                    <span>Email</span>
                    <a class="a-link" href="#">Reportfraud&#64;standardbank.co.za</a>
                  </div>
                </li>
            </ul>
          </div>
          <div class="col-lg-4 mb-4">
              <ul class="ul-list">
                  <li>
                    <a class="a-link" href="#">Click here for more information about unethical behaviour <img src="assets/images/icons/chevron-right-white.png" class="img-fluid" alt="arrow right"></a>
                  </li>
                  <li>
                    <a class="a-link" href="#">Compliments or complaints <img src="assets/images/icons/chevron-right-white.png" class="img-fluid" alt="arrow right"></a>
                  </li>
                  <li>
                    <a class="a-link" href="#">Give us a call <img src="assets/images/icons/chevron-right-white.png" class="img-fluid" alt="arrow right"></a>
                  </li>
                  <li>
                    <a class="a-link" href="#">Contact us <img src="assets/images/icons/chevron-right-white.png" class="img-fluid" alt="arrow right"></a>
                  </li>
                </ul>
          </div>
        </div>
      </div>
    </div>
    </div>
    <div class="footer-bottom-container">
        <div class="custom-container">
            <ul class="quick-links">
                <li>
                    <a href="#">Security Centre</a>
                </li>
                <li>
                    <a href="#">Data Privacy Centre</a>
                </li>
                <li>
                    <a href="#">Regulatory</a>
                </li>
                <li>
                    <a href="#">Legal</a>
                </li>
                <li>
                    <a href="#">Manage Cookies</a>
                </li>
                <li>
                    <a href="#">Terms & Conditions</a>
                </li>
                <li>
                    <a href="#">Pricing</a>
                </li>
            </ul>
            <div class="footer-desc-social">
                <p class="footer-desc">Standard Bank is a licensed financial services provider in terms of the Financial Advisory and Intermediary Services Act and a registered credit provider in terms of the National Credit Act, registration number NCRCP15</p>
                <div class="social-links">
                    <a href="http://" target="_blank" rel="noopener noreferrer">
                        <img src="assets/images/icons/whatsapp-icon.png" class="img-fluid"  alt="whatsapp"/>
                    </a>
                    <a href="http://" target="_blank" rel="noopener noreferrer">
                        <img src="assets/images/icons/linkedin-icon.png" class="img-fluid"  alt="linkedin"/>
                    </a>
                    <a href="http://" target="_blank" rel="noopener noreferrer">
                        <img src="assets/images/icons/youtube-icon.png" class="img-fluid"  alt="youtube"/>
                    </a>
                    <a href="http://" target="_blank" rel="noopener noreferrer">
                        <img src="assets/images/icons/twitter-icon.png" class="img-fluid"  alt="twitter"/>
                    </a>
                    <a href="http://" target="_blank" rel="noopener noreferrer">
                        <img src="assets/images/icons/facebook-icon.png" class="img-fluid"  alt="facebook"/>
                    </a>
                </div>
            </div>
        </div>
    </div>
  </div>
  