<!-- Tabs With List -->
<div class="tabs-with-list">
  <ul class="nav nav-tabs" id="myTab" role="tablist">
    <li class="nav-item" role="presentation">
      <button
        class="nav-link active"
        id="tab-one-tab"
        data-bs-toggle="tab"
        data-bs-target="#tab-one-pane"
        type="button"
        role="tab"
        aria-controls="tab-one-pane"
        aria-selected="true"
      >
        WHAT YOU CAN DO
      </button>
    </li>
    <li class="nav-item" role="presentation">
      <button
        class="nav-link"
        id="tab-two-tab"
        data-bs-toggle="tab"
        data-bs-target="#tab-two-pane"
        type="button"
        role="tab"
        aria-controls="tab-two-pane"
        aria-selected="false"
      >
        WHAT DOES IT COST
      </button>
    </li>
    <li class="nav-item" role="presentation">
      <button
        class="nav-link"
        id="tab-three-tab"
        data-bs-toggle="tab"
        data-bs-target="#tab-three-pane"
        type="button"
        role="tab"
        aria-controls="tab-three-pane"
        aria-selected="false"
      >
        HOW TO GET IT
      </button>
    </li>
        <li class="nav-item" role="presentation">
      <button
        class="nav-link"
        id="tab-four-tab"
        data-bs-toggle="tab"
        data-bs-target="#tab-four-pane"
        type="button"
        role="tab"
        aria-controls="tab-four-pane"
        aria-selected="false"
      >
        HOW TO SECURE YOUR BANKING APP
      </button>
    </li>
  </ul>
  <div class="tab-content" id="myTabContent">
    <div
      class="tab-pane fade show active"
      id="tab-one-pane"
      role="tabpanel"
      aria-labelledby="tab-one-tab"
    >
      <h5 class="list-name">Payments</h5>
      <ul class="list-with-icon">
        <li><p>Reverse debit orders under R200 for free</p></li>
        <li><p>Make local and international payments and transfers</p></li>
        <li><p>Change your payment limits</p></li>
        <li><p>Buy data, airtime, and SMS bundles</p></li>
        <li><p>Buy prepaid electricity</p></li>
        <li><p>Send cash vouchers to anyone with a cellphone</p></li>
      </ul>
            <h5 class="list-name">
        Cards, accounts and claims
      </h5>
      <ul class="list-with-icon">
        <li><p>Stop lost or stolen cards, and order new ones</p></li>
        <li><p>Get pre-approval on car financing</p></li>
        <li><p>Manage your car and home loans</p></li>
        <li><p>Submit and track building insurance claims</p></li>
        <li><p>Check your balances without signing in</p></li>
        <li><p>Get stamped statements, bank letters and tax certificates</p></li>
      </ul>
      <h5 class="list-name">
        Savings and investments
      </h5>
      <ul class="list-with-icon">
        <li><p>Open savings accounts</p></li>
        <li><p>View your Stanlib investments</p></li>
        <li><p>Link your accounts to your share trading profile</p></li>
      </ul>
      <div class="noteText">*The availability of some features may depend on the region where you live</div>
      <div class="bottom-links">
        <a href="https://www.standardbank.co.za/static_file/South%20Africa/PDF/Personal%20Ts%20and%20Cs/Digital_Banking_terms_and_conditions.pdf" target="_blank">See general T&Cs</a>
      </div>
    </div>

    <div
      class="tab-pane fade"
      id="tab-two-pane"
      role="tabpanel"
      aria-labelledby="tab-two-tab"
    >
      <ul class="list-with-icon">
        <li><p>No sign-up fee</p></li>
        <li><p>No monthly subscription fees</p></li>
        <li><p>Standard network rates apply when downloading the app</p></li>
        <li><p>No data charges when using the SA app, regardless of your network</p></li>
      </ul>
    </div>

    <div
      class="tab-pane fade"
      id="tab-three-pane"
      role="tabpanel"
      aria-labelledby="tab-three-tab"
    >
      <h5 class="list-name">How to get started with our mobile app</h5>
      <ul class="list-with-icon">
        <li><p>Already a Standard Bank customer?</p></li>
        <li><p>Download the Standard Bank app from your app store</p></li>
        <li><p>Set up your profile using your email address and create your password</p></li>
        <li><p>Link your accounts and cards to the app and start banking</p></li>
      </ul>
      <h5 class="list-name">Download it now from your app store</h5>
      <ul class="list-with-icon">
        <li>
          <p>
            <a href="https://play.google.com/store/apps/details?id=com.sbg.mobile.phone" target="_blank">
              Android smartphones
            </a>
          </p>
        </li>
        <li>
          <p>
          <a href="https://itunes.apple.com/za/app/standard-bank-stanbic-bank/id528239110?mt=8" target="_blank">
            iOS smartphones
          </a>
          </p>
        </li>
      </ul>
            <h5 class="list-name">Found a bug? Got an idea?</h5>
      <ul class="list-with-icon">
        <li>
          <p>
            <a href="mailto:appfeedback@standardbank.co.za" target="_blank">
              Send us your feedback
            </a>
          </p>
        </li>
      </ul>
    </div>
    <div
      class="tab-pane fade"
      id="tab-four-pane"
      role="tabpanel"
      aria-labelledby="tab-four-tab"
    >
    <ul class="list-with-icon">
      <li><p>Never leave your mobile device unattended when you are logged in.</p></li>
      <li><p>Do not store any banking credentials on your mobile device.</p></li>
      <li><p>Ensure your banking credentials are unique and not used for other websites, email accounts, or apps.</p></li>
      <li><p>If you sell your mobile device, delete all personal details and delink the device via your Mobile App settings.</p></li>
    </ul>
    <h5 class="list-name">Lost /Stolen device</h5>
    <p class="text-normal">In the event that your mobile device is lost or stolen:</p>
    <ul class="list-with-icon">
      <li>
        <p>
          Contact our Online Fraud line immediately on 0800 020 600 to report that your device is no longer in your possession and to block your profile.
        </p>
      </li>
      <li>
        <p>
          Report the incident to your mobile service provider (Cell C, MTN, Telkom, Vodacom, etc.) to have your device blacklisted.
        </p>
      </li>
      <li>
        <p>
          Never share your Android or iOS passcode or recovery security questions with anyone, even if they claim to be from Apple or Google.
        </p>
      </li>
    </ul>
    </div>
  </div>
</div>
