<div class="featured-product-container" *ngIf="featuredProduct">
    <div class="row g-0">
      <div class="col-md-6">
        <div class="featured-image">
          <img [src]="featuredProduct.imageUrl" [alt]="featuredProduct.title" class="img-fluid">
        </div>
      </div>
      <div class="col-md-6">
        <div class="featured-content">
          <div>
            <span class="badgeText">{{ featuredProduct.type === 'bank' ? 'Bank' : 
            featuredProduct.type === 'borrow' ? 'Borrow' : 'Save & Invest' }}</span>
            <h2>{{ featuredProduct.title }}</h2>
            <p>{{ featuredProduct.description }}</p>
          </div>
          <div class="action-buttons">
            <button class="primaryBtnOutline">LEARN MORE</button>
            <button class="primaryBtn">APPLY NOW</button>
          </div>
        </div>
      </div>
    </div>
  </div>