<!-- Tabs With List -->
<div class="tabs-with-list">
  <ul class="nav nav-tabs" id="myTab" role="tablist">
    <li class="nav-item" role="presentation">
      <button
        class="nav-link active"
        id="tab-one-tab"
        data-bs-toggle="tab"
        data-bs-target="#tab-one-pane"
        type="button"
        role="tab"
        aria-controls="tab-one-pane"
        aria-selected="true"
      >
        WHAT YOU GET
      </button>
    </li>
    <li class="nav-item" role="presentation">
      <button
        class="nav-link"
        id="tab-two-tab"
        data-bs-toggle="tab"
        data-bs-target="#tab-two-pane"
        type="button"
        role="tab"
        aria-controls="tab-two-pane"
        aria-selected="false"
      >
        WHAT IT COSTS
      </button>
    </li>
    <li class="nav-item" role="presentation">
      <button
        class="nav-link"
        id="tab-three-tab"
        data-bs-toggle="tab"
        data-bs-target="#tab-three-pane"
        type="button"
        role="tab"
        aria-controls="tab-three-pane"
        aria-selected="false"
      >
        WHAT YOU'LL NEED
      </button>
    </li>
  </ul>
  <div class="tab-content" id="myTabContent">
    <div
      class="tab-pane fade show active"
      id="tab-one-pane"
      role="tabpanel"
      aria-labelledby="tab-one-tab"
    >
      <ul class="list-with-icon">
        <li><p>Fully compliant trust account for managing third-party funds</p></li>
        <li><p>Earn interest on positive balances</p></li>
        <li><p>Activate automatic transfer of net interest to your preferred account</p></li>
        <li><p>Receive monthly online statements for your records and administration</p></li>
      </ul>
      <div class="bottom-links">
        <a href="https://www.standardbank.co.za/static_file/South%20Africa/PDF/Business%20Ts%20and%20Cs/Trust%20Terms%20and%20Conditions.pdf" target="_blank">See trust T&Cs</a>
        <a href="https://www.standardbank.co.za/static_file/South%20Africa/PDF/Personal%20Ts%20and%20Cs/Digital_Banking_terms_and_conditions.pdf" target="_blank">See general T&Cs</a>
      </div>
    </div>

    <div
      class="tab-pane fade"
      id="tab-two-pane"
      role="tabpanel"
      aria-labelledby="tab-two-tab"
    >
      <ul class="list-with-icon">
        <li><p>Pay as you transact, not for services you don’t use</p></li>
        <li><p>No opening deposit</p></li>
        <li><p>No minimum balance</p></li>
        <li><p>R93 monthly fee</p></li>
      </ul>
      <div class="bottom-links">
        <a href="https://www.standardbank.co.za/static_file/South%20Africa/PDF/Business%20Pricing/2025/Business%20Current%20Account%20Pricing%20Guide%202025.pdf" target="_blank">See 2025 pricing guide</a>
      </div>
    </div>

    <div
      class="tab-pane fade"
      id="tab-three-pane"
      role="tabpanel"
      aria-labelledby="tab-three-tab"
    >
      <p class="text-normal">You’ll need to be a registered attorney taking stewardship of third-party funds, and comply with Section 86(1) of the Legal Practice Act of 2014.</p>
    </div>
  </div>
</div>
