<!-- Banner with edge-to-edge image -->
<app-page-banner
    [title]="'Our solutions'"
    [text]="'Explore our solutions to help you manage your finances better.'"
    [imageUrl]="'assets/images/banners/solutions-banner.png'"
    [bannerContentClass]="'pageBannerContent'"
></app-page-banner>
<app-unauth-solution-grid></app-unauth-solution-grid>
<div *ngIf="isBrowser">
    <app-explore-solutions-carousel></app-explore-solutions-carousel>
</div>
<app-ucount-banner></app-ucount-banner>
<div *ngIf="isBrowser">
    <app-money-transfer-carousel></app-money-transfer-carousel>
</div>