<div class="tab-carousel-sec">
  <h2 class="heading-title">Gain valuable knowledge</h2>
  <!-- Mobile NgSelect -->  <div class="mobile-tab-selector">
    <ng-select
      [items]="tabs"
      bindLabel="label"
      bindValue="id"
      [(ngModel)]="currentTab"
      (change)="toggleTab(currentTab)"
      [clearable]="false"
      [searchable]="false"
      placeholder="Select a tab"
      class="tab-ng-select custom-ngs"
    ></ng-select>
  </div>
  <!-- Desktop tabs -->
  <ul class="tabs-ul">
    <li
      *ngFor="let tab of tabs"
      [ngClass]="{ activeTab: currentTab === tab.id }"
      (click)="toggleTab(tab.id)"
    >
      <button type="button">{{ tab.label }}</button>
    </li>
  </ul>
  
  <div class="tab-carousel-swiper">
    <swiper-container
      *ngIf="swiperVisible"
      #tabCarouselSwiper
      init="false"
      class="featured-solutions-swiper"
    >
      <swiper-slide class="swiperslide" *ngFor="let slide of currentSlides">
        <div class="featured-card">
          <div class="card-image">
            <img [src]="slide.img" alt="" class="img-fluid" />
          </div>
          <div class="card-info">
            <div class="card-content">
              <h4>{{ slide.title }}</h4>
              <p>{{ slide.description }}</p>
            </div>
            <a [href]="slide.link" class="readmore-btn">read more</a>
          </div>
        </div>
      </swiper-slide>
    </swiper-container>
    <div *ngIf="!swiperVisible" class="card-skeleton-container">
      <div *ngFor="let item of [].constructor(currentSlides.length || 4)" class="card-skeleton">
        <div class="skeleton-image"></div>
        <div class="skeleton-title"></div>
        <div class="skeleton-text"></div>
        <div class="skeleton-link"></div>
      </div>
    </div>
    <div class="custom-control">
      <div class="custom-navigation">
        <div class="tabslide-pagination"></div>
      </div>
    </div>
    <a href="#" class="primaryBtn view-all">view all</a>
  </div>
</div>
