<div class="container-fluid px-0 py-3 image-heading-card-container">
  <div class="row gx-lg-0 gy-5 align-items-stretch">
    <div class="col-lg-3 col-md-6 col-sm-12 column" *ngFor="let card of imageHeaduingCards; let i = index">
      <div class="image-heading-card-wrapper">
        <img class="img-fluid card-header-img" [src]="card.imageUrl" alt="goal-img">
        <div class="image-heading-card">
          <div class="image-heading-card-content">
            <h2 class="image-heading-card-title">{{ card.title }}</h2>
            <p class="image-heading-card-text">{{ card.description }}</p>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

