<div class="page-intro-card" [ngClass]="className">
    <div class="row">
    <div class="col-md-5">
          <div class="intro-card-image">
            <img [src]="imageSrc" [alt]="imageAlt || title" class="img-fluid" />
         </div>
    </div>
    <div class="col-md-7">
        <div class="card-info">
            <div class="card-content">
                <h4>{{ title }}</h4>
                <p>{{ description }}</p>
                <div class="curency" *ngIf="value">
                    <div class="currency-text">
                        <span>R</span>
                        <h5>{{value}}</h5>
                    </div>
                    <span class="currency-tenure">{{valueDescription}}</span>
                </div>
            </div>

            <div class="action-buttons" *ngIf="showButtons">
                <a class="primary-btn a-btn" [href]="primaryButtonLink">{{ primaryButtonLabel }}</a>
                <a class="primary-btn-outline a-btn" [href]="primaryOutlineButtonLink">{{ primaryOutlineButtonLabel }}</a>
            </div>
        </div>
    </div>
    </div>
</div>
