<!-- Tabs With List -->
<div class="tabs-with-list">
  <ul class="nav nav-tabs" id="myTab" role="tablist">
    <li class="nav-item" role="presentation">
      <button
        class="nav-link active"
        id="tab-one-tab"
        data-bs-toggle="tab"
        data-bs-target="#tab-one-pane"
        type="button"
        role="tab"
        aria-controls="tab-one-pane"
        aria-selected="true"
      >
        WHAT YOU CAN DO
      </button>
    </li>
    <li class="nav-item" role="presentation">
      <button
        class="nav-link"
        id="tab-two-tab"
        data-bs-toggle="tab"
        data-bs-target="#tab-two-pane"
        type="button"
        role="tab"
        aria-controls="tab-two-pane"
        aria-selected="false"
      >
        WHAT IT COSTS
      </button>
    </li>
    <li class="nav-item" role="presentation">
      <button
        class="nav-link"
        id="tab-three-tab"
        data-bs-toggle="tab"
        data-bs-target="#tab-three-pane"
        type="button"
        role="tab"
        aria-controls="tab-three-pane"
        aria-selected="false"
      >
        HOW TO GET IT
      </button>
    </li>
  </ul>
  <div class="tab-content" id="myTabContent">
    <div
      class="tab-pane fade show active"
      id="tab-one-pane"
      role="tabpanel"
      aria-labelledby="tab-one-tab"
    >
      <ul class="list-with-icon">
        <li><p>Withdraw up to R 5 000 cash a day</p></li>
        <li><p>Pay your accounts*</p></li>
        <li><p>Change your overdraft limit*</p></li>
        <li><p>Deposit cash and cheques at any AutoBank ATM</p></li>
        <li><p>Get stamped deposit slips for cash and cheque deposits*</p></li>
        <li><p>Buy pre-paid airtime, data or electricity</p></li>
        <li><p>Pay municipal bills</p></li>
        <li><p>Pay traffic fines</p></li>
        <li><p>Send Instant Money to anyone with a cellphone in SA</p></li>
        <li><p>Check balances and statements</p></li>
        <li><p>Get stamped A4 statements</p></li>
        <li><p>Order cheque books</p></li>
        <li><p>Open savings and investment accounts, and see latest interest rates available</p></li>
      </ul>
      <div class="noteText">*Only available at AutoPlus ATMs</div>
      <div class="bottom-links">
        <a href="https://www.standardbank.co.za/static_file/South%20Africa/PDF/Personal%20Ts%20and%20Cs/Digital_Banking_terms_and_conditions.pdf" target="_blank">See general T&Cs</a>
      </div>
    </div>

    <div
      class="tab-pane fade"
      id="tab-two-pane"
      role="tabpanel"
      aria-labelledby="tab-two-tab"
    >
      <ul class="list-with-icon">
        <li><p>No sign-up fee</p></li>
        <li><p>No monthly subscription fees</p></li>
      </ul>
    </div>

    <div
      class="tab-pane fade"
      id="tab-three-pane"
      role="tabpanel"
      aria-labelledby="tab-three-tab"
    >
      <ul class="list-with-icon">
        <li><p>Go to your nearest Standard Bank ATM</p></li>
        <li><p>Insert your card and follow the prompts</p></li>
      </ul>
      <p class="text-normal">See safe ways to bank at ATMs</p>
    </div>
  </div>
</div>
