    <div class="list-table-container">
        <div class="custom-tabs">
            <button 
                type="button" 
                [class.activetab]="activeTab() === 'in-progress'"
                (click)="changeTab('in-progress')">
                In Progress
            </button>
            <button 
                type="button" 
                [class.activetab]="activeTab() === 'resolved'"
                (click)="changeTab('resolved')">
                Resolved
            </button>
        </div>        
        <div class="controls">
            <app-custom-search
                placeholder="Search"
                [searchValue]="searchQuery()"
                (searchChange)="onSearch($event)">
            </app-custom-search>
            <button type="button" class="filter-btn">
                <span>FILTER</span>
                <img
                    src="assets/images/icons/filter-icon.png"
                    class="img-fluid"
                    alt="filter"
                />
            </button>
        </div>
        <div class="custom-table">
            <div class="responsive-table">
                <table>
                    <thead>
                        <tr>
                            <th><span>Type</span></th>
                            <th><span>Subject</span></th>
                            <th><span>Description</span></th>
                            <th><span>Date created</span></th>
                            <th><span>Status</span></th>
                        </tr>
                    </thead>
                    <tbody>
                        @for (ticket of paginatedTickets(); track $index) {
                        <tr>
                            <td>
                                <span class="text">{{ ticket.type }}</span>
                            </td>
                            <td>
                                <span class="text">{{ ticket.subject }}</span>
                            </td>
                            <td>
                                <p class="text">{{ ticket.description }}</p>
                            </td>
                            <td>
                                <span class="text">{{ ticket.dateCreated }}</span>
                            </td>
                            <td>
                                <div class="status-chip {{ ticket.statusClass }}">
                                    <span class="dot"></span>
                                    <span class="status-text">{{ ticket.status }}</span>
                                </div>
                            </td>
                        </tr>
                        } @empty {
                        <tr>
                            <td colspan="5" class="text-center">No tickets found</td>
                        </tr>
                        }
                    </tbody>
                </table>
            </div>
        </div>
    </div>
    <!-- Pagination -->
    @if (hasPagination()) {
    <div class="custom-pagination">
        <button 
            type="button" 
            (click)="prevPage()" 
            [disabled]="isFirstPage()"
            [class.disabled]="isFirstPage()">
            <img 
                src="assets/images/icons/carousel-arrow-lt.png" 
                alt="arrow" 
                class="img-fluid"
                [class.disabled-arrow]="isFirstPage()" />
        </button>
        <ul>
            @for (page of paginationNumbers(); track page) {
            <li [class.selected]="page === currentPage()">
                <button type="button" (click)="changePage(page)">{{ page }}</button>
            </li>
            }
        </ul>
        <button 
            type="button" 
            (click)="nextPage()" 
            [disabled]="isLastPage()"
            [class.disabled]="isLastPage()">
            <img 
                src="assets/images/icons/carousel-arrow-rt.png" 
                alt="arrow" 
                class="img-fluid"
                [class.disabled-arrow]="isLastPage()" />
        </button>
        <!-- <div class="pagination-info" aria-live="polite">
            {{ getPaginationLabel() }}
        </div> -->
    </div>
    }