<!-- Tabs With List -->
<div class="tabs-with-list">
  <ul class="nav nav-tabs" id="myTab" role="tablist">
    <li class="nav-item" role="presentation">
      <button
        class="nav-link active"
        id="tab-one-tab"
        data-bs-toggle="tab"
        data-bs-target="#tab-one-pane"
        type="button"
        role="tab"
        aria-controls="tab-one-pane"
        aria-selected="true"
      >
        What we get

      </button>
    </li>
    <li class="nav-item" role="presentation">
      <button
        class="nav-link"
        id="tab-two-tab"
        data-bs-toggle="tab"
        data-bs-target="#tab-two-pane"
        type="button"
        role="tab"
        aria-controls="tab-two-pane"
        aria-selected="false"
      >
       What we cover

      </button>
    </li>
    <li class="nav-item" role="presentation">
      <button
        class="nav-link"
        id="tab-three-tab"
        data-bs-toggle="tab"
        data-bs-target="#tab-three-pane"
        type="button"
        role="tab"
        aria-controls="tab-three-pane"
        aria-selected="false"
      >
      How to claim

      </button>
    </li>

  </ul>
  <div class="tab-content" id="myTabContent">
    <div
      class="tab-pane fade show active"
      id="tab-one-pane"
      role="tabpanel"
      aria-labelledby="tab-one-tab"
    >
      <ul class="list-with-icon">
        <li>
            <p>Mitigation advice to reduce potential losses</p>
        </li>
        <li>
            <p>Appropriate risk transfer solutions tailored to your needs</p>
        </li>
        <li>
            <p>No gaps in the average provided, ensuring comprehensive coverage</p>
        </li>
        <li>
            <p>Optimisation of insurance spend for cost-effectiveness</p>
        </li>
        <li>
            <p>Asset valuations and value additions for accurate cover</p>
        </li>
        <li>
            <p>Risk retention analysis to determine optimal self-insurance levels</p>
        </li>
        <li>
            <p>Pre- and post-loss surveys to assess and manage risks</p>
        </li>
        <li>
            <p>Post-loss recommendations for improved risk management</p>
        </li>
        <li>
            <p>Strategic claims management for efficient claims resolution</p>
        </li>
      </ul>
      <div class="bottom-links">
        <a href="https://www.standardbank.co.za/static_file/South%20Africa/PDF/Insuring/List_of_Our_Underwritters_BusIness.pdf" target="_blank">See our underwriters</a>
      </div>
    </div>

    <div
      class="tab-pane fade"
      id="tab-two-pane"
      role="tabpanel"
      aria-labelledby="tab-two-tab"
    >
      <ul class="list-with-icon">
        <li><p>All risks on property, vehicles, and assets</p></li>
        <li><p>Business interruption</p></li>
        <li><p>Public liability or casualty</p></li>
        <li><p>Directors’ and officers’ liability</p></li>
        <li><p>Marine liabilities</p></li>
        <li><p>Goods in transit by sea, air, road, and rail</p></li>
        <li><p>Contractors’ and plant all risks</p></li>
        <li><p>Bonds and guarantees</p></li>
        <li><p>Financial lines</p></li>
      </ul>
    </div>

    <div
      class="tab-pane fade"
      id="tab-three-pane"
      role="tabpanel"
      aria-labelledby="tab-three-tab"
    >
            <ul class="list-with-icon">
              <li><p>Call us on 0860 123 555</p></li>
              <li><p>Or call 0860 123 999</p></li>
            </ul>
    </div>

  </div>
</div>
