@use '../../styles/custom-breakpoints' as bp;

.exchange-rate-sec{
    padding-bottom: 80px;
}

.sec-heading-md{
    margin-bottom: 1rem;
}

.exchange-rate-container{
    background-color: #FFFFFF; border: 1px solid var(--color-gray-pale); border-radius: 0.75rem; overflow: hidden;
    padding-top: 1.375rem;
    padding-bottom: 1.375rem;
}

.sec-heading-md{
    font-family: "BSP-Regular", sans-serif;
    font-size: 1.75rem;
    line-height: 1.3;
    color: #FFFFFF;
    margin-bottom: 1.25rem;
}

.exchange-status{
    height: 100%; display: flex; flex-direction: column; justify-content: space-between;
    padding: 0 2.5rem; position: relative;
    @media screen and (max-width:768px) {
      padding: 0 1.125rem;
    }
    @media screen and (max-width:991px) {
      justify-content: center; gap: 1rem;
    }
     &::before{
        content: ""; display: block; height: 100%; width: 0.4px; background-color: var(--color-gray-light); left: 0.5rem; top: 0; position: absolute;
        @media screen and (max-width:768px) {
          left: 0;
        }
     }
    .time-and-date{
        font-family: "BSP-Medium";
        font-size: 0.875rem;
        line-height: 1.3;
        color: #00164E;
    }
    .address-line{
        font-family: "BSP-Medium";
        font-size: 1.75rem;
        line-height: 1.3;
        color: #00164E;
        margin: 0;
        span{
            font-size: 1.25rem; display: block;
        }
        @include bp.respond-below("mobile-md") {
          font-size: 1.25rem;
          span{
            font-size: 1.125rem;
          }
        }
    }
}


// ng-seect styles Ends

.ngs-floating-label-wrapper {
    position: relative;
    margin: 1rem 0;
    z-index: 1;
    ng-select {
      width: 100%;
    }
  
    .floating-label {
      position: absolute;
      left: 12px;
      top: 50%;
      transform: translateY(-50%);
      background: #FFFFFF;
      padding: 0 4px;
      color: #999;
      font-size: 1rem;
      transition: 0.2s ease all;
      pointer-events: none;
      z-index: 1;
    }
  
    &.focused .floating-label {
      top: 0;
      font-size: 0.75rem;
      color: var(--color-gray-medium);
      z-index: 1;
    }
    ng-select.ng-select-focused ~ .floating-label {
      top: 0;
      font-size: 0.75rem;
      color: var(--color-gray-medium); 
      z-index: 1;
  
    }
  }


  .currency-input-wrapper{
    margin: 2rem 0 1rem;position: relative;
    .floating-label {
      position: absolute;
      left: 12px;
      top: 0;
      transform: translateY(-50%);
      background: #FFFFFF;
      padding: 0 4px;
      color: var(--color-gray-medium);
      font-size: 0.75rem;
      transition: 0.2s ease all;
      pointer-events: none;
      z-index: 1;
    }
    .input-container{
        display: inline-flex; align-items: center; justify-content: space-between;
        border: 1px solid var(--color-gray-pale) !important; width: 100%; border-radius: 10px; overflow: auto;padding: 8px 10px; height: 50px;
        .currency-type{
            font-family: "BSP-Bold";
            font-size: 1rem;
            line-height: 1.3;
            color: var(--color-text);
        }
        input{
            border: none; outline: none; margin-left: auto; text-align: end;
            &::placeholder{font-family: "BSP-Regular" !important; color: var(--color-gray-lightest);}
            font-family: "BSP-Medium";color: #00164E; font-size: 1rem; width: 100%;
            &:focus{outline: none;} 
            &[type='number']::-webkit-inner-spin-button,
            &[type='number']::-webkit-outer-spin-button {
            -webkit-appearance: none;
            margin: 0;
            }
            &[type='number'] {
                -moz-appearance: textfield;
                appearance: textfield;
              }
        }
    }
  }