<div class="page-bg py-4">
  <div class="custom-container">

    <!-- Breadcrumb -->

    <app-breadcrumb
      [showBackButton]="false"
      customClass="h-center"
      [breadcrumbs]="[
        { label: 'Home', url: '/' },
        { label: 'My Mobiz', url: '/my-mobiz-account' },
        { label: 'Business current account application' }
      ]"
      ></app-breadcrumb>        

    <app-page-intro
      title="Business current account application"
      description="Which best describes your business? "
    ></app-page-intro>

    <div class="info-card-pair">
      <div class="info-card">
        <div class="info-header">
          <img
            class="img-fluid avatar-img"
            src="assets/images/media/boy-img.png"
            alt="card-info-icon"
          />
          <h4>Your business meets ALL of the criteria</h4>
          <p>Your business has <span>one owner</span></p>
        </div>
        <div class="info-body">
          <h5>Your business is a</h5>
          <ul class="list-with-icon">
            <li><p>Single member entity</p></li>
            <li><p>Sole Proprietor</p></li>
            <li>
              <p>
                Registered Entity ie. Private Company (PTY LTD) or a Close
                Corporation (CC)
              </p>
            </li>
          </ul>

          <h5>What you need</h5>
          <ul class="list-with-icon">
            <li><p>Must be a South African citizen</p></li>
            <li><p>Must be 18 and above</p></li>
            <li>
              <p>
                Business registration number (if you have a registered entity)
              </p>
            </li>
            <li>
              <p>
                Device with a camera to verify your identity through facial
                recognition
              </p>
            </li>
          </ul>
        </div>
        <div class="info-footer">
          <button type="button" class="primary-btn" [routerLink]="'/my-mobiz-account/apply-account'">apply now</button>
        </div>
      </div>
      <div class="info-card">
        <div class="info-header">
          <img
            class="img-fluid avatar-img"
            src="assets/images/media/boy-img.png"
            alt="card-info-icon"
          />
          <h4>Your business meets ALL of the criteria</h4>
          <p>Your business has <span>one owner</span></p>
        </div>
        <div class="info-body">
          <h5>Your business is a</h5>
          <ul class="list-with-icon">
            <li><p>Single member entity</p></li>
            <li><p>Sole Proprietor</p></li>
            <li>
              <p>
                Registered Entity ie. Private Company (PTY LTD) or a Close
                Corporation (CC)
              </p>
            </li>
          </ul>

          <h5>What you need</h5>
          <ul class="list-with-icon">
            <li><p>Must be a South African citizen</p></li>
            <li><p>Must be 18 and above</p></li>
            <li>
              <p>
                Business registration number (if you have a registered entity)
              </p>
            </li>
            <li>
              <p>
                Device with a camera to verify your identity through facial
                recognition
              </p>
            </li>
          </ul>
        </div>
        <div class="info-footer">
          <button type="button" class="primary-btn">get started</button>
        </div>
      </div>
    </div>
  </div>
</div>
