 <div class="stepper-container">
      <div class="stepper">
        @for (step of steps; track step.id) {
          <div 
            class="step"
            [class.active]="isActiveStep(step.id)"
            [class.completed]="isCompletedStep(step.id)"
            [class.inactive]="isInactiveStep(step.id)"
            [attr.data-step]="step.id">
            
            <div class="step-number"></div>
            <div class="step-title">{{ step.title }}</div>
            
            @if (step.id !== steps.length) {
              <div class="step-connector"></div>
            }
          </div>
        }
      </div>

      <!-- Dynamic Component Container -->
      <div class="step-content">
        <div #dynamicComponentContainer></div>
      </div>

      <div class="demo-controls">
        <button 
          (click)="resetStepper()" 
          class="btn-text border-1 border-light-subtle">
          Reset
        </button>
        <button 
          (click)="previousStep()" 
          [disabled]="currentStep() === 1"
          class="primary-btn-outline ms-auto">
          Previous
        </button>
        <button 
          (click)="nextStep()" 
          [disabled]="currentStep() === steps.length"
          class="primary-btn">
          Next
        </button>
        

      </div>
    </div>