<div class="dashboard-page">
    <app-top-nav></app-top-nav>
    <div class="dashboard-container">
        <div class="dashboard-sidemenu">
            <a href="/" class="logo text-center"><img src="assets/standard-bank-Brand.png" alt="standard-bank-Brank" class="img-fluid" /></a>
            <ul class="menu-list">
                <li class="activeLink">
                    <a href="#">
                        <img src="assets/images/icons/trade-content.png" alt="standard-bank-Brank" class="img-fluid" />
                    </a>
                </li>
                <li>
                    <a href="#">
                        <img src="assets/images/icons/trade-content.png" alt="standard-bank-Brank" class="img-fluid" />
                        <span>Trade Content</span>
                    </a>
                </li>
            </ul>
        </div>

        <div class="dasboard-content">
        <div class="custom-container">
            <app-header></app-header>
        </div>

        <div class="custom-container">
            <div class="bnr-sec">
            <div class="container-fluid px-0">
                <div class="row gx-0">
                    <div class="col-lg-6">
                        <div class="bnr-content">
                            <h1>Trade Barometer</h1>
                            <p>Get the biannual African trade index, focusing on trade activities in 10 countries, with original data</p>
                            <button type="button" class="bnr-btn">TELL ME MORE</button>
                        </div>
                    </div>
                    <div class="col-lg-6 colRight"></div>
                </div>
            </div>
            </div>
        </div>

        <div class="custom-container">
        <!-- Products -->
        <div class="product-card-sec">
            <div class="title-md">Your products</div>
            <div class="product-card">
                <img src="assets/images/icons/document-sm.png" alt="standard-bank-Brank" class="img-fluid" />
                <p>Payments</p>
            </div>
        </div>


        <!-- You may be interested in -->
            <div class="sec-header">
                <h3 class="title-md">You may be interested in</h3>
                <button type="button" class="text-btn">See all</button>
            </div>
            <div class="custom-carousel explore-sol-slider">
                <swiper-container #swiperExploreSolutions init="false">
                    <swiper-slide>
                        <div class="featured-card">
                            <div class="card-image">
                            <img src="assets/images/cards/online-trade.png" alt="card-image" class="img-fluid" />
                            </div>
                            <div class="card-info">
                            <div class="card-content">
                                <h4>Access our online trade platform</h4>
                                <p>Sing up for our trade platform and let our sophisticated algorithm match you with vetted buyers and sellers.</p>
                            </div>
                            <a href="#" class="primaryBtn">TELL ME MORE</a>
                            </div>
                        </div>
                    </swiper-slide>
                    <swiper-slide>
                        <div class="featured-card">
                            <div class="card-image">
                            <img src="assets/images/cards/online-trade.png" alt="card-image" class="img-fluid" />
                            </div>
                            <div class="card-info">
                            <div class="card-content">
                                <h4>Access our online trade platform</h4>
                                <p>Sing up for our trade platform and let our sophisticated algorithm match you with vetted buyers and sellers.</p>
                            </div>
                            <a href="#" class="primaryBtn">TELL ME MORE</a>
                            </div>
                        </div>
                    </swiper-slide>
                    <swiper-slide>
                        <div class="featured-card">
                            <div class="card-image">
                            <img src="assets/images/cards/online-trade.png" alt="card-image" class="img-fluid" />
                            </div>
                            <div class="card-info">
                            <div class="card-content">
                                <h4>Access our online trade platform</h4>
                                <p>Sing up for our trade platform and let our sophisticated algorithm match you with vetted buyers and sellers.</p>
                            </div>
                            <a href="#" class="primaryBtn">TELL ME MORE</a>
                            </div>
                        </div>
                    </swiper-slide>
                </swiper-container>
                <div class="custom-controls">
                    <div class="custom-navigation">
                        <button class="custom-prev">
                        <img src="assets/images/icons/carousel-arrow-lt.png" alt="left arrow" />
                        </button>
                        <div class="custom-pagination"></div>
                        <button class="custom-next">
                        <img src="assets/images/icons/carousel-arrow-rt.png" alt="left arrow" />
                        </button>
                    </div>
                    </div>
            </div>
         </div>
        
         

        
        </div>

    </div>
</div>