<div class="page-bg py-4">
  <div class="custom-container">
    <!-- Breadcrumb -->
     <app-breadcrumb
        [showBackButton]="false"
        customClass="h-center"
        [breadcrumbs]="[
          { label: 'Home', url: '/' },
          { label: 'Ways to bank' },
          { label: 'Online banking' }
        ]"
      >
      </app-breadcrumb>
    <!-- ./Breadcrumb -->
  <app-page-intro [title]="'Online banking'"></app-page-intro>   
  <div class="sec-b-space"> 
  <app-page-promo-card 
      [title]="promoCardData.title"
      [description]="promoCardData.description"
      [imageSrc]="promoCardData.imageSrc"
      [imageAlt]="promoCardData.imageAlt"
      [storeImages]="promoCardData.storeImages"
      [outlineBtnVisible]="promoCardData.outlineBtnVisible"
      [outlineBtnText]="promoCardData.outlineBtnText"
      [outlineBtnLink]="promoCardData.outlineBtnLink"
      [primaryBtnVisible]="promoCardData.primaryBtnVisible"
      [primaryBtnText]="promoCardData.primaryBtnText"
      [primaryBtnLink]="promoCardData.primaryBtnLink"
    ></app-page-promo-card>
    </div>
    <div class="sec-b-space">
      <h3 class="heading-sm mb-4">Some of the benifits</h3>
      <app-image-heading-card
        [imageHeaduingCards]="imageHeadingCardsData"
      ></app-image-heading-card>
    </div>

    <!-- Tab with list start -->
    <div class="sec-b-space">
      <app-tab-list></app-tab-list>
    </div>
    <!-- Tab with list end -->

    <!-- We also offer carousel start -->
    <div class="sec-b-space">
      <h3 class="heading-sm mb-4">We also offer</h3>
      <app-dynamic-swiper
        [slides]="offerCardData"
        [itemTemplate]="slideTemplate"
        [breakpoints]="customBreakpoints"
      ></app-dynamic-swiper>
      <ng-template #slideTemplate let-carddata>
        <app-featured-card
          [title]="carddata.title"
          [description]="carddata.description"
          [imageSrc]="carddata.imageSrc"
          [imageAlt]="carddata.imageAlt"
          [buttonLabel]="carddata.buttonLabel"
          [buttonLink]="carddata.buttonLink"
          [className]="'wide-card-img'"
        ></app-featured-card>
      </ng-template>
    </div>
    <!-- We also offer carousel end -->
  </div>
</div>
