<div class="new-sevice-request-sec">
    <div class="action-info">
        <a href="#" class="backBtn"><img src="assets/images/icons/back-left-icon.png" alt="back"/><span> Back</span></a>
        <h2 class="section-title">Service Request</h2>
    </div>
    <div class="new-service-request">
        <div class="content">
            <img class="img-fluid avatar-icon" src="assets/images/icons/failed-alert.png" alt="failed-alert">
            <h3>Your request was <br/>
                unsuccessful</h3>
            <p>We could not complete the request. Please try again.</p>
            <a href="#" class="primaryBtn req-btn" [routerLink]="['/service-request/success']">TRY AGAIN</a>
        </div>
    </div>
</div>