<div class="py-4">
    <div class="mb-4">
        <a href="#" class="back-btn mb-4"><img src="assets/images/icons/back-left-icon.png" alt="back"/><span> Back</span></a>
        <h3 class="heading-sm">Service Request</h3>
    </div>
    <div class="new-service-request">
        <div class="content">
            <img class="img-fluid avatar-icon" src="assets/images/icons/failed-alert.png" alt="failed-alert">
            <h3 class="heading-sm fw-md mb-3">Your request was <br/>
                unsuccessful</h3>
            <p class="text-normal mb-5">We could not complete the request. Please try again.</p>
            <a href="#" class="primary-btn req-btn" [routerLink]="['/service-request/success']">TRY AGAIN</a>
        </div>
    </div>
</div>