<div class="page-bg py-4">
  <div class="custom-container">
    <app-page-intro title="MyMoBiz Account"></app-page-intro>
    <div class="form-container">
      <h3 class="heading-md mt-3 mb-5 text-center">Application for business account</h3>

      <div class="step-info d-none">
        <p>Current Step: {{ currentStep }}</p>
        <p>Step Name: {{ getCurrentStepName() }}</p>
      </div>
      <app-wizard-stepper
        [steps]="stepData"
        [initialStep]="1"
        (stepChanged)="onStepChanged($event)"
      >
        >
      </app-wizard-stepper>
    </div>
  </div>
</div>
