<div class="container-fluid px-0">
    <div class="row">
        <div class="col-md-6 col-sm-6 col-xs-12 mb-4">
            <div class="field-preview">
                <span class="label-base">Business name</span>
                <p class="field-title">Rooi Beet Inc</p>
            </div>
        </div>
        <div class="col-md-6 col-sm-6 col-xs-12 mb-4">
            <div class="field-preview">
                <span class="label-base">Business type</span>
                <p class="field-title">Partnership</p>
            </div>
        </div>
        <div class="col-md-6 col-sm-6 col-xs-12 mb-4">
            <div class="field-preview">
                <span class="label-base">Registration number</span>
                <p class="field-title">01123456789</p>
            </div>
        </div>
        <div class="col-md-6 col-sm-6 col-xs-12 mb-4">
            <div class="field-preview">
                <span class="label-base">Trading name</span>
                <p class="field-title">Rooi Beet Inc</p>
            </div>
        </div>
        <div class="col-md-6 col-sm-6 col-xs-12">
            <div class="field-preview">
                <span class="label-base">Industry sector</span>
                <p class="field-title">Agriculture</p>
            </div>
        </div>
        <div class="col-md-6 col-sm-6 col-xs-12">
            <div class="field-preview">
                <span class="label-base">Tax identification number</span>
                <p class="field-title">*****************</p>
            </div>
        </div>
    </div>
</div>