.top-nav{
    background-color: #0033AA; padding: 9px 0;

}
.top-nav-container{
    display: flex; align-items: center; justify-content: space-between; gap: 1rem;
}

.text-title{
    font-family: "BSP-Regular";font-size: 0.875rem; line-height: normal; margin: 0; color: #FFFFFF;
}

