<div class="explore-solutions-sec">
    <div class="custom-container">
        <div class="carousel-container">
            <div class="sec-title-wrap">
                <h2 class="sec-title">Our full range of solutions</h2>
                <p class="sec-description">Access a wide range of solutions suited to meet your needs, whether you're starting, growing or managing your business</p>
            </div>
        
            <div class="custom-carousel explore-sol-slider">
                <swiper-container #swiperExploreSolutions init="false">
                    <swiper-slide>
                        <div class="slide">
                            <img src="assets/images/icons/bank-img.png" alt="bank" class="img-fluid" />
                            <h3>Bank</h3>
                          </div>
                    </swiper-slide>
                    <swiper-slide>
                        <div class="slide">
                            <img src="assets/images/icons/borrow-img.png" alt="borrow" class="img-fluid" />
                            <h3>Borrow</h3>
                          </div>
                    </swiper-slide>
                    <swiper-slide>
                        <div class="slide">
                            <img src="assets/images/icons/grow-img.png" alt="insure" class="img-fluid" />
                            <h3>Save & Invest</h3>
                          </div>
                    </swiper-slide>
                    <swiper-slide>
                        <div class="slide">
                            <img src="assets/images/icons/insure-img.png" alt="insure" class="img-fluid" />
                            <h3>Insure</h3>
                          </div>
                    </swiper-slide>
                    <swiper-slide>
                        <div class="slide">
                            <img src="assets/images/icons/insure-img.png" alt="bank" class="img-fluid" />
                            <h3>Bank</h3>
                          </div>
                    </swiper-slide>
                </swiper-container>
                <div class="custom-controls">
                    <div class="custom-navigation">
                      <button class="custom-prev">
                        <img src="assets/images/icons/carousel-arrow-lt.png" alt="left arrow" />
                      </button>
                      <div class="custom-pagination"></div>
                      <button class="custom-next">
                        <img src="assets/images/icons/carousel-arrow-rt.png" alt="left arrow" />
                      </button>
                    </div>
                  </div>
            </div>
              
        </div>
    </div>
</div>