<div class="py-4">
    <div class="mb-4">
        <a href="#" class="back-btn mb-4"><img src="assets/images/icons/back-left-icon.png" alt="back"/><span> Back</span></a>
        <h3 class="heading-sm">Service Request</h3>
    </div>
    <div class="new-service-request">
        <div class="content">
            <img class="img-fluid avatar-icon" src="assets/images/icons/success-check.png" alt="success icon">
            <h3>Your request was submitted successfully</h3>
            <p>Your reference number is #123456789.</p>
            <a href="#" class="primary-btn req-btn" [routerLink]="['/service-request/list']">DONE</a>
        </div>
    </div>
</div>