.support-contact-sec{
    background-color: #E3E6EA; padding: 9.25rem 0;
}
.colFirst{
    display: flex; align-items: center;
    div{
        span{
            font-family: "BSP-Regular";
            font-size: 0.875rem;
            line-height: 1.3;
            color: var(--text-color);
            display: block; margin-bottom: 0.5rem;
        }
    }
}
.help-card {
    padding: 3rem 1rem; background-color: #FFFFFF; border: 1px solid #CED3D9; border-radius: 0.625rem; text-align: center; height: 100%;
    .help-card-content{
        max-width: 260px; margin: 0 auto;
        h5 {
            font-family: "BSP-Medium";
            font-size: 1.25rem;
            line-height: 1.3;
            color: var(--text-color);
            margin: 0;
        }
        p {
            font-family: "BSP-Regular";
            font-size: 1rem;
            line-height: 1.3;
            color: var(--text-color);
            margin: 1.625rem 0 2.25rem;
        }
        .primaryBtn{width: 100%;}
    }

}
