<div class="support-contact-sec">
    <div class="custom-container">
        <div class="container-fluid px-0">
            <div class="row align-items-stretch">
                <div class="col-lg-4 colFirst">
                    <div>
                        <span>Support & Contact</span>
                        <h2 class="heading-title">Reach out to us for additional support</h2>
                    </div>
                </div>
                <div class="col-lg-4">
                    <div class="help-card">
                        <div class="help-card-content">
                            <h5>Help & support</h5>
                            <p>We're here to help with your questions or queries</p>
                            <a href="#" class="primaryBtn" target="_blank" rel="button">Give us a call</a>
                        </div>
                    </div>
                </div>
                <div class="col-lg-4">
                    <div class="help-card">
                        <div class="help-card-content">
                        <h5>Stay informed</h5>
                        <p>Keep up to date with our latest solutions and more</p>
                        <a href="#" class="primaryBtn" target="_blank" rel="button">Subscribe to newsletter</a>
                    </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>