<div class="account-select">
    <ng-select
        [items]="accounts"
        bindLabel="name"
        [(ngModel)]="selectedAccount"
        placeholder="Select an account" 
        class="select-account-ngs"
        >
    </ng-select>
    <div *ngIf="selectedAccount; else noAccountSelected" class="account-details">
        <p class="number"><span class="label-sm">Account number :</span> {{selectedAccount.number}}</p>
        <p class="balance"><span class="label-sm">Balance :</span> {{selectedAccount.balance}}</p>
    </div>
    <ng-template #noAccountSelected>
        <div class="account-details">
            <p class="number"><span class="label-sm">Account number :</span> ------------</p>
            <p class="balance"><span class="label-sm">Balance :</span> ------------</p>
        </div>
    </ng-template>
</div>