

<div class="custom-container">
    <app-dynamic-swiper 
        [slides]="teamMembers"
        [itemTemplate]="slideTemplate"
        [breakpoints]="customBreakpoints"
    ></app-dynamic-swiper>
    <ng-template #slideTemplate let-member>
        <div class="card">
            <img [src]="member.image" alt="{{ member.name }}" />
            <h3>{{ member.name }}</h3>
            <p>{{ member.role }}</p>
        </div>
    </ng-template>


        <app-dynamic-swiper 
        [slides]="teamMembers2"
        [itemTemplate]="slideTemplate2"
        [breakpoints]="customBreakpoints2"
    ></app-dynamic-swiper>
    <ng-template #slideTemplate2 let-member>
        <div class="card">
            <img [src]="member.image" alt="{{ member.name }}" />
            <h3>{{ member.name }}</h3>
            <p>{{ member.role }}</p>
        </div>
    </ng-template>
</div>
<div class="faq-page">
    <div class="custom-container">
        <div class="page-title">
            <button class="back-to-prev" type="button" [routerLink]="['/']">
                <img class="img-fluid" src="assets/images/icons/back_to_prev.png" alt="back to prev"/>
            </button>
            <h2 class="sec-title">FAQs</h2>
        </div>
        <div class="sec-desc">
            <p>Need some help? You've come to the right place!</p>
            <p>Find the answers you need below.</p>
        </div>
        
        <!-- By default close Replace 
        [ngClass]="{ collapsed: i !== 0 }"
        [ngClass]="{ show: i === 0 }"
        [attr.aria-expanded]="i === 0"
                with
        [ngClass]="{ collapsed: true }"
        [ngClass]="{ show: false }"
        [attr.aria-expanded]="false" -->

        <!-- What Is BCB -->
        <h3 class="title-md">What is the BCB Platform?</h3>
        <div class="accordion custom-accordion" id="whatisbcb">
        <div class="accordion-item" *ngFor="let item of whatisBcb; let i = index">
            <h2 class="accordion-header" [id]="'whatisbcb-heading' + item.id">
            <button
                class="accordion-button shadow-none"
                [ngClass]="{ collapsed: true }"
                type="button"
                data-bs-toggle="collapse"
                [attr.data-bs-target]="'#whatisbcb-collapse' + item.id"
                [attr.aria-expanded]="false"
                [attr.aria-controls]="'whatisbcb-collapse' + item.id"
            >
                {{ item.title }}
            </button>
            </h2>
            <div
            class="accordion-collapse collapse"
            [ngClass]="{ show: false }"
            [id]="'whatisbcb-collapse' + item.id"
            [attr.aria-labelledby]="'whatisbcb-heading' + item.id"
            data-bs-parent="#whatisbcb"
            >
            <div class="accordion-body">
                <p *ngFor="let paragraph of item.content" [innerHTML]="paragraph"></p>
            </div>
            </div>
        </div>
        </div>

        <!-- How secure is the BCB Platform? -->
        <h3 class="title-md">How secure is the BCB Platform?</h3>
        <div class="accordion custom-accordion" id="secureBcb">
        <div class="accordion-item" *ngFor="let item of secureBcb; let i = index">
            <h2 class="accordion-header" [id]="'secureBcb-heading' + item.id">
            <button
                class="accordion-button shadow-none"
                [ngClass]="{ collapsed: true }"
                type="button"
                data-bs-toggle="collapse"
                [attr.data-bs-target]="'#secureBcb-collapse' + item.id"
                [attr.aria-expanded]="false"
                [attr.aria-controls]="'secureBcb-collapse' + item.id"
            >
                {{ item.title }}
            </button>
            </h2>
            <div
            class="accordion-collapse collapse"
            [ngClass]="{ show: false }"
            [id]="'secureBcb-collapse' + item.id"
            [attr.aria-labelledby]="'secureBcb-heading' + item.id"
            data-bs-parent="#secureBcb"
            >
            <div class="accordion-body">
                <p *ngFor="let paragraph of item.content" [innerHTML]="paragraph"></p>
            </div>
            </div>
        </div>
        </div>

        <!-- How do I register on the BCB Platform? -->
        <h3 class="title-md">How do I register on the BCB Platform?</h3>
        <div class="accordion custom-accordion" id="registerbcb">
        <div class="accordion-item" *ngFor="let item of registerBcb; let i = index">
            <h2 class="accordion-header" [id]="'registerbcb-heading' + item.id">
            <button
                class="accordion-button shadow-none"
                [ngClass]="{ collapsed: true }"
                type="button"
                data-bs-toggle="collapse"
                [attr.data-bs-target]="'#registerbcb-collapse' + item.id"
                [attr.aria-expanded]="false"
                [attr.aria-controls]="'registerbcb-collapse' + item.id"
            >
                {{ item.title }}
            </button>
            </h2>
            <div
            class="accordion-collapse collapse"
            [ngClass]="{ show: false }"
            [id]="'registerbcb-collapse' + item.id"
            [attr.aria-labelledby]="'registerbcb-heading' + item.id"
            data-bs-parent="#registerbcb"
            >
            <div class="accordion-body">
                <p *ngFor="let paragraph of item.content" [innerHTML]="paragraph"></p>
            </div>
            </div>
        </div>
        </div>

      
    </div>
</div>