<div class="header-sec">
    <div class="header-container">
        <a href="#" class="logo">
            <img class="logo-brand-icon" src="assets/standard-bank-Brand.png" alt="standard-bank-Brand"/>
            <span>Standard Bank Business Banking</span>
        </a>
        <div class="colRight">
            <button type="button" class="contact-us">
                <img class="img-fluid" src="assets/images/icons/icn_call-plus-w.png" alt="call"/>
                <span>Contact us</span>
            </button>
            <button type="button" class="notifier"><img class="img-fluid" src="assets/images/icons/icn_bell-w.png" alt="call"/></button>
            <button type="button" class="profile-btn">
                <div class="avatar">
                    <span>RG</span>
                </div>
                <div class="profile-name">
                    <h5>Robin Green</h5>
                    <span>Grren Bicyle Factory</span>
                </div>
                <img class="logo-brand-icon" src="assets/images/icons/chevron-down-white.png" alt="call"/>
            </button>
        </div>
    </div>
</div>